In [1]:
import pandas as pd
from fullfrlm import flow_refueling_location_model
from get_abm_data import get_cs_data_batch, get_vessel_data_batch
import pickle

In [2]:
seeds = [259572, 7542, 864199, 11540, 188813, 411862, 546078, 420812, 304196, 814030]

In [3]:
# for seed in seeds:
total_flow, fraction_captured_total, serviceable_fraction, served_fraction, optimal_facilities, \
    non_zero_flows, routes_supported, paths, G, df_abm, df_random_out = flow_refueling_location_model(1, seeds[0], 70000, 40, 600, 2, False, False, False)

Optimal

In [6]:
batch_data = pickle.load(open('ABM/own_work/data/batch_run_result.p', 'rb'))

In [7]:
df_cs = get_cs_data_batch(batch_data)

In [8]:
df_cs

          occupation  max_occupation  avg_line  max_line  charging_stations
AgentID
8868191     0.024715           1.000  0.000000     0.000                1.0
8866297     0.029725           1.000  0.000000     0.000                1.0
8863709     0.030419           1.000  0.000174     0.125                1.0
8865412     0.032713           1.000  0.000930     0.375                1.0
22638146    0.037636           1.000  0.000000     0.000                1.0
8864111     0.042597           1.000  0.002046     0.250                1.0
8864837     0.045734           1.000  0.000694     0.375                1.0
8868208     0.047321           1.000  0.001426     0.250                1.0
8867395     0.050062           1.000  0.000322     0.125                1.0
22637863    0.050831           1.000  0.000831     0.250                1.0
8864566     0.060193           1.000  0.001463     0.250                1.0
22638327    0.061582           1.000  0.002170     0.500                1.0
8863818     0.067113           1.000  0.001153     0.250                1.0
8865600     0.073475           1.000  0.003435     0.375                1.0
8866889     0.078968           1.000  0.005184     0.625                1.0
8866893     0.079849           1.000  0.003435     0.625                1.0
8865605     0.088207           1.375  0.000000     0.000                2.0
8867240     0.094221           1.000  0.008395     0.625                1.0
8863469     0.099851           1.000  0.007800     0.750                1.0
8865756     0.102555           1.500  0.000000     0.000                2.0
8863019     0.106052           1.000  0.004489     0.625                1.0
8867740     0.118217           1.000  0.005345     0.750                1.0
30984595    0.160218           1.875  0.000000     0.000                2.0
8864005     0.166270           2.000  0.000595     0.250                2.0
8867538     0.191468           2.000  0.000000     0.000                2.0
8866763     0.196168           2.000  0.001228     0.375                2.0
8863306     0.198388           2.000  0.000769     0.250                2.0
8865003     0.202121           1.875  0.000905     0.250                2.0
8866686     0.221788           1.875  0.002505     0.500                2.0
8862663     0.233036           1.875  0.005531     0.375                2.0

In [9]:
df_vessels = get_vessel_data_batch(batch_data)

In [10]:
df_vessels.groupby('route').mean().sort_values('time_in_line', ascending=False)

,id,time_departed,travel_time,time_in_line,time_charging,battery_size
route,,,,,,
"(NLVEN, NLBON, 0)",220.636364,6217.363636,242.636364,11.909091,138.000000,6026.363636
"(NLNIJ, NLWAS, 0)",230.700000,6506.300000,229.600000,9.100000,151.900000,5964.000000
"(NLTNZ, NLVLI, 0)",200.733333,5599.133333,110.000000,7.066667,79.666667,5766.533333
"(NLALK, NLIJM, 0)",191.411765,5380.882353,258.000000,2.705882,56.764706,2335.529412
"(NLOOS, NLTLB, 0)",261.866667,7439.266667,127.000000,2.066667,83.666667,6650.000000
"(NLGOR, NLRTM, 0)",201.133333,5807.600000,237.000000,1.133333,112.733333,5455.800000
"(NLRTM, NLAPN, 0)",186.026316,5265.184211,186.000000,1.131579,73.921053,3631.157895
"(NLMOE, NLAPN, 1)",176.500000,4947.000000,317.000000,0.833333,161.000000,6078.333333
"(NLRTM, NLGTB, 1)",144.222222,4159.888889,263.555556,0.000000,119.333333,5148.888889
"(NLRTM, NLMOE, 0)",225.906250,6332.562500,187.562500,0.000000,115.906250,6328.437500
"(NLABL, NLRTM, 0)",211.111111,6029.000000,65.000000,0.000000,63.111111,6829.111111
"(NLRTM, NLMOE, 1)",184.333333,5244.083333,188.000000,0.000000,164.750000,7836.666667
"(NLRTM, NLWLK, 1)",147.562500,4234.062500,361.000000,0.000000,61.750000,2031.000000
"(NLTLB, NLMOE, 0)",163.142857,4597.142857,275.000000,0.000000,126.571429,5330.285714
"(NLTNZ, NLBRS, 0)",261.750000,7501.750000,121.000000,0.000000,41.250000,3483.000000
"(NLUTC, NLTIE, 0)",249.000000,6853.285714,195.000000,0.000000,90.000000,5330.285714
"(NLSWI, NLLEY, 0)",199.800000,5608.200000,99.000000,0.000000,44.400000,2142.600000
"(NLMOE, NLOOS, 0)",212.800000,5993.600000,148.000000,0.000000,85.000000,6650.000000
"(NLNIJ, NLDRU, 0)",204.400000,5842.000000,143.000000,0.000000,73.600000,5964.000000
"(NLAER, NLLEY, 0)",242.363636,6841.090909,158.000000,0.000000,27.181818,1973.636364
"(NLKGZ, NLZAA, 0)",234.400000,6403.000000,22.000000,0.000000,5.800000,3626.200000
"(NLKGZ, NLAMS, 0)",145.600000,4172.700000,13.000000,0.000000,15.700000,1449.300000
"(NLHAR, NLWTE, 0)",183.590909,5220.727273,206.000000,0.000000,154.636364,8705.045455
"(NLFAR, NLEEM, 0)",193.375000,5626.750000,157.000000,0.000000,62.500000,3325.125000
"(NLDRO, NLKAM, 0)",238.000000,6728.727273,87.000000,0.000000,20.272727,2571.454545
"(NLDOR, NLRTM, 1)",79.666667,2315.666667,130.000000,0.000000,73.000000,6269.333333
"(NLDOR, NLRTM, 0)",245.562500,6973.062500,130.000000,0.000000,57.812500,5792.500000
"(NLAMS, NLZAA, 0)",142.777778,4082.000000,30.000000,0.000000,28.000000,2354.444444
"(NLAMS, NLWMO, 0)",241.333333,6758.750000,30.000000,0.000000,5.250000,1400.000000
"(NLAMS, NLUTC, 1)",185.200000,5313.800000,279.000000,0.000000,156.800000,6514.800000
"(NLAMS, NLAER, 0)",249.404762,7022.857143,228.000000,0.000000,63.976190,3260.238095
"(NLWSP, NLAER, 0)",171.000000,5000.000000,183.000000,0.000000,54.888889,3469.000000

In [11]:
df_vessels

,id,route,combi,time_departed,travel_time,time_in_line,time_charging,battery_size
0,1,"(NLSWI, NLLEY, 0)",[8863709],16,99,0,67,3220
1,4,"(NLAMS, NLZAA, 0)",[8866763],112,30,0,48,3220
2,7,"(NLDOR, NLRTM, 1)",[8862663],239,130,0,0,9404
3,0,"(NLHAR, NLWTE, 0)","[8865756, 8865605]",13,206,0,167,9404
4,2,"(NLRTM, NLWLK, 1)","[8866893, 8863306]",63,361,0,46,2031
...,...,...,...,...,...,...,...,...
408,406,"(NLRTM, NLMOE, 0)",[8865003],11074,188,0,148,6650
409,407,"(NLUTC, NLTIE, 0)","[8867240, 22638146]",11114,195,0,112,6650
410,412,"(NLRTM, NLAPN, 0)",[8867538],11215,186,0,66,3220
411,409,"(NLRTM, NLMOE, 0)",[8865003],11134,188,0,148,6650
412,408,"(NLAMS, NLAER, 0)","[8866763, 8864005]",11119,228,0,131,6650

In [18]:
df_cs = get_cs_data_batch(batch_data)
df_cs

          occupation  max_occupation  avg_line  max_line  charging_stations
AgentID
8868191     0.024715           1.000  0.000000     0.000                1.0
8866297     0.029725           1.000  0.000000     0.000                1.0
8863709     0.030419           1.000  0.000174     0.125                1.0
8865412     0.032713           1.000  0.000930     0.375                1.0
22638146    0.037636           1.000  0.000000     0.000                1.0
8864111     0.042597           1.000  0.002046     0.250                1.0
8864837     0.045734           1.000  0.000694     0.375                1.0
8868208     0.047321           1.000  0.001426     0.250                1.0
8867395     0.050062           1.000  0.000322     0.125                1.0
22637863    0.050831           1.000  0.000831     0.250                1.0
8864566     0.060193           1.000  0.001463     0.250                1.0
22638327    0.061582           1.000  0.002170     0.500                1.0
8863818     0.067113           1.000  0.001153     0.250                1.0
8865600     0.073475           1.000  0.003435     0.375                1.0
8866889     0.078968           1.000  0.005184     0.625                1.0
8866893     0.079849           1.000  0.003435     0.625                1.0
8865605     0.088207           1.375  0.000000     0.000                2.0
8867240     0.094221           1.000  0.008395     0.625                1.0
8863469     0.099851           1.000  0.007800     0.750                1.0
8865756     0.102555           1.500  0.000000     0.000                2.0
8863019     0.106052           1.000  0.004489     0.625                1.0
8867740     0.118217           1.000  0.005345     0.750                1.0
30984595    0.160218           1.875  0.000000     0.000                2.0
8864005     0.166270           2.000  0.000595     0.250                2.0
8867538     0.191468           2.000  0.000000     0.000                2.0
8866763     0.196168           2.000  0.001228     0.375                2.0
8863306     0.198388           2.000  0.000769     0.250                2.0
8865003     0.202121           1.875  0.000905     0.250                2.0
8866686     0.221788           1.875  0.002505     0.500                2.0
8862663     0.233036           1.875  0.005531     0.375                2.0

In [19]:

df_vessels = get_vessel_data_batch(batch_data)
df_vessels.groupby('route').mean().sort_values('time_in_line', ascending=False)

,id,time_departed,travel_time,time_in_line,time_charging,battery_size
route,,,,,,
"(NLVEN, NLBON, 0)",220.636364,6217.363636,242.636364,11.909091,138.000000,6026.363636
"(NLNIJ, NLWAS, 0)",230.700000,6506.300000,229.600000,9.100000,151.900000,5964.000000
"(NLTNZ, NLVLI, 0)",200.733333,5599.133333,110.000000,7.066667,79.666667,5766.533333
"(NLALK, NLIJM, 0)",191.411765,5380.882353,258.000000,2.705882,56.764706,2335.529412
"(NLOOS, NLTLB, 0)",261.866667,7439.266667,127.000000,2.066667,83.666667,6650.000000
"(NLGOR, NLRTM, 0)",201.133333,5807.600000,237.000000,1.133333,112.733333,5455.800000
"(NLRTM, NLAPN, 0)",186.026316,5265.184211,186.000000,1.131579,73.921053,3631.157895
"(NLMOE, NLAPN, 1)",176.500000,4947.000000,317.000000,0.833333,161.000000,6078.333333
"(NLRTM, NLGTB, 1)",144.222222,4159.888889,263.555556,0.000000,119.333333,5148.888889
"(NLRTM, NLMOE, 0)",225.906250,6332.562500,187.562500,0.000000,115.906250,6328.437500
"(NLABL, NLRTM, 0)",211.111111,6029.000000,65.000000,0.000000,63.111111,6829.111111
"(NLRTM, NLMOE, 1)",184.333333,5244.083333,188.000000,0.000000,164.750000,7836.666667
"(NLRTM, NLWLK, 1)",147.562500,4234.062500,361.000000,0.000000,61.750000,2031.000000
"(NLTLB, NLMOE, 0)",163.142857,4597.142857,275.000000,0.000000,126.571429,5330.285714
"(NLTNZ, NLBRS, 0)",261.750000,7501.750000,121.000000,0.000000,41.250000,3483.000000
"(NLUTC, NLTIE, 0)",249.000000,6853.285714,195.000000,0.000000,90.000000,5330.285714
"(NLSWI, NLLEY, 0)",199.800000,5608.200000,99.000000,0.000000,44.400000,2142.600000
"(NLMOE, NLOOS, 0)",212.800000,5993.600000,148.000000,0.000000,85.000000,6650.000000
"(NLNIJ, NLDRU, 0)",204.400000,5842.000000,143.000000,0.000000,73.600000,5964.000000
"(NLAER, NLLEY, 0)",242.363636,6841.090909,158.000000,0.000000,27.181818,1973.636364
"(NLKGZ, NLZAA, 0)",234.400000,6403.000000,22.000000,0.000000,5.800000,3626.200000
"(NLKGZ, NLAMS, 0)",145.600000,4172.700000,13.000000,0.000000,15.700000,1449.300000
"(NLHAR, NLWTE, 0)",183.590909,5220.727273,206.000000,0.000000,154.636364,8705.045455
"(NLFAR, NLEEM, 0)",193.375000,5626.750000,157.000000,0.000000,62.500000,3325.125000
"(NLDRO, NLKAM, 0)",238.000000,6728.727273,87.000000,0.000000,20.272727,2571.454545
"(NLDOR, NLRTM, 1)",79.666667,2315.666667,130.000000,0.000000,73.000000,6269.333333
"(NLDOR, NLRTM, 0)",245.562500,6973.062500,130.000000,0.000000,57.812500,5792.500000
"(NLAMS, NLZAA, 0)",142.777778,4082.000000,30.000000,0.000000,28.000000,2354.444444
"(NLAMS, NLWMO, 0)",241.333333,6758.750000,30.000000,0.000000,5.250000,1400.000000
"(NLAMS, NLUTC, 1)",185.200000,5313.800000,279.000000,0.000000,156.800000,6514.800000
"(NLAMS, NLAER, 0)",249.404762,7022.857143,228.000000,0.000000,63.976190,3260.238095
"(NLWSP, NLAER, 0)",171.000000,5000.000000,183.000000,0.000000,54.888889,3469.000000