In [1]:
import pickle
import pandas as pd
import numpy as np
from API import K
import requests
import json
import googlemaps

In [2]:
#import dataframe and drop nans
df_2021 = pd.read_csv('data/2021/2021_combined.csv')
#drop nans
df_2021 = df_2021.loc[df_2021.SK_CODE.isnull() != True]

In [113]:
df_2021

,Unnamed: 0,Jaarmaand,Jaar,Maand,Weeknr,Date,UNLO_herkomst,UNLO_bestemming,v15_1_Scheepstype_RWS,SK_CODE,v18_Laadvermogen,v28_Beladingscode,v38_Vervoerd_gewicht,v30_4_Containers_TEU_S,nstr_nw,nst2007_nw
0,0,2101,2021,1,53,2021-01-01 00:00:00+00:00,NLAMS,BEANR,2,M12,8000.0,3,0.0,0,3.0,7.4
1,1,2101,2021,1,53,2021-01-01 00:00:00+00:00,DEGDO,BEANR,2,M8,2860.0,3,0.0,0,3.0,7.4
2,2,2101,2021,1,53,2021-01-01 00:00:00+00:00,NLVLI,BEWND,2,M9,3520.0,7,3000000.0,0,3.0,7.2
3,3,2101,2021,1,53,2021-01-01 00:00:00+00:00,DEHBO,NLRTM,2,M8,1740.0,7,500000.0,0,8.0,8.2
4,4,2101,2021,1,53,2021-01-01 00:00:00+00:00,NLAMS,DEDUI,16,BIIa-1,2510.0,7,2004000.0,0,3.0,7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385567,385567,2112,2021,12,52,2021-12-31 22:00:00+00:00,DEDMG,BEGNE,16,BIIa-1,3550.0,3,0.0,0,3.0,7.4
385568,385568,2112,2021,12,52,2021-12-31 22:00:00+00:00,NLRTM,BEGNE,2,M10,3940.0,7,3392000.0,0,3.0,7.2
385569,385569,2112,2021,12,52,2021-12-31 22:00:00+00:00,DEMHG,BEANR,2,M9,3510.0,3,0.0,0,3.0,7.2
385570,385570,2112,2021,12,52,2021-12-31 22:00:00+00:00,NLRTM,BEGNE,2,M9,4290.0,7,2000000.0,0,8.0,8.5
385571,385571,2112,2021,12,52,2021-12-31 22:00:00+00:00,FRSXB,NLNIJ,9,C3l,3430.0,7,2178061.0,153,9.0,19.2

In [3]:
# group trips by origin, destination and category
df_t = df_2021.groupby(by=['UNLO_herkomst', 'UNLO_bestemming', 'SK_CODE']).count().reset_index().sort_values(
    by='Jaarmaand', ascending=False).iloc[:, :4].reset_index(drop=True)

In [4]:
# give columns english names
df_t.rename(
    columns={'UNLO_herkomst': 'origin', 'UNLO_bestemming': 'destination', 'SK_CODE': 'type', 'Unnamed: 0': 'trips'},
    inplace=True)

In [5]:
# subset inland trips
df_t = df_t.loc[(df_t.origin.str.contains('NL')) & (df_t.destination.str.contains('NL'))]
df_t.reset_index(inplace=True, drop=True)

In [6]:
#create dict to fill with total number of trips on path for each ship type
df_t_dict = {}
# now fill this dict
# loop over data frame
for i in range(len(df_t)):
    #define temp variables for ease
    origin = df_t['origin'][i]
    destination = df_t['destination'][i]
    ship_type = df_t['type'][i]
    trip_count = df_t['trips'][i]
    #only make new column if trip and its inverse are not in dict yet. Otherwise append.
    if (origin, destination, ship_type) in df_t_dict.keys():
        df_t_dict[(origin, destination, ship_type)] += trip_count
    elif (destination, origin, ship_type) in df_t_dict.keys():
        df_t_dict[(destination, origin, ship_type)] += trip_count
    else:
        df_t_dict[(origin, destination, ship_type)] = trip_count
df_t_dict

{('NLAMS', 'NLRTM', 'M8'): 3510,
 ('NLAMS', 'NLRTM', 'M12'): 2076,
 ('NLRTM', 'NLMOE', 'M8'): 1584,
 ('NLRTM', 'NLRTM', 'M8'): 715,
 ('NLAMS', 'NLRTM', 'M9'): 1316,
 ('NLRTM', 'NLWLK', 'M3'): 973,
 ('NLOOS', 'NLTLB', 'M8'): 688,
 ('NLRTM', 'NLAMS', 'M6'): 881,
 ('NLAER', 'NLAMS', 'BI'): 824,
 ('NLDHR', 'NLDHR', 'M0'): 411,
 ('NLTLB', 'NLRTM', 'M8'): 623,
 ('NLRTM', 'NLOOS', 'M8'): 727,
 ('NLHAR', 'NLWTE', 'M12'): 690,
 ('NLHGL', 'NLRTM', 'M8'): 652,
 ('NLRTM', 'NLVLI', 'M8'): 658,
 ('NLRTM', 'NLRTM', 'M12'): 363,
 ('NLMOE', 'NLOOS', 'M8'): 615,
 ('NLVEG', 'NLRTM', 'M6'): 575,
 ('NLAMS', 'NLRTM', 'M11'): 666,
 ('NLMOE', 'NLAPN', 'M8'): 604,
 ('NLVEG', 'NLRTM', 'M7'): 581,
 ('NLAMS', 'NLMOE', 'M8'): 588,
 ('NLRTM', 'NLMEP', 'M8'): 568,
 ('NLSTD', 'NLSTD', 'M0'): 282,
 ('NLAMS', 'NLLMR', 'BIIL-1'): 553,
 ('NLNIJ', 'NLWAS', 'M8'): 508,
 ('NLWSP', 'NLAER', 'M6'): 510,
 ('NLDOR', 'NLRTM', 'M8'): 459,
 ('NLAMS', 'NLHAS', 'M8'): 436,
 ('NLRTM', 'NLDZL', 'M8'): 415,
 ('NLRTM', 'NLTIE', 'M8'): 450,
 ('NLRTM', 'NLTLB', 'M3'): 439,
 ('NLNIJ', 'NLABL', 'M8'): 413,
 ('NLAMS', 'NLWMO', 'M2'): 451,
 ('NLTNZ', 'NLRTM', 'M8'): 438,
 ('NLRTM', 'NLVLI', 'M9'): 414,
 ('NLAMS', 'NLRTM', 'M10'): 427,
 ('NLRTM', 'NLKAM', 'M8'): 430,
 ('NLRTM', 'NLRTM', 'M6'): 212,
 ('NLAMS', 'NLKGZ', 'M2'): 416,
 ('NLWBR', 'NLRTM', 'M8'): 404,
 ('NLTNZ', 'NLVLI', 'M8'): 390,
 ('NLUTC', 'NLRTM', 'M8'): 386,
 ('NLBZM', 'NLRTM', 'M8'): 373,
 ('NLAER', 'NLAMS', 'M3'): 362,
 ('NLAER', 'NLRTM', 'M6'): 372,
 ('NLALK', 'NLIJM', 'M3'): 373,
 ('NLNKK', 'NLAMS', 'M2'): 330,
 ('NLRTM', 'NLOSS', 'M6'): 348,
 ('NLRTM', 'NLARN', 'M8'): 300,
 ('NLLEY', 'NLAMS', 'M2'): 357,
 ('NLBZM', 'NLRTM', 'M6'): 352,
 ('NLBZM', 'NLHTB', 'M8'): 359,
 ('NLRTM', 'NLNIJ', 'M8'): 358,
 ('NLZWO', 'NLAMS', 'M8'): 343,
 ('NLAMS', 'NLAMS', 'M8'): 175,
 ('NLUTC', 'NLTIE', 'M8'): 324,
 ('NLRTM', 'NLZWO', 'M8'): 321,
 ('NLMOE', 'NLIJM', 'M6'): 320,
 ('NLAER', 'NLRTM', 'M8'): 321,
 ('NLRTM', 'NLSTI', 'M8'): 326,
 ('NLMOE', 'NLRTM', 'C3b'): 324,
 ('NLFAR', 'NLRTM', 'M8'): 309,
 ('NLBON', 'NLNRW', 'M2'): 332,
 ('NLVEG', 'NLHEJ', 'M3'): 314,
 ('NLRTM', 'NLRTM', 'M10'): 164,
 ('NLGOR', 'NLRTM', 'M6'): 317,
 ('NLVLI', 'NLVLI', 'M0'): 159,
 ('NLLEY', 'NLAMS', 'M4'): 307,
 ('NLAER', 'NLLEY', 'M4'): 291,
 ('NLAMS', 'NLDEV', 'M3'): 235,
 ('NLAPN', 'NLRTM', 'M8'): 293,
 ('NLIJM', 'NLMOE', 'M8'): 253,
 ('NLTNZ', 'NLAMS', 'M8'): 264,
 ('NLLWR', 'NLRTM', 'M8'): 293,
 ('NLRTM', 'NLVLI', 'M6'): 282,
 ('NLIJM', 'NLMST', 'M8'): 170,
 ('NLHAR', 'NLAMS', 'M10'): 288,
 ('NLAMS', 'NLAER', 'M6'): 244,
 ('NLHRD', 'NLAMS', 'M6'): 266,
 ('NLRTM', 'NLMOE', 'M6'): 255,
 ('NLVLI', 'NLAMS', 'M12'): 247,
 ('NLCUY', 'NLRTM', 'M8'): 247,
 ('NLHBG', 'NLELL', 'M2'): 270,
 ('NLUTC', 'NLRTM', 'BII-1'): 272,
 ('NLRTM', 'NLHGL', 'M6'): 228,
 ('NLFOX', 'NLRTM', 'M8'): 225,
 ('NLBON', 'NLTLB', 'M2'): 271,
 ('NLRTM', 'NLDOE', 'M8'): 263,
 ('NLTNZ', 'NLTNZ', 'M8'): 133,
 ('NLTLB', 'NLMOE', 'M3'): 247,
 ('NLAPN', 'NLRTM', 'M6'): 236,
 ('NLNIJ', 'NLDRU', 'M8'): 261,
 ('NLRTM', 'NLVSN', 'M8'): 206,
 ('NLBON', 'NLHTB', 'M2'): 236,
 ('NLAMS', 'NLHLM', 'M2'): 217,
 ('NLAMS', 'NLAMS', 'M2'): 129,
 ('NLWIW', 'NLHRN', 'M5'): 236,
 ('NLBON', 'NLEIN', 'M2'): 225,
 ('NLRTM', 'NLTLB', 'M2'): 242,
 ('NLHRV', 'NLAMS', 'M8'): 194,
 ('NLRTM', 'NLSLU', 'M8'): 205,
 ('NLAMS', 'NLLMR', 'M10'): 248,
 ('NLAER', 'NLNIE', 'M6'): 224,
 ('NLAER', 'NLAMS', 'M2'): 230,
 ('NLRTM', 'NLGOR', 'M11'): 205,
 ('NLRTM', 'NLGTB', 'M8'): 221,
 ('NLOSS', 'NLHRW', 'M2'): 234,
 ('NLRTM', 'NLGRQ', 'M8'): 184,
 ('NLTLB', 'NLMOE', 'M8'): 172,
 ('NLRTM', 'NLABL', 'M8'): 223,
 ('NLRTM', 'NLKAM', 'M9'): 224,
 ('NLOSS', 'NLRTM', 'M8'): 211,
 ('NLOMD', 'NLRTM', 'M8'): 219,
 ('NLAER', 'NLNIE', 'M8'): 223,
 ('NLRTM', 'NLZWI', 'M8'): 177,
 ('NLKAM', 'NLAMS', 'M6'): 185,
 ('NLZWO', 'NLAMS', 'M2'): 172,
 ('NLAMS', 'NLUTC', 'M8'): 186,
 ('NLRTM', 'NLBON', 'M12'): 212,
 ('NLBON', 'NLVEN', 'M8'): 215,
 ('NLHEJ', 'NLKOR', 'M3'): 162,
 ('NLRTM', 'NLVLI', 'M11'): 200,
 ('NLKGZ', 'NLZAA', 'BIIa-1'): 211,
 ('NLRTM', 'NLAPN', 'M4'): 155,
 ('NLRTM', 'NLAMS', 'C3l'): 152,
 ('NLAER', 'NLSWI', 'M3'): 191,
 ('NLNIJ', 'NLABL', 'M9'): 195,
 ('NLRTM', 'NLLID', 'M3'): 189,
 ('NLAMS', 'NLHGL', 'M7'): 204,
 ('NLFAR', 'NLBOT', 'M8'): 154,
 ('NLNIJ', 'NLWAS', 'M9'): 203,
 ('NLAMS', 'NLVAN', 'M2'): 203,
 ('NLDOR', 'NLLSH', 'M2'): 147,
 ('NLAMS', 'NLAER', 'M4'): 197,
 ('NLHAR', 'NLHKK', 'M4'): 171,
 ('NLEES', 'NLAMS', 'M4'): 202,
 ('NLMOE', 'NLTNZ', 'M8'): 144,
 ('NLAMS', 'NLDRA', 'BII-1'): 157,
 ('NLALM', 'NLHGL', 'M8'): 114,
 ('NLRTM', 'NLDON', 'M3'): 196,
 ('NLRTM', 'NLVEN', 'M9'): 125,
 ('NLBON', 'NLSTI', 'BIIa-1'): 132,
 ('NLAMS', 'NLHEJ', 'M2'): 185,
 ('NLMAA', 'NLNRW', 'M2'): 181,
 ('NLRTM', 'NLGOR', 'M12'): 188,
 ('NLRTM', 'NLKAZ', 'M3'): 150,
 ('NLDRO', 'NLKAM', 'M4'): 190,
 ('NLHEJ', 'NLDVT', 'M2'): 192,
 ('NLAMS', 'NLTIE', 'M4'): 167,
 ('NLAMS', 'NLDEV', 'M4'): 161,
 ('NLRTM', 'NLVEN', 'C3l'): 151,
 ('NLRTM', 'NLVLI', 'M12'): 190,
 ('NLHGL', 'NLAMS', 'M6'): 178,
 ('NLABL', 'NLRTM', 'M9'): 183,
 ('NLEEM', 'NLRTM', 'M8'): 130,
 ('NLBON', 'NLRTM', 'M6'): 114,
 ('NLRTM', 'NLRTM', 'M9'): 92,
 ('NLTNZ', 'NLBRS', 'M8'): 159,
 ('NLHLM', 'NLRTM', 'M2'): 172,
 ('NLBON', 'NLWSM', 'BII-1'): 164,
 ('NLDOR', 'NLRTM', 'M6'): 175,
 ('NLOMD', 'NLWAS', 'M8'): 171,
 ('NLDOR', 'NLAMS', 'M8'): 173,
 ('NLTNZ', 'NLTNZ', 'M0'): 90,
 ('NLHTB', 'NLRTM', 'M8'): 144,
 ('NLSWI', 'NLWSP', 'M6'): 164,
 ('NLRTM', 'NLAPN', 'M3'): 168,
 ('NLHEJ', 'NLAAL', 'M3'): 166,
 ('NLRTM', 'NLIJM', 'M8'): 164,
 ('NLAMS', 'NLWIW', 'M8'): 169,
 ('NLRTM', 'NLBNB', 'M8'): 117,
 ('NLLEY', 'NLAMS', 'M6'): 148,
 ('NLAMS', 'NLVLI', 'M8'): 173,
 ('NLKAM', 'NLAMS', 'M5'): 168,
 ('NLIJM', 'NLRTM', 'M2'): 116,
 ('NLEEM', 'NLFAR', 'M8'): 172,
 ('NLKGZ', 'NLAMS', 'M3'): 172,
 ('NLWSP', 'NLAER', 'M8'): 172,
 ('NLLEY', 'NLSWI', 'M3'): 171,
 ('NLHRW', 'NLTEA', 'M3'): 162,
 ('NLMOE', 'NLBRD', 'M6'): 150,
 ('NLPER', 'NLFOX', 'M8'): 138,
 ('NLTLB', 'NLZBG', 'M3'): 167,
 ('NLTNZ', 'NLTNZ', 'BII-1'): 85,
 ('NLBNB', 'NLHGL', 'M8'): 115,
 ('NLAMS', 'NLGRQ', 'M8'): 156,
 ('NLKAM', 'NLAMS', 'M8'): 160,
 ('NLZWO', 'NLAMS', 'M6'): 158,
 ('NLAMS', 'NLDEV', 'M6'): 155,
 ('NLVSN', 'NLRTM', 'M9'): 126,
 ('NLDFT', 'NLBON', 'M3'): 164,
 ('NLPER', 'NLVEG', 'M6'): 123,
 ('NLVEN', 'NLBON', 'M9'): 91,
 ('NLOSS', 'NLCUY', 'M8'): 142,
 ('NLNIJ', 'NLDRU', 'M6'): 156,
 ('NLMEP', 'NLZWS', 'BII-1'): 134,
 ('NLNIJ', 'NLAMS', 'M8'): 145,
 ('NLBON', 'NLMST', 'M2'): 146,
 ('NLKWR', 'NLRTM', 'M3'): 113,
 ('NLRTM', 'NLMOE', 'M9'): 144,
 ('NLLEY', 'NLLWR', 'M4'): 144,
 ('NLDRO', 'NLKAM', 'M6'): 147,
 ('NLBON', 'NLRTM', 'M9'): 103,
 ('NLRLA', 'NLRTM', 'M8'): 82,
 ('NLAMS', 'NLVLI', 'M11'): 152,
 ('NLZMM', 'NLRTM', 'M4'): 101,
 ('NLAMS', 'NLMOE', 'M6'): 142,
 ('NLDZL', 'NLFAR', 'M8'): 140,
 ('NLKAM', 'NLRTM', 'M10'): 150,
 ('NLGNM', 'NLAMS', 'M6'): 134,
 ('NLBON', 'NLNIJ', 'M5'): 151,
 ('NLVLI', 'NLRTM', 'M10'): 140,
 ('NLMOE', 'NLTNZ', 'BII-1'): 134,
 ('NLAMS', 'NLAER', 'M8'): 132,
 ('NLRTM', 'NLWRV', 'M6'): 140,
 ('NLAMS', 'NLDST', 'BIIa-1'): 146,
 ('NLSWI', 'NLNKK', 'M3'): 134,
 ('NLHRW', 'NLVEG', 'M2'): 144,
 ('NLAMS', 'NLRTM', 'BII-2b'): 132,
 ('NLHAR', 'NLDRA', 'M2'): 134,
 ('NLHAR', 'NLLWR', 'M2'): 128,
 ('NLBON', 'NLVEG', 'M3'): 147,
 ('NLHEJ', 'NLEML', 'M2'): 133,
 ('NLRTM', 'NLGTB', 'M6'): 120,
 ('NLBRS', 'NLTNZ', 'M6'): 144,
 ('NLMAA', 'NLCUY', 'BI'): 134,
 ('NLBOT', 'NLAMS', 'M8'): 144,
 ('NLAER', 'NLRTM', 'M10'): 137,
 ('NLVEG', 'NLAMS', 'M2'): 125,
 ('NLPER', 'NLAMS', 'M8'): 127,
 ('NLLEY', 'NLAMS', 'M8'): 131,
 ('NLWSM', 'NLLIN', 'BI'): 130,
 ('NLHEJ', 'NLHIL', 'M3'): 116,
 ('NLRTM', 'NLQDG', 'M3'): 137,
 ('NLEEM', 'NLALM', 'M8'): 72,
 ('NLAMS', 'NLARK', 'M4'): 124,
 ('NLRTM', 'NLZMM', 'M2'): 126,
 ('NLHTB', 'NLABL', 'M8'): 114,
 ('NLAMS', 'NLVEG', 'BI'): 122,
 ('NLDTK', 'NLSCH', 'M4'): 130,
 ('NLTNZ', 'NLMST', 'M8'): 137,
 ('NLBON', 'NLKSL', 'BII-1'): 131,
 ('NLSTI', 'NLAMS', 'M8'): 113,
 ('NLDST', 'NLHTB', 'M3'): 128,
 ('NLOOS', 'NLPER', 'M8'): 71,
 ('NLAER', 'NLSWI', 'M4'): 118,
 ('NLAMS', 'NLEIN', 'M3'): 133,
 ('NLGRQ', 'NLHAR', 'M4'): 99,
 ('NLTNZ', 'NLVLI', 'M6'): 129,
 ('NLAMS', 'NLAMS', 'M12'): 68,
 ('NLAPN', 'NLKWZ', 'M6'): 99,
 ('NLAMS', 'NLDEV', 'M2'): 133,
 ('NLVLA', 'NLSLU', 'M10'): 79,
 ('NLHAR', 'NLKAM', 'M6'): 92,
 ('NLAMS', 'NLOMD', 'M8'): 123,
 ('NLTNZ', 'NLTNZ', 'M6'): 66,
 ('NLHEJ', 'NLDUS', 'M3'): 100,
 ('NLHAR', 'NLDRA', 'M4'): 116,
 ('NLLOM', 'NLHAG', 'M3'): 104,
 ('NLHAN', 'NLBRS', 'M8'): 109,
 ('NLRTM', 'NLOSS', 'M7'): 115,
 ('NLRTM', 'NLRTM', 'M11'): 65,
 ('NLBON', 'NLAER', 'M2'): 101,
 ('NLRTM', 'NLAMS', 'M5'): 86,
 ('NLIJM', 'NLHAR', 'M8'): 115,
 ('NLDHR', 'NLRTM', 'M8'): 102,
 ('NLMEP', 'NLAMS', 'M8'): 95,
 ('NLHEJ', 'NLAME', 'M3'): 114,
 ('NLDST', 'NLOSS', 'M2'): 121,
 ('NLRTM', 'NLGRO', 'M8'): 90,
 ('NLAMS', 'NLIJM', 'M6'): 113,
 ('NLHGL', 'NLAMS', 'M8'): 102,
 ('NLAMS', 'NLRAS', 'M4'): 106,
 ('NLVEG', 'NLRTM', 'BI'): 110,
 ('NLAMS', 'NLZWI', 'M6'): 123,
 ('NLLEY', 'NLWSP', 'M6'): 120,
 ('NLZWO', 'NLAMS', 'M3'): 92,
 ('NLSNK', 'NLLEY', 'M5'): 114,
 ('NLARK', 'NLHRW', 'M3'): 114,
 ('NLWGW', 'NLRTM', 'M8'): 108,
 ('NLBON', 'NLHAG', 'M3'): 76,
 ('NLSTI', 'NLTNZ', 'M8'): 109,
 ('NLBON', 'NLVEG', 'M2'): 95,
 ('NLRTM', 'NLOSS', 'M2'): 110,
 ('NLDOR', 'NLAMS', 'M9'): 80,
 ('NLLEY', 'NLAER', 'M3'): 103,
 ('NLVLI', 'NLSTD', 'M8'): 77,
 ('NLAMS', 'NLLEY', 'M3'): 108,
 ('NLAMS', 'NLZAA', 'M2'): 115,
 ('NLHAN', 'NLBRS', 'M6'): 91,
 ('NLMOE', 'NLSLU', 'M8'): 73,
 ('NLVLI', 'NLVLI', 'M6'): 59,
 ('NLKAM', 'NLIJM', 'M2'): 78,
 ('NLAMS', 'NLAMS', 'M6'): 58,
 ('NLEEM', 'NLALM', 'M6'): 63,
 ('NLRTM', 'NLARN', 'M12'): 98,
 ('NLRTM', 'NLNKK', 'M2'): 80,
 ('NLZWO', 'NLAMS', 'M4'): 84,
 ('NLDIN', 'NLASP', 'M3'): 59,
 ('NLDFT', 'NLALM', 'M3'): 58,
 ('NLRTM', 'NLAMS', 'BIIa-1'): 102,
 ('NLAMS', 'NLOSS', 'M2'): 92,
 ('NLAMS', 'NLHAR', 'M8'): 101,
 ('NLAER', 'NLLEY', 'M6'): 81,
 ('NLHAR', 'NLKAM', 'M4'): 87,
 ('NLAMS', 'NLDEV', 'M5'): 108,
 ('NLHRW', 'NLAER', 'M3'): 71,
 ('NLOSS', 'NLMOE', 'M6'): 69,
 ('NLRTM', 'NLGOU', 'M2'): 92,
 ('NLHAR', 'NLAMS', 'M6'): 93,
 ('NLAMS', 'NLUTC', 'M6'): 97,
 ('NLSMO', 'NLZOT', 'M3'): 97,
 ('NLLWR', 'NLWIW', 'M5'): 91,
 ('NLGTB', 'NLAMS', 'M8'): 101,
 ('NLMAA', 'NLOSS', 'M5'): 95,
 ('NLSLU', 'NLOSS', 'M8'): 57,
 ('NLRTM', 'NLKAM', 'M6'): 89,
 ('NLRTM', 'NLMOE', 'M5'): 104,
 ('NLMAA', 'NLHEJ', 'M3'): 95,
 ('NLHRV', 'NLAMS', 'M6'): 87,
 ('NLRTM', 'NLALM', 'M8'): 89,
 ('NLSTD', 'NLSTD', 'M4'): 54,
 ('NLLWR', 'NLPER', 'M8'): 95,
 ('NLPER', 'NLAMS', 'M6'): 105,
 ('NLRTM', 'NLLID', 'M2'): 94,
 ('NLAMS', 'NLVLA', 'M6'): 91,
 ('NLMOE', 'NLVLI', 'M8'): 102,
 ('NLRTM', 'NLAMS', 'BII-1'): 97,
 ('NLEEM', 'NLALM', 'M5'): 63,
 ('NLMAA', 'NLHTB', 'M2'): 103,
 ('NLSCH', 'NLWIW', 'M5'): 99,
 ('NLAMS', 'NLVLA', 'M8'): 90,
 ('NLDRA', 'NLAMS', 'BII-2L'): 58,
 ('NLHGL', 'NLDFT', 'M3'): 88,
 ('NLROO', 'NLSLU', 'M6'): 72,
 ('NLVLI', 'NLTNZ', 'M10'): 97,
 ('NLRTM', 'NLAMS', 'M7'): 100,
 ('NLHGL', 'NLWIS', 'M4'): 51,
 ('NLDOR', 'NLVLI', 'M8'): 91,
 ('NLDHR', 'NLSCH', 'M4'): 82,
 ('NLDST', 'NLAMS', 'M8'): 92,
 ('NLUTC', 'NLRTM', 'M6'): 77,
 ('NLDFT', 'NLALM', 'M4'): 50,
 ('NLPER', 'NLMEP', 'M8'): 95,
 ('NLAMS', 'NLENS', 'M8'): 64,
 ('NLAMS', 'NLZAA', 'M3'): 97,
 ('NLENK', 'NLAMS', 'M8'): 86,
 ('NLBON', 'NLAME', 'M4'): 71,
 ('NLAMS', 'NLHTB', 'M6'): 86,
 ('NLNIJ', 'NLPER', 'M8'): 90,
 ('NLRTM', 'NLZAA', 'M11'): 96,
 ('NLLEY', 'NLLEY', 'M4'): 49,
 ('NLAER', 'NLSPL', 'M3'): 90,
 ('NLLSH', 'NLBON', 'M2'): 90,
 ('NLBON', 'NLBRD', 'M4'): 90,
 ('NLTNZ', 'NLRTM', 'M6'): 89,
 ('NLLIN', 'NLWSM', 'B04'): 92,
 ('NLAMS', 'NLALM', 'M6'): 94,
 ('NLWED', 'NLRTM', 'M8'): 73,
 ('NLDOR', 'NLRTM', 'M12'): 86,
 ('NLWAS', 'NLOMD', 'M9'): 94,
 ('NLEUR', 'NLWRV', 'M6'): 89,
 ('NLRTM', 'NLTNZ', 'M12'): 66,
 ('NLEEM', 'NLUTC', 'M8'): 57,
 ('NLGNM', 'NLAMS', 'M3'): 86,
 ('NLMOE', 'NLETT', 'M6'): 94,
 ('NLHTR', 'NLNWG', 'M4'): 80,
 ('NLRTM', 'NLUTC', 'M10'): 86,
 ('NLVLL', 'NLHAR', 'M4'): 80,
 ('NLLEY', 'NLHEG', 'M4'): 79,
 ('NLAMS', 'NLZWO', 'BII-1'): 81,
 ('NLBRS', 'NLSLU', 'M8'): 93,
 ('NLHAR', 'NLHAR', 'M6'): 47,
 ('NLLWR', 'NLAMS', 'M6'): 56,
 ('NLNER', 'NLVEN', 'M8'): 93,
 ('NLZAD', 'NLZAA', 'M4'): 93,
 ('NLRTM', 'NLDOI', 'M2'): 82,
 ('NLKSL', 'NLOIH', 'M3'): 92,
 ('NLAER', 'NLAER', 'M6'): 46,
 ('NLMSB', 'NLBON', 'M2'): 56,
 ('NLENS', 'NLRTM', 'M8'): 58,
 ('NLHAR', 'NLOME', 'M4'): 82,
 ('NLMOE', 'NLLMR', 'M5'): 91,
 ('NLRTM', 'NLDOR', 'M9'): 82,
 ('NLGOE', 'NLBRS', 'M5'): 64,
 ('NLBON', 'NLRTM', 'M5'): 53,
 ('NLMAA', 'NLTLB', 'M2'): 58,
 ('NLAMS', 'NLWSP', 'M3'): 69,
 ('NLWRV', 'NLZAA', 'M4'): 87,
 ('NLAER', 'NLSWI', 'M2'): 59,
 ('NLRTM', 'NLBON', 'M8'): 66,
 ('NLAMS', 'NLAMS', 'M9'): 44,
 ('NLMEP', 'NLRTM', 'M6'): 84,
 ('NLAMS', 'NLLOB', 'M9'): 59,
 ('NLHEJ', 'NLOOS', 'M6'): 79,
 ('NLWGW', 'NLAMS', 'M8'): 83,
 ('NLNIJ', 'NLRTM', 'C3l'): 86,
 ('NLAMS', 'NLLEY', 'B04'): 72,
 ('NLAMS', 'NLWGW', 'M2'): 75,
 ('NLAMS', 'NLOSS', 'M4'): 86,
 ('NLKAM', 'NLDRO', 'M5'): 83,
 ('NLLEY', 'NLSWI', 'M2'): 79,
 ('NLEEM', 'NLLMR', 'BIIa-1'): 78,
 ('NLVEG', 'NLRTM', 'M2'): 76,
 ('NLAMS', 'NLEIN', 'M2'): 69,
 ('NLNKK', 'NLAMS', 'M5'): 73,
 ('NLHEJ', 'NLKRD', 'M3'): 75,
 ('NLRTM', 'NLVLA', 'M8'): 74,
 ('NLAMS', 'NLRAS', 'M2'): 74,
 ('NLAMS', 'NLDHR', 'M8'): 73,
 ('NLRTM', 'NLAPN', 'M2'): 84,
 ('NLRTM', 'NLNIJ', 'M11'): 75,
 ('NLRTM', 'NLAMS', 'M3'): 71,
 ('NLAER', 'NLRTM', 'BII-1'): 82,
 ('NLSLU', 'NLRTM', 'M10'): 46,
 ('NLHAR', 'NLOME', 'M6'): 77,
 ('NLDZL', 'NLBOT', 'M8'): 73,
 ('NLFAR', 'NLEEM', 'BIIa-1'): 78,
 ('NLRTM', 'NLNIJ', 'M6'): 66,
 ('NLAMS', 'NLAPN', 'M6'): 54,
 ('NLBON', 'NLARK', 'M2'): 61,
 ('NLLMR', 'NLDRA', 'BII-1'): 68,
 ('NLRTM', 'NLRTM', 'C3b'): 42,
 ('NLOME', 'NLIJM', 'M2'): 42,
 ('NLAMS', 'NLOSS', 'BII-1'): 58,
 ('NLMOE', 'NLRNK', 'M6'): 81,
 ('NLALM', 'NLAMS', 'M7'): 80,
 ('NLAMS', 'NLHBG', 'M2'): 60,
 ('NLAMS', 'NLEEM', 'M8'): 62,
 ('NLIJM', 'NLMST', 'M6'): 50,
 ('NLZWO', 'NLAMS', 'M5'): 62,
 ('NLSWI', 'NLAMS', 'M6'): 63,
 ('NLMID', 'NLBRS', 'M6'): 49,
 ('NLWSC', 'NLAMS', 'M4'): 80,
 ('NLDOR', 'NLAMS', 'M6'): 70,
 ('NLNKK', 'NLHRD', 'M4'): 73,
 ('NLBGU', 'NLIJM', 'M2'): 49,
 ('NLBRD', 'NLRTM', 'M6'): 63,
 ('NLEUR', 'NLWLK', 'M3'): 64,
 ('NLZWI', 'NLZWO', 'M2'): 42,
 ('NLBRS', 'NLZUL', 'M6'): 73,
 ('NLOMD', 'NLLSH', 'M2'): 80,
 ('NLRTM', 'NLKAM', 'M2'): 43,
 ('NLAMS', 'NLWGW', 'M3'): 77,
 ('NLBON', 'NLWLK', 'M4'): 75,
 ('NLLOM', 'NLLIT', 'M8'): 73,
 ('NLRTM', 'NLOME', 'M2'): 44,
 ('NLIJM', 'NLSCH', 'M3'): 54,
 ('NLAMS', 'NLHLM', 'M3'): 52,
 ('NLBON', 'NLRTM', 'M4'): 63,
 ('NLHAR', 'NLHAR', 'M12'): 40,
 ('NLRTM', 'NLWMO', 'M6'): 69,
 ('NLHAR', 'NLHAR', 'M3'): 40,
 ('NLSTD', 'NLBRS', 'M8'): 41,
 ('NLHAR', 'NLHAR', 'M4'): 40,
 ('NLAMS', 'NLTIE', 'M2'): 53,
 ('NLRTM', 'NLMOE', 'M12'): 70,
 ('NLOSS', 'NLAMS', 'M6'): 76,
 ('NLSJK', 'NLRTM', 'M8'): 72,
 ('NLHEJ', 'NLDUS', 'M5'): 69,
 ('NLSWI', 'NLLEY', 'M4'): 76,
 ('NLSTD', 'NLSTD', 'M6'): 39,
 ('NLSWI', 'NLNKK', 'M4'): 60,
 ('NLGNM', 'NLAMS', 'M4'): 64,
 ('NLAMS', 'NLRHD', 'M6'): 46,
 ('NLAMS', 'NLZAA', 'M6'): 72,
 ('NLAMS', 'NLVEG', 'M4'): 75,
 ('NLRTM', 'NLMST', 'M6'): 60,
 ('NLCUY', 'NLRTM', 'M6'): 67,
 ('NLIJM', 'NLMST', 'M7'): 43,
 ('NLDOI', 'NLAMS', 'M2'): 57,
 ('NLOSS', 'NLVEG', 'M6'): 60,
 ('NLIJM', 'NLTLB', 'M1'): 71,
 ('NLDRO', 'NLELB', 'M3'): 77,
 ('NLAMS', 'NLBON', 'BII-2L'): 45,
 ('NLAKR', 'NLHAR', 'M4'): 75,
 ('NLMEP', 'NLAMS', 'M4'): 57,
 ('NLOBO', 'NLMST', 'M6'): 73,
 ('NLMLR', 'NLRTM', 'M6'): 68,
 ('NLAMS', 'NLNKK', 'B03'): 69,
 ('NLHTB', 'NLBON', 'M3'): 65,
 ('NLHGL', 'NLDFT', 'M4'): 76,
 ('NLKSL', 'NLLIN', 'B04'): 72,
 ('NLPHL', 'NLBON', 'M2'): 40,
 ('NLMAA', 'NLOOS', 'M6'): 72,
 ('NLAMS', 'NLRTM', 'BIIL-1'): 69,
 ('NLEUR', 'NLHAR', 'M8'): 70,
 ('NLMST', 'NLSDB', 'M5'): 74,
 ('NLTIE', 'NLWSP', 'M2'): 73,
 ('NLLEY', 'NLRTM', 'M6'): 63,
 ('NLBON', 'NLHAG', 'M2'): 61,
 ('NLWGW', 'NLRTM', 'M3'): 76,
 ('NLMOE', 'NLAPN', 'M6'): 59,
 ('NLPNN', 'NLRTM', 'M6'): 60,
 ('NLVLI', 'NLVLI', 'M8'): 37,
 ('NLVEN', 'NLVLI', 'M6'): 37,
 ('NLMEP', 'NLWTZ', 'M8'): 63,
 ('NLTNZ', 'NLTNZ', 'M10'): 37,
 ('NLOSS', 'NLRTM', 'M4'): 60,
 ('NLHRW', 'NLTLB', 'M2'): 71,
 ('NLALK', 'NLIJM', 'M2'): 66,
 ('NLFAR', 'NLFAR', 'M8'): 37,
 ('NLAER', 'NLSPL', 'M4'): 66,
 ('NLDST', 'NLARK', 'M3'): 69,
 ('NLAMS', 'NLFAR', 'M6'): 73,
 ('NLMIH', 'NLBRS', 'M6'): 53,
 ('NLDZL', 'NLRTM', 'M6'): 69,
 ('NLCOE', 'NLDST', 'M1'): 71,
 ('NLPER', 'NLPER', 'M6'): 36,
 ('NLVLI', 'NLHAN', 'M9'): 56,
 ('NLVLI', 'NLVLI', 'M9'): 36,
 ('NLVEG', 'NLEPL', 'BI'): 70,
 ('NLRTM', 'NLDEV', 'M3'): 61,
 ('NLEEM', 'NLALM', 'M7'): 41,
 ('NLHTB', 'NLRTM', 'M6'): 62,
 ('NLHFN', 'NLHRW', 'M8'): 46,
 ('NLRTM', 'NLAMS', 'M4'): 65,
 ('NLRTM', 'NLDRU', 'M8'): 42,
 ('NLTIE', 'NLAMS', 'M6'): 70,
 ('NLTIE', 'NLRTM', 'M6'): 65,
 ('NLIJM', 'NLRTM', 'M9'): 52,
 ('NLAMS', 'NLVLI', 'M9'): 70,
 ('NLDEV', 'NLRTM', 'M6'): 68,
 ('NLTNZ', 'NLHAN', 'M8'): 50,
 ('NLHLM', 'NLRTM', 'M3'): 54,
 ('NLDRA', 'NLIJM', 'M2'): 71,
 ('NLBON', 'NLBZM', 'M6'): 43,
 ('NLAMS', 'NLGNM', 'M2'): 72,
 ('NLHAR', 'NLHAR', 'M2'): 36,
 ('NLDST', 'NLAPN', 'M4'): 54,
 ('NLFOX', 'NLVDM', 'M6'): 61,
 ('NLTNZ', 'NLBRS', 'M3'): 51,
 ('NLELB', 'NLKAM', 'M3'): 63,
 ('NLALK', 'NLAMS', 'M4'): 62,
 ('NLMEP', 'NLMEP', 'BII-1'): 36,
 ('NLBRD', 'NLRTM', 'M4'): 69,
 ('NLALM', 'NLHGL', 'M5'): 35,
 ('NLRTM', 'NLNIJ', 'M9'): 64,
 ('NLRTM', 'NLAMS', 'M2'): 63,
 ('NLGRQ', 'NLDFT', 'M2'): 56,
 ('NLLWR', 'NLHAR', 'M4'): 58,
 ('NLMEP', 'NLAMS', 'M6'): 48,
 ('NLWGW', 'NLRTM', 'M2'): 69,
 ('NLSJK', 'NLBIW', 'M8'): 58,
 ('NLUTC', 'NLLEY', 'M8'): 66,
 ('NLDOR', 'NLAMS', 'M10'): 63,
 ('NLTIE', 'NLDIM', 'M3'): 50,
 ('NLGRA', 'NLRTM', 'M8'): 41,
 ('NLVLL', 'NLZOT', 'M3'): 51,
 ('NLAMS', 'NLWGW', 'M6'): 67,
 ('NLSWI', 'NLBAA', 'M3'): 61,
 ('NLARN', 'NLHEJ', 'M8'): 36,
 ('NLBON', 'NLOSS', 'M2'): 43,
 ('NLWGW', 'NLAMS', 'M4'): 60,
 ('NLMSB', 'NLAMS', 'M3'): 65,
 ('NLLOM', 'NLHAG', 'M4'): 44,
 ('NLTNZ', 'NLVLI', 'M0'): 65,
 ('NLLEY', 'NLLEY', 'M2'): 34,
 ('NLVLL', 'NLHAR', 'M3'): 62,
 ('NLAME', 'NLIJM', 'M2'): 64,
 ('NLAMS', 'NLZAA', 'B04'): 61,
 ('NLOSS', 'NLRTM', 'M5'): 49,
 ('NLBRD', 'NLBRS', 'M6'): 49,
 ('NLWGW', 'NLRTM', 'M6'): 58,
 ('NLVLI', 'NLRTM', 'M5'): 54,
 ('NLCUY', 'NLRTM', 'M7'): 54,
 ('NLLWR', 'NLRTM', 'M6'): 52,
 ('NLRTM', 'NLGNM', 'M3'): 52,
 ('NLRTM', 'NLMSB', 'M6'): 49,
 ('NLWLK', 'NLAMS', 'M5'): 62,
 ('NLMOE', 'NLBON', 'M8'): 35,
 ('NLBZM', 'NLBRS', 'M6'): 52,
 ('NLDST', 'NLAER', 'M3'): 49,
 ('NLZWS', 'NLAMS', 'BII-2L'): 37,
 ('NLAMS', 'NLDIN', 'M3'): 36,
 ('NLHEJ', 'NLOOS', 'M5'): 45,
 ('NLTNZ', 'NLBRS', 'M5'): 47,
 ('NLBON', 'NLENS', 'M7'): 33,
 ('NLLEY', 'NLGRQ', 'M5'): 54,
 ('NLHTR', 'NLNWG', 'M5'): 59,
 ('NLVLI', 'NLVLA', 'M8'): 60,
 ('NLDOR', 'NLVLI', 'M9'): 57,
 ('NLEEM', 'NLMOE', 'M6'): 32,
 ('NLRTM', 'NLDEV', 'M5'): 61,
 ('NLAMS', 'NLDST', 'M6'): 64,
 ('NLTNZ', 'NLTNZ', 'BI'): 32,
 ('NLNIJ', 'NLRTM', 'BIIa-1'): 49,
 ('NLURK', 'NLZEW', 'M2'): 51,
 ('NLLCH', 'NLAMS', 'M6'): 52,
 ('NLLOM', 'NLKRD', 'M3'): 62,
 ('NLVEN', 'NLNER', 'M6'): 64,
 ('NLEEM', 'NLDZL', 'M2'): 62,
 ('NLMOE', 'NLRTM', 'M3'): 49,
 ('NLWIW', 'NLFRK', 'M5'): 59,
 ('NLRTM', 'NLRTM', 'M3'): 32,
 ('NLRTM', 'NLIJM', 'M6'): 54,
 ('NLEES', 'NLMEP', 'M4'): 51,
 ('NLOSS', 'NLIJM', 'M2'): 33,
 ('NLAMS', 'NLHEJ', 'M4'): 57,
 ('NLELB', 'NLHRD', 'M3'): 32,
 ('NLSLU', 'NLVEG', 'M3'): 42,
 ('NLPER', 'NLWLK', 'M3'): 45,
 ('NLSWI', 'NLLEY', 'M6'): 56,
 ('NLHGL', 'NLWIS', 'M3'): 32,
 ('NLZMM', 'NLRTM', 'M3'): 50,
 ('NLEES', 'NLZWO', 'M4'): 54,
 ('NLRTM', 'NLAMS', 'BII-2L'): 39,
 ('NLDOE', 'NLNIJ', 'M8'): 56,
 ('NLDFT', 'NLDST', 'M3'): 32,
 ('NLALM', 'NLRTM', 'M7'): 56,
 ('NLALK', 'NLAMS', 'M3'): 49,
 ('NLPER', 'NLMOE', 'M6'): 61,
 ('NLAMS', 'NLDZL', 'M8'): 50,
 ('NLBUD', 'NLAMS', 'M2'): 54,
 ('NLBEM', 'NLTIE', 'M4'): 56,
 ('NLAMS', 'NLVLI', 'M6'): 63,
 ('NLMSB', 'NLBON', 'BII-1'): 35,
 ('NLSWI', 'NLHRD', 'M3'): 50,
 ('NLAMS', 'NLMEP', 'B03'): 58,
 ('NLOSS', 'NLRTM', 'BII-1'): 49,
 ('NLLAN', 'NLDZL', 'M2'): 53,
 ('NLOSS', 'NLRTM', 'BII-2L'): 40,
 ('NLWSP', 'NLLEY', 'M8'): 43,
 ('NLARK', 'NLBON', 'M3'): 54,
 ('NLIJM', 'NLSCH', 'M4'): 46,
 ('NLAMS', 'NLOME', 'M8'): 56,
 ('NLAMS', 'NLLCH', 'M2'): 59,
 ('NLMOE', 'NLDOR', 'M8'): 55,
 ('NLHAR', 'NLSLU', 'M5'): 33,
 ('NLBON', 'NLZOU', 'M4'): 57,

## Compute vessel sum per route
Idea: make similar dict as above first, but then with total amount of trips per route. Later on: add column for each ship.
This will result in a column for each ship type and an entry with the amount of ships of that type that have travelled.

In [7]:
# now only sort by origin and destination
all_trips_ranked = df_2021.groupby(by=['UNLO_herkomst', 'UNLO_bestemming']).count().reset_index().sort_values(
    by='Jaarmaand', ascending=False).iloc[:, :3].reset_index(drop=True)

#again, rename columns
all_trips_ranked.rename(
    columns={'UNLO_herkomst': 'origin', 'UNLO_bestemming': 'destination', 'SK_CODE': 'type', 'Unnamed: 0': 'trips'},
    inplace=True)

#remove non nl
all_trips_ranked = all_trips_ranked.loc[(all_trips_ranked.origin.str.contains('NL')) & (all_trips_ranked.destination.str.contains('NL'))]

#reset index to be able to loop over all values later on
all_trips_ranked.reset_index(inplace=True, drop=True)

# make dict to store trips
trip_dict_main = {}

In [8]:
# now fill this dict, same procedure as above
for i in range(len(all_trips_ranked)):
    origin = all_trips_ranked['origin'][i]
    destination = all_trips_ranked['destination'][i]
    trip_count = all_trips_ranked['trips'][i]

    if (origin, destination) in trip_dict_main.keys():
        trip_dict_main[(origin, destination)] += trip_count
    elif (destination, origin) in trip_dict_main.keys():
        trip_dict_main[(destination, origin)] += trip_count
    else:
        trip_dict_main[(origin, destination)] = trip_count

In [9]:
# now sort values
trip_dict_main = dict(sorted(trip_dict_main.items(), key=lambda item: item[1], reverse=True))

# make dataframe dict wih a key for each column
trip_dict_df_main = {'origin': [], 'destination': [], 'trip_count': []}
for i in df_2021.SK_CODE.unique():
    trip_dict_df_main[i] = []

# now fill this dict
for key, value in trip_dict_main.items():
    # append values from dict a
    trip_dict_df_main['origin'].append(key[0])
    trip_dict_df_main['destination'].append(key[1])
    trip_dict_df_main['trip_count'].append(value)
    #now append values from other dict, for each ship type
    for ship_type in df_2021.SK_CODE.unique():
        #if ships have travelled from A to B, append this value
        if (key[0], key[1], ship_type) in df_t_dict.keys():
            trip_dict_df_main[ship_type].append(df_t_dict[(key[0], key[1], ship_type)])
        else:
            try:
                # else, maybe trips on path A to B are stored as B to A
                trip_dict_df_main[ship_type].append(df_t_dict[(key[1], key[0], ship_type)])
            except:
                # no? Then no ships of this type have travelled this path, append 0
                trip_dict_df_main[ship_type].append(0)

In [10]:
df_main = pd.DataFrame.from_dict(trip_dict_df_main)

In [11]:
df_main

,origin,destination,trip_count,M12,M8,M9,BIIa-1,BII-6b,M10,BII-6l,...,C4,C2l,M0,B04,BII-2L,B02,C1b,C2b,B01,C1l
0,NLRTM,NLAMS,9943,2076,3510,1316,102,0,427,0,...,5,7,11,5,39,4,0,0,0,0
1,NLRTM,NLMOE,2686,70,1584,144,2,0,56,0,...,2,0,1,0,1,0,0,0,0,0
2,NLRTM,NLVLI,2153,190,658,414,10,0,140,0,...,0,2,2,1,0,0,0,1,0,0
3,NLAMS,NLAER,2119,6,132,0,2,0,7,0,...,0,1,5,37,0,3,0,1,1,0
4,NLRTM,NLRTM,1794,363,715,92,15,0,164,1,...,4,0,0,0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10588,NLBZM,NLVSN,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10589,NLBZM,NLVER,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10590,NLBZM,NLSMB,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10591,NLBZM,NLSHH,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10592,NLEFE,NLDZL,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
#remove entries with same origin and destination
df_main = df_main.loc[df_main.origin!=df_main.destination]

In [4]:
df_main

,origin,destination,trip_count,M12,M8,M9,BIIa-1,BII-6b,M10,BII-6l,...,C4,C2l,M0,B04,BII-2L,B02,C1b,C2b,B01,C1l
0,NLRTM,NLAMS,9943,2076,3510,1316,102,0,427,0,...,5,7,11,5,39,4,0,0,0,0
1,NLRTM,NLMOE,2686,70,1584,144,2,0,56,0,...,2,0,1,0,1,0,0,0,0,0
2,NLRTM,NLVLI,2153,190,658,414,10,0,140,0,...,0,2,2,1,0,0,0,1,0,0
3,NLAMS,NLAER,2119,6,132,0,2,0,7,0,...,0,1,5,37,0,3,0,1,1,0
5,NLVEG,NLRTM,1484,0,1,0,0,0,0,0,...,0,0,17,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10588,NLBZM,NLVSN,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10589,NLBZM,NLVER,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10590,NLBZM,NLSMB,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10591,NLBZM,NLSHH,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10592,NLEFE,NLDZL,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
#save dataframe
# pickle.dump( df_main, open( "data/df_trips_per_path.p", "wb" ) )
df_main = pickle.load( open( "data/df_trips_per_path.p", "rb" ) )

## Generate random data

In [12]:
df_chance = df_main.copy()

In [13]:
df_chance

,origin,destination,trip_count,M12,M8,M9,BIIa-1,BII-6b,M10,BII-6l,...,C4,C2l,M0,B04,BII-2L,B02,C1b,C2b,B01,C1l
0,NLRTM,NLAMS,9943,2076,3510,1316,102,0,427,0,...,5,7,11,5,39,4,0,0,0,0
1,NLRTM,NLMOE,2686,70,1584,144,2,0,56,0,...,2,0,1,0,1,0,0,0,0,0
2,NLRTM,NLVLI,2153,190,658,414,10,0,140,0,...,0,2,2,1,0,0,0,1,0,0
3,NLAMS,NLAER,2119,6,132,0,2,0,7,0,...,0,1,5,37,0,3,0,1,1,0
4,NLRTM,NLRTM,1794,363,715,92,15,0,164,1,...,4,0,0,0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10588,NLBZM,NLVSN,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10589,NLBZM,NLVER,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10590,NLBZM,NLSMB,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10591,NLBZM,NLSHH,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10592,NLEFE,NLDZL,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
type_list = list(df_main.columns[3:])

In [15]:
for i in type_list:
    df_chance[i] = df_chance[i]/df_chance.trip_count

In [20]:
# pickle.dump( df_chance, open( "data/probability_df.p", "wb" ) )
df_chance = pickle.load(  open( "data/probability_df.p", "rb" ) )

In [21]:
df_chance

,origin,destination,trip_count,M12,M8,M9,BIIa-1,BII-6b,M10,BII-6l,...,C4,C2l,M0,B04,BII-2L,B02,C1b,C2b,B01,C1l
0,NLRTM,NLAMS,9943,0.208790,0.353012,0.132354,0.010258,0.0,0.042945,0.000000,...,0.000503,0.000704,0.001106,0.000503,0.003922,0.000402,0.0,0.000000,0.000000,0.0
1,NLRTM,NLMOE,2686,0.026061,0.589724,0.053611,0.000745,0.0,0.020849,0.000000,...,0.000745,0.000000,0.000372,0.000000,0.000372,0.000000,0.0,0.000000,0.000000,0.0
2,NLRTM,NLVLI,2153,0.088249,0.305620,0.192290,0.004645,0.0,0.065026,0.000000,...,0.000000,0.000929,0.000929,0.000464,0.000000,0.000000,0.0,0.000464,0.000000,0.0
3,NLAMS,NLAER,2119,0.002832,0.062294,0.000000,0.000944,0.0,0.003303,0.000000,...,0.000000,0.000472,0.002360,0.017461,0.000000,0.001416,0.0,0.000472,0.000472,0.0
4,NLRTM,NLRTM,1794,0.202341,0.398551,0.051282,0.008361,0.0,0.091416,0.000557,...,0.002230,0.000000,0.000000,0.000000,0.001115,0.000000,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10588,NLBZM,NLVSN,1,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
10589,NLBZM,NLVER,1,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
10590,NLBZM,NLSMB,1,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
10591,NLBZM,NLSHH,1,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
10592,NLEFE,NLDZL,1,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0

In [22]:
test_100 = df_chance.head(100)

In [16]:
test_100

,origin,destination,trip_count,M12,M8,M9,BIIa-1,BII-6b,M10,BII-6l,...,C4,C2l,M0,B04,BII-2L,B02,C1b,C2b,B01,C1l
0,NLRTM,NLAMS,9943,0.208790,0.353012,0.132354,0.010258,0.0,0.042945,0.000000,...,0.000503,0.000704,0.001106,0.000503,0.003922,0.000402,0.0,0.000000,0.000000,0.0
1,NLRTM,NLMOE,2686,0.026061,0.589724,0.053611,0.000745,0.0,0.020849,0.000000,...,0.000745,0.000000,0.000372,0.000000,0.000372,0.000000,0.0,0.000000,0.000000,0.0
2,NLRTM,NLVLI,2153,0.088249,0.305620,0.192290,0.004645,0.0,0.065026,0.000000,...,0.000000,0.000929,0.000929,0.000464,0.000000,0.000000,0.0,0.000464,0.000000,0.0
3,NLAMS,NLAER,2119,0.002832,0.062294,0.000000,0.000944,0.0,0.003303,0.000000,...,0.000000,0.000472,0.002360,0.017461,0.000000,0.001416,0.0,0.000472,0.000472,0.0
4,NLRTM,NLRTM,1794,0.202341,0.398551,0.051282,0.008361,0.0,0.091416,0.000557,...,0.002230,0.000000,0.000000,0.000000,0.001115,0.000000,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NLNIJ,NLAMS,352,0.011364,0.411932,0.028409,0.065341,0.0,0.000000,0.000000,...,0.000000,0.011364,0.000000,0.000000,0.002841,0.000000,0.0,0.000000,0.002841,0.0
96,NLFAR,NLRTM,342,0.000000,0.903509,0.029240,0.005848,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.008772,0.000000,0.0,0.000000,0.000000,0.0
97,NLRTM,NLVSN,342,0.000000,0.602339,0.368421,0.000000,0.0,0.011696,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
98,NLPER,NLAMS,328,0.027439,0.387195,0.097561,0.000000,0.0,0.018293,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
99,NLHRV,NLAMS,326,0.000000,0.595092,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.003067,0.0

In [62]:
def random_vessel_generator(df_prob):
    # create dict to store random prob based values later on
    main_dict = {i:[] for i in df_prob.columns}

    # loop over all rows of the probability dataframe
    for i in range(len(df_prob)):
        # copy origin, destination and count from original df
        for x in df_prob.columns[:3]:
            main_dict[x].append(df_prob.iloc[i,:][x])

        # find probability, items to pick, and the number of vessels to generate in total
        prob = list(df_prob.iloc[i, 3:].values)
        to_pick = list(df_prob.columns)
        to_pick = to_pick[3:]
        count = df_prob['trip_count'][i]

        # generate random vessels
        rand_vessels = np.random.choice(a=to_pick, size=count, replace=True, p=prob)
        unique, counts = np.unique(rand_vessels, return_counts=True)
        temp_dict = dict(zip(unique,counts))

        # append amount of random generated vessels right dict list
        for key in list(main_dict.keys())[3:]:
            if key in temp_dict.keys():
                main_dict[key].append(temp_dict[key])
            else:
                main_dict[key].append(0)

        # now make dict
        df_return = pd.DataFrame.from_dict(main_dict)

    return df_return

In [65]:
import time
%time vs = random_vessel_generator(test_100)

CPU times: total: 312 ms
Wall time: 305 ms

## Now translate random vessels fuel consumption value for each path
Idea: take 1 vessel as a basis, and assume that fuel consumption is linearly correlated with average engine power, to be able to use index
Capacity is likely x vessels per day of a certain type for a charging unit, depending on the charging time.
Hence, computing the average amount of that type of vehicles that comes by everyday makes sense.

In [72]:
# generate a random set to calculate path values with
df_gen_vessels = random_vessel_generator(test_100)

In [69]:
ship_data = pd.read_excel('data/ship_types.xlsx')
ship_data.fillna(0, inplace=True)

In [70]:
ship_data.loc[:,['RWS-class', 'Factor']]

   RWS-class     Factor
0         M0   0.000000
1         M1   1.000000
2         M2   1.714286
3         M3   2.485714
4         M4   2.485714
5         M5   2.485714
6         M6   3.942857
7         M7   3.942857
8         M8   8.142857
9         M9   8.142857
10       M10  11.514286
11       M11  11.514286
12       M12  11.514286
13       C1b   1.000000
14       C1l   1.000000
15       C2l   3.942857
16       C3l   0.000000
17       C2b  11.514286
18       C3b  11.514286
19        C4   0.000000
20       B01   1.000000
21       B02   1.428571
22       B03   0.000000
23       B04   2.485714
24        BI   3.942857
25     BII-1   8.142857
26    BIIa-1   8.142857
27    BIIL-1   8.142857
28    BII-2L   0.000000
29    BII-2b  11.514286
30     BII-4   0.000000
31    BII-6b   0.000000
32    BII-6l   0.000000

In [73]:
df_gen_vessels

,origin,destination,trip_count,M12,M8,M9,BIIa-1,BII-6b,M10,BII-6l,...,C4,C2l,M0,B04,BII-2L,B02,C1b,C2b,B01,C1l
0,NLRTM,NLAMS,9943,2159,3431,1336,122,0,418,0,...,7,3,14,4,37,7,0,0,0,0
1,NLRTM,NLMOE,2686,63,1627,110,1,0,46,0,...,0,0,2,0,0,0,0,0,0,0
2,NLRTM,NLVLI,2153,181,673,421,9,0,144,0,...,0,1,2,1,0,0,0,3,0,0
3,NLAMS,NLAER,2119,5,128,0,1,0,10,0,...,0,1,4,35,0,4,0,0,1,0
4,NLRTM,NLRTM,1794,364,725,93,10,0,171,1,...,4,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NLNIJ,NLAMS,352,3,154,8,24,0,0,0,...,0,2,0,0,1,0,0,0,1,0
96,NLFAR,NLRTM,342,0,303,13,1,0,0,0,...,0,0,0,0,5,0,0,0,0,0
97,NLRTM,NLVSN,342,0,207,120,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
98,NLPER,NLAMS,328,6,126,35,0,0,5,0,...,0,0,0,0,0,0,0,0,0,0
99,NLHRV,NLAMS,326,0,191,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [74]:
ship_data = dict(zip(ship_data['RWS-class'],ship_data['Factor']))

In [75]:
def flow_computation(df):
    # create dict to store path based values
    flows = {}
    # loop over data frame
    for i in range(len(df)-1):
        # subset all data ship type data
        a = df.iloc[:,3:]
        # flow is initially 0
        flow = 0
        #add number of ships times specific ship type weighing factor
        for row in a.columns:
            flow += ship_data[row] * a[row][i]
        # store flow, divide by 365 to get daily flow
        flows[(df.origin[i],df.destination[i])]= (flow/365)
    return flows

In [76]:
flows = flow_computation(df_gen_vessels)

In [77]:
flows

{('NLRTM', 'NLAMS'): 231.86943248532296,
 ('NLRTM', 'NLMOE'): 59.17072407045009,
 ('NLRTM', 'NLVLI'): 46.508493150684934,
 ('NLAMS', 'NLAER'): 21.328454011741684,
 ('NLRTM', 'NLRTM'): 41.673424657534234,
 ('NLVEG', 'NLRTM'): 15.091193737769082,
 ('NLTLB', 'NLRTM'): 18.00908023483366,
 ('NLLEY', 'NLAMS'): 13.309823874755383,
 ('NLOSS', 'NLRTM'): 14.652759295499019,
 ('NLZWO', 'NLAMS'): 15.07123287671233,
 ('NLUTC', 'NLRTM'): 20.881722113502935,
 ('NLRTM', 'NLKAM'): 21.554285714285708,
 ('NLHGL', 'NLRTM'): 18.096046966731897,
 ('NLLMR', 'NLAMS'): 22.848454011741687,
 ('NLRTM', 'NLWLK'): 6.717416829745598,
 ('NLAMS', 'NLMOE'): 18.417377690802347,
 ('NLAER', 'NLRTM'): 17.400469667318983,
 ('NLRTM', 'NLAPN'): 11.896046966731898,
 ('NLTNZ', 'NLVLI'): 17.44954990215264,
 ('NLDOR', 'NLRTM'): 18.832876712328765,
 ('NLAMS', 'NLDEV'): 6.741996086105675,
 ('NLGOR', 'NLRTM'): 17.858864970645794,
 ('NLRTM', 'NLNIJ'): 15.337299412915849,
 ('NLBZM', 'NLRTM'): 13.04289628180039,
 ('NLWSP', 'NLAER'): 10.103326810176126,
 ('NLRTM', 'NLOOS'): 17.04430528375734,
 ('NLRTM', 'NLTNZ'): 16.324931506849314,
 ('NLVLI', 'NLAMS'): 19.795068493150684,
 ('NLRTM', 'NLMEP'): 14.613463796477493,
 ('NLOOS', 'NLTLB'): 15.604383561643832,
 ('NLNIJ', 'NLWAS'): 15.976203522504893,
 ('NLKAM', 'NLAMS'): 9.780587084148726,
 ('NLIJM', 'NLMOE'): 10.697064579256356,
 ('NLHAR', 'NLWTE'): 21.89135029354207,
 ('NLKGZ', 'NLAMS'): 4.345909980430528,
 ('NLBON', 'NLRTM'): 13.021996086105673,
 ('NLMOE', 'NLAPN'): 14.131819960861057,
 ('NLDOR', 'NLAMS'): 12.46637964774951,
 ('NLTIE', 'NLRTM'): 12.351624266144812,
 ('NLHGL', 'NLAMS'): 7.378943248532289,
 ('NLNIJ', 'NLABL'): 13.851037181996086,
 ('NLMOE', 'NLOOS'): 13.920469667318981,
 ('NLAMS', 'NLAMS'): 9.597103718199607,
 ('NLNKK', 'NLAMS'): 3.498473581213307,
 ('NLAER', 'NLLEY'): 4.434755381604697,
 ('NLTNZ', 'NLTNZ'): 8.12187866927593,
 ('NLMEP', 'NLAMS'): 6.7198434442270045,
 ('NLIJM', 'NLRTM'): 8.444540117416828,
 ('NLRTM', 'NLDZL'): 10.558356164383563,
 ('NLHAR', 'NLAMS'): 12.645088062622309,
 ('NLAMS', 'NLWMO'): 2.560547945205479,
 ('NLALK', 'NLIJM'): 3.7897455968688845,
 ('NLAMS', 'NLOSS'): 5.517808219178082,
 ('NLABL', 'NLRTM'): 11.351859099804303,
 ('NLHAS', 'NLAMS'): 10.347632093933465,
 ('NLRTM', 'NLVEN'): 6.0990998043052835,
 ('NLRTM', 'NLZWO'): 8.516790606653622,
 ('NLTNZ', 'NLBRS'): 7.175733855185909,
 ('NLFAR', 'NLEEM'): 7.6731115459882595,
 ('NLRTM', 'NLARN'): 11.709589041095889,
 ('NLDHR', 'NLDHR'): 0.6061056751467709,
 ('NLAER', 'NLNIE'): 7.622074363992173,
 ('NLUTC', 'NLTIE'): 8.403131115459882,
 ('NLDRO', 'NLKAM'): 3.7089628180039145,
 ('NLAMS', 'NLTIE'): 4.106927592954991,
 ('NLVEG', 'NLAMS'): 3.429275929549902,
 ('NLGNM', 'NLAMS'): 4.093385518590998,
 ('NLWBR', 'NLRTM'): 9.298082191780821,
 ('NLNIJ', 'NLDRU'): 7.682348336594913,
 ('NLTLB', 'NLMOE'): 5.713737769080235,
 ('NLAMS', 'NLWGW'): 4.553189823874756,
 ('NLAMS', 'NLZAA'): 3.08986301369863,
 ('NLDST', 'NLAMS'): 6.758121330724068,
 ('NLSTD', 'NLSTD'): 1.6403913894324853,
 ('NLAER', 'NLSWI'): 2.7823091976516636,
 ('NLWGW', 'NLRTM'): 5.020273972602738,
 ('NLSTI', 'NLRTM'): 8.113894324853229,
 ('NLCUY', 'NLRTM'): 7.092915851272015,
 ('NLSWI', 'NLLEY'): 3.0259882583170254,
 ('NLVEG', 'NLHEJ'): 2.667005870841487,
 ('NLAMS', 'NLHEJ'): 3.0779647749510763,
 ('NLRTM', 'NLGTB'): 6.747240704500979,
 ('NLMOE', 'NLTNZ'): 7.99499021526419,
 ('NLTNZ', 'NLAMS'): 8.170254403131114,
 ('NLHRD', 'NLAMS'): 3.5757338551859106,
 ('NLIJM', 'NLMST'): 5.926966731898239,
 ('NLAMS', 'NLUTC'): 6.910136986301369,
 ('NLHTB', 'NLBZM'): 8.050802348336594,
 ('NLVEN', 'NLBON'): 7.461526418786693,
 ('NLALM', 'NLAMS'): 4.045949119373777,
 ('NLVLI', 'NLVLI'): 3.01706457925636,
 ('NLDRA', 'NLAMS'): 5.223953033268102,
 ('NLNRW', 'NLBON'): 1.7274363992172208,
 ('NLOMD', 'NLRTM'): 6.445244618395303,
 ('NLLWR', 'NLRTM'): 7.17651663405088,
 ('NLNIJ', 'NLAMS'): 5.673972602739726,
 ('NLFAR', 'NLRTM'): 7.342230919765166,
 ('NLRTM', 'NLVSN'): 7.597808219178081,
 ('NLPER', 'NLAMS'): 6.319217221135029}

In [78]:
#sort flows from large to small
flows = dict(sorted(flows.items(), key=lambda item: item[1], reverse=True))

In [79]:
flows

{('NLRTM', 'NLAMS'): 231.86943248532296,
 ('NLRTM', 'NLMOE'): 59.17072407045009,
 ('NLRTM', 'NLVLI'): 46.508493150684934,
 ('NLRTM', 'NLRTM'): 41.673424657534234,
 ('NLLMR', 'NLAMS'): 22.848454011741687,
 ('NLHAR', 'NLWTE'): 21.89135029354207,
 ('NLRTM', 'NLKAM'): 21.554285714285708,
 ('NLAMS', 'NLAER'): 21.328454011741684,
 ('NLUTC', 'NLRTM'): 20.881722113502935,
 ('NLVLI', 'NLAMS'): 19.795068493150684,
 ('NLDOR', 'NLRTM'): 18.832876712328765,
 ('NLAMS', 'NLMOE'): 18.417377690802347,
 ('NLHGL', 'NLRTM'): 18.096046966731897,
 ('NLTLB', 'NLRTM'): 18.00908023483366,
 ('NLGOR', 'NLRTM'): 17.858864970645794,
 ('NLTNZ', 'NLVLI'): 17.44954990215264,
 ('NLAER', 'NLRTM'): 17.400469667318983,
 ('NLRTM', 'NLOOS'): 17.04430528375734,
 ('NLRTM', 'NLTNZ'): 16.324931506849314,
 ('NLNIJ', 'NLWAS'): 15.976203522504893,
 ('NLOOS', 'NLTLB'): 15.604383561643832,
 ('NLRTM', 'NLNIJ'): 15.337299412915849,
 ('NLVEG', 'NLRTM'): 15.091193737769082,
 ('NLZWO', 'NLAMS'): 15.07123287671233,
 ('NLOSS', 'NLRTM'): 14.652759295499019,
 ('NLRTM', 'NLMEP'): 14.613463796477493,
 ('NLMOE', 'NLAPN'): 14.131819960861057,
 ('NLMOE', 'NLOOS'): 13.920469667318981,
 ('NLNIJ', 'NLABL'): 13.851037181996086,
 ('NLLEY', 'NLAMS'): 13.309823874755383,
 ('NLBZM', 'NLRTM'): 13.04289628180039,
 ('NLBON', 'NLRTM'): 13.021996086105673,
 ('NLHAR', 'NLAMS'): 12.645088062622309,
 ('NLDOR', 'NLAMS'): 12.46637964774951,
 ('NLTIE', 'NLRTM'): 12.351624266144812,
 ('NLRTM', 'NLAPN'): 11.896046966731898,
 ('NLRTM', 'NLARN'): 11.709589041095889,
 ('NLABL', 'NLRTM'): 11.351859099804303,
 ('NLIJM', 'NLMOE'): 10.697064579256356,
 ('NLRTM', 'NLDZL'): 10.558356164383563,
 ('NLHAS', 'NLAMS'): 10.347632093933465,
 ('NLWSP', 'NLAER'): 10.103326810176126,
 ('NLKAM', 'NLAMS'): 9.780587084148726,
 ('NLAMS', 'NLAMS'): 9.597103718199607,
 ('NLWBR', 'NLRTM'): 9.298082191780821,
 ('NLRTM', 'NLZWO'): 8.516790606653622,
 ('NLIJM', 'NLRTM'): 8.444540117416828,
 ('NLUTC', 'NLTIE'): 8.403131115459882,
 ('NLTNZ', 'NLAMS'): 8.170254403131114,
 ('NLTNZ', 'NLTNZ'): 8.12187866927593,
 ('NLSTI', 'NLRTM'): 8.113894324853229,
 ('NLHTB', 'NLBZM'): 8.050802348336594,
 ('NLMOE', 'NLTNZ'): 7.99499021526419,
 ('NLNIJ', 'NLDRU'): 7.682348336594913,
 ('NLFAR', 'NLEEM'): 7.6731115459882595,
 ('NLAER', 'NLNIE'): 7.622074363992173,
 ('NLRTM', 'NLVSN'): 7.597808219178081,
 ('NLVEN', 'NLBON'): 7.461526418786693,
 ('NLHGL', 'NLAMS'): 7.378943248532289,
 ('NLFAR', 'NLRTM'): 7.342230919765166,
 ('NLLWR', 'NLRTM'): 7.17651663405088,
 ('NLTNZ', 'NLBRS'): 7.175733855185909,
 ('NLCUY', 'NLRTM'): 7.092915851272015,
 ('NLAMS', 'NLUTC'): 6.910136986301369,
 ('NLDST', 'NLAMS'): 6.758121330724068,
 ('NLRTM', 'NLGTB'): 6.747240704500979,
 ('NLAMS', 'NLDEV'): 6.741996086105675,
 ('NLMEP', 'NLAMS'): 6.7198434442270045,
 ('NLRTM', 'NLWLK'): 6.717416829745598,
 ('NLOMD', 'NLRTM'): 6.445244618395303,
 ('NLPER', 'NLAMS'): 6.319217221135029,
 ('NLRTM', 'NLVEN'): 6.0990998043052835,
 ('NLIJM', 'NLMST'): 5.926966731898239,
 ('NLTLB', 'NLMOE'): 5.713737769080235,
 ('NLNIJ', 'NLAMS'): 5.673972602739726,
 ('NLAMS', 'NLOSS'): 5.517808219178082,
 ('NLDRA', 'NLAMS'): 5.223953033268102,
 ('NLWGW', 'NLRTM'): 5.020273972602738,
 ('NLAMS', 'NLWGW'): 4.553189823874756,
 ('NLAER', 'NLLEY'): 4.434755381604697,
 ('NLKGZ', 'NLAMS'): 4.345909980430528,
 ('NLAMS', 'NLTIE'): 4.106927592954991,
 ('NLGNM', 'NLAMS'): 4.093385518590998,
 ('NLALM', 'NLAMS'): 4.045949119373777,
 ('NLALK', 'NLIJM'): 3.7897455968688845,
 ('NLDRO', 'NLKAM'): 3.7089628180039145,
 ('NLHRD', 'NLAMS'): 3.5757338551859106,
 ('NLNKK', 'NLAMS'): 3.498473581213307,
 ('NLVEG', 'NLAMS'): 3.429275929549902,
 ('NLAMS', 'NLZAA'): 3.08986301369863,
 ('NLAMS', 'NLHEJ'): 3.0779647749510763,
 ('NLSWI', 'NLLEY'): 3.0259882583170254,
 ('NLVLI', 'NLVLI'): 3.01706457925636,
 ('NLAER', 'NLSWI'): 2.7823091976516636,
 ('NLVEG', 'NLHEJ'): 2.667005870841487,
 ('NLAMS', 'NLWMO'): 2.560547945205479,
 ('NLNRW', 'NLBON'): 1.7274363992172208,
 ('NLSTD', 'NLSTD'): 1.6403913894324853,
 ('NLDHR', 'NLDHR'): 0.6061056751467709}

## Get and clean harbour data NL, Ger and Bel

In [6]:
# now get coordinates harbours, in three files, check encoding frist below
pd.read_csv('data/harbour_codes_coords/2021-2 UNLOCODE CodeListPart1.csv', encoding="ISO-8859-1", header=None, sep=",",
            index_col=None)

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,AD,NaN,.ANDORRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AD,ALV,Andorra la Vella,Andorra la Vella,NaN,--34-6--,AI,601.0,NaN,4230N 00131E,NaN
2,NaN,AD,CAN,Canillo,Canillo,NaN,--3-----,RL,307.0,NaN,4234N 00135E,NaN
3,NaN,AD,ENC,Encamp,Encamp,NaN,--3-----,RL,307.0,NaN,4232N 00134E,NaN
4,NaN,AD,ESC,Escaldes-Engordany,Escaldes-Engordany,NaN,--3-----,RL,307.0,NaN,4231N 00133E,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
54611,NaN,FR,ZTG,Zetting,Zetting,57,--3-----,RL,1901.0,NaN,4905N 00708E,NaN
54612,NaN,FR,ZL2,Zilia,Zilia,2B,-----6--,RL,1901.0,NaN,4231N 00854E,NaN
54613,NaN,FR,ZWL,Zinswiller,Zinswiller,67,--3-----,RL,1901.0,NaN,4855N 00735E,NaN
54614,NaN,FR,PCZ,Zoteux,Zoteux,62,-----6--,RL,1001.0,NaN,5037N 00153E,NaN
54615,NaN,FR,559,Zuytpeene,Zuytpeene,59,--3-----,RL,1607.0,NaN,5048N 00226E,NaN

In [7]:
# now identify all files to combine
from os import walk

f = []
for (dirpath, dirnames, filenames) in walk('data/harbour_codes_coords'):
    f.extend(filenames)
    break

In [8]:

#empty list to store data
li = []

#read everything in as object for now
for filename in f:
    df = pd.read_csv("data/harbour_codes_coords/" + str(filename), sep=',', index_col=None, header=None,
                     encoding="ISO-8859-1")
    print(filename, 'handled')
    li.append(df)

2021-2 UNLOCODE CodeListPart1.csv handled
2021-2 UNLOCODE CodeListPart2.csv handled
2021-2 UNLOCODE CodeListPart3.csv handled

In [9]:
#create df
df_harbour_codes = pd.concat(li, axis=0, ignore_index=True)
df_benelux=df_harbour_codes.copy()
#subset Dutch harbours
# df_benelux = df_harbour_codes.loc[(df_harbour_codes[1] == 'NL')]

# uncomment below to loc benelux, for now only use NL because of scope
# df_benelux = df_harbour_codes.loc[
#     (df_harbour_codes[1] == 'NL') | (df_harbour_codes[1] == 'DE') | (df_harbour_codes[1] == 'BE') | (
#                 df_harbour_codes[1] == 'LU')]

In [10]:
#fillna
df_benelux.fillna(np.nan, inplace=True)

In [11]:
# give appropriate column names
df_benelux.rename(columns={0: 'mutation', 1: 'country', 2: 'city_abbr', 3: 'city_full', 4: 'city_full_2', 5: 'subdivision', 6: 'function', 7:'status', 8:'date', 9:'iata_code', 10: 'coords', 11: 'comments'}, inplace=True)

In [12]:
df_benelux

,mutation,country,city_abbr,city_full,city_full_2,subdivision,function,status,date,iata_code,coords,comments
0,NaN,AD,NaN,.ANDORRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AD,ALV,Andorra la Vella,Andorra la Vella,NaN,--34-6--,AI,601.0,NaN,4230N 00131E,NaN
2,NaN,AD,CAN,Canillo,Canillo,NaN,--3-----,RL,307.0,NaN,4234N 00135E,NaN
3,NaN,AD,ENC,Encamp,Encamp,NaN,--3-----,RL,307.0,NaN,4232N 00134E,NaN
4,NaN,AD,ESC,Escaldes-Engordany,Escaldes-Engordany,NaN,--3-----,RL,307.0,NaN,4231N 00133E,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
115984,NaN,ZW,STH,Southerton,Southerton,NaN,--3-----,RL,201.0,NaN,1751S 03101E,NaN
115985,NaN,ZW,THJ,Thompson Junction,Thompson Junction,NaN,-23-----,RL,701.0,NaN,1800S 02626E,NaN
115986,NaN,ZW,VFA,Victoria Falls,Victoria Falls,NaN,---4----,AI,9501.0,NaN,NaN,NaN
115987,NaN,ZW,ZMZ,Zimbabwe,Zimbabwe,MV,1-3-----,RL,1401.0,NaN,2016S 03055E,NaN
115988,NaN,ZW,ZVS,Zvishavane,Zvishavane,MI,--3-----,RL,1207.0,NaN,2020S 03002E,NaN

In [13]:
# subset relevant columns
# df_benelux = df_benelux.loc[:,['country','city_abbr','function', 'coords']]

In [14]:
#reset index
df_benelux.reset_index(inplace=True,drop=True)

In [15]:
# drop rows with nan values for necessary columns
# df_benelux.dropna(subset=['country', 'city_abbr', 'coords'], inplace = True)

In [16]:
# # convert columns to be normal strings
# for i in df_benelux.columns:
#     df_benelux[i] = df_benelux[i].astype('|S80')
#     df_benelux[i] = df_benelux[i].apply(lambda x: x.decode('utf-8'))

In [17]:
df_benelux.replace('nan', np.nan)

,mutation,country,city_abbr,city_full,city_full_2,subdivision,function,status,date,iata_code,coords,comments
0,NaN,AD,NaN,.ANDORRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AD,ALV,Andorra la Vella,Andorra la Vella,NaN,--34-6--,AI,601.0,NaN,4230N 00131E,NaN
2,NaN,AD,CAN,Canillo,Canillo,NaN,--3-----,RL,307.0,NaN,4234N 00135E,NaN
3,NaN,AD,ENC,Encamp,Encamp,NaN,--3-----,RL,307.0,NaN,4232N 00134E,NaN
4,NaN,AD,ESC,Escaldes-Engordany,Escaldes-Engordany,NaN,--3-----,RL,307.0,NaN,4231N 00133E,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
115984,NaN,ZW,STH,Southerton,Southerton,NaN,--3-----,RL,201.0,NaN,1751S 03101E,NaN
115985,NaN,ZW,THJ,Thompson Junction,Thompson Junction,NaN,-23-----,RL,701.0,NaN,1800S 02626E,NaN
115986,NaN,ZW,VFA,Victoria Falls,Victoria Falls,NaN,---4----,AI,9501.0,NaN,NaN,NaN
115987,NaN,ZW,ZMZ,Zimbabwe,Zimbabwe,MV,1-3-----,RL,1401.0,NaN,2016S 03055E,NaN
115988,NaN,ZW,ZVS,Zvishavane,Zvishavane,MI,--3-----,RL,1207.0,NaN,2020S 03002E,NaN

In [18]:
df_benelux['harbour_code'] = df_benelux.country+df_benelux.city_abbr

In [19]:
df_benelux = df_benelux.loc[:,['country','city_abbr','city_full','function','coords','harbour_code']]

In [20]:
# save cleaned data
df_benelux.to_csv('data/cleaned_harbours.csv')

## Final step: assign harbours to nodes

In [62]:
test_100

,origin,destination,trip_count,M12,M8,M9,BIIa-1,BII-6b,M10,BII-6l,...,C4,C2l,M0,B04,BII-2L,B02,C1b,C2b,B01,C1l
0,NLRTM,NLAMS,9943,0.208790,0.353012,0.132354,0.010258,0.0,0.042945,0.000000,...,0.000503,0.000704,0.001106,0.000503,0.003922,0.000402,0.0,0.000000,0.000000,0.0
1,NLRTM,NLMOE,2686,0.026061,0.589724,0.053611,0.000745,0.0,0.020849,0.000000,...,0.000745,0.000000,0.000372,0.000000,0.000372,0.000000,0.0,0.000000,0.000000,0.0
2,NLRTM,NLVLI,2153,0.088249,0.305620,0.192290,0.004645,0.0,0.065026,0.000000,...,0.000000,0.000929,0.000929,0.000464,0.000000,0.000000,0.0,0.000464,0.000000,0.0
3,NLAMS,NLAER,2119,0.002832,0.062294,0.000000,0.000944,0.0,0.003303,0.000000,...,0.000000,0.000472,0.002360,0.017461,0.000000,0.001416,0.0,0.000472,0.000472,0.0
4,NLRTM,NLRTM,1794,0.202341,0.398551,0.051282,0.008361,0.0,0.091416,0.000557,...,0.002230,0.000000,0.000000,0.000000,0.001115,0.000000,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NLNIJ,NLAMS,352,0.011364,0.411932,0.028409,0.065341,0.0,0.000000,0.000000,...,0.000000,0.011364,0.000000,0.000000,0.002841,0.000000,0.0,0.000000,0.002841,0.0
96,NLFAR,NLRTM,342,0.000000,0.903509,0.029240,0.005848,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.008772,0.000000,0.0,0.000000,0.000000,0.0
97,NLRTM,NLVSN,342,0.000000,0.602339,0.368421,0.000000,0.0,0.011696,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
98,NLPER,NLAMS,328,0.027439,0.387195,0.097561,0.000000,0.0,0.018293,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
99,NLHRV,NLAMS,326,0.000000,0.595092,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.003067,0.0

In [105]:
h_list = list(set(list(test_100.origin.unique()))|set(list(test_100.destination.unique())))

In [106]:
import re
h_list = [re.sub("NL", "", i) for i in h_list]

In [107]:
df_h_nl = df_benelux.loc[(df_benelux.city_abbr.isin(h_list))&(df_benelux.country == 'NL')]
df_h_nl.reset_index(inplace=True, drop=True)

In [108]:
df_h_nl['lat']=0
df_h_nl['lon']=0

C:\Users\Fabia\AppData\Local\Temp\ipykernel_26176\4140986558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_h_nl['lat']=0
C:\Users\Fabia\AppData\Local\Temp\ipykernel_26176\4140986558.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_h_nl['lon']=0

In [35]:
for i,city in enumerate(df_h_nl.city_full):
    r = requests.get(f"https://maps.googleapis.com/maps/api/geocode/json?address={'Haven van',str(city)}&key={K}")
    results = json.loads(r.content)
    lat_r = results['results'][0]['geometry']['location']['lat']
    lon_r = results['results'][0]['geometry']['location']['lng']
    df_h_nl['lat'][i] = lat_r
    df_h_nl['lon'][i] = lon_r

In [92]:
df_h_nl

,mutation,country,city_abbr,city_full,city_full_2,subdivision,function,status,date,iata_code,coords,comments,harbour_code
78676,0,NL,ABL,Alblasserdam,Alblasserdam,0,1-------,AF,9602.0,0,0,0,NLABL
78678,0,NL,ALK,Alkmaar,Alkmaar,NH,123-----,AF,1601.0,0,5238N 00445E,0,NLALK
78680,0,NL,ALM,Almelo,Almelo,OV,123-----,AF,1601.0,QYL,5221N 00640E,0,NLALM
78682,0,NL,AER,Almere,Almere,FL,1-3--6--,AF,2007.0,0,5222N 00513E,0,NLAER
78685,0,NL,APN,Alphen aan den Rijn,Alphen aan den Rijn,ZH,123-----,AF,1607.0,0,5208N 00440E,0,NLAPN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80364,0,NL,WBR,Westerbroek,Westerbroek,GR,--3-----,RL,701.0,0,5311N 00641E,0,NLWBR
80378,0,NL,WTE,West-Terschelling,West-Terschelling,0,1-------,AF,9602.0,0,0,0,NLWTE
80438,0,NL,WMO,Wormer,Wormer,0,1-3-----,AF,1101.0,0,5230N 00449E,0,NLWMO
80450,0,NL,ZAA,Zaandam,Zaandam,0,123-----,AF,9602.0,0,0,0,NLZAA
80516,0,NL,ZWO,Zwolle,Zwolle,0,-23-----,AF,9602.0,0,0,0,NLZWO

In [52]:
df_benelux.fillna(0, inplace=True)

In [109]:
for key, coords in enumerate(df_h_nl.coords):
    lat_lon=[]
    if coords!=0:
        for j in range(2):
            part_a = coords.split()[j][:2]
            part_b = coords.split()[j][-3:-1]
            cor = (str(part_a)+"Â°"+str(part_b))
            lat_lon.append(cor)
        print(lat_lon)
        df_h_nl.coords[key] = tuple(lat_lon)

['52Â°38', '00Â°45']
['52Â°21', '00Â°40']
['52Â°22', '00Â°13']
['52Â°08', '00Â°40']
['52Â°24', '00Â°49']
['51Â°30', '00Â°18']
['51Â°02', '00Â°49']

C:\Users\Fabia\AppData\Local\Temp\ipykernel_26176\271693257.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_h_nl.coords[key] = tuple(lat_lon)

['51Â°23', '00Â°34']
['51Â°44', '00Â°53']
['51Â°53', '00Â°40']
['52Â°31', '00Â°56']
['52Â°57', '00Â°46']
['51Â°47', '00Â°38']
['53Â°11', '00Â°26']
['52Â°28', '00Â°36']
['52Â°28', '00Â°48']
['51Â°41', '00Â°34']
['51Â°58', '00Â°37']
['51Â°39', '00Â°53']
['51Â°46', '00Â°32']
['51Â°53', '00Â°23']
['51Â°55', '00Â°30']
['51Â°42', '00Â°19']
['52Â°34', '00Â°38']
['51Â°28', '00Â°49']
['52Â°05', '00Â°08']
['52Â°28', '00Â°39']
['51Â°22', '00Â°10']
['51Â°27', '00Â°42']
['51Â°32', '00Â°05']
['53Â°11', '00Â°41']
['52Â°30', '00Â°49']

In [102]:
df_h_nl

,mutation,country,city_abbr,city_full,city_full_2,subdivision,function,status,date,iata_code,coords,comments,harbour_code,lat,lon
0,0,NL,ABL,Alblasserdam,Alblasserdam,0,1-------,AF,9602.0,0,0,0,NLABL,0,0
1,0,NL,ALK,Alkmaar,Alkmaar,NH,123-----,AF,1601.0,0,"(52Â°38, 00Â°45)",0,NLALK,0,0
2,0,NL,ALM,Almelo,Almelo,OV,123-----,AF,1601.0,QYL,"(52Â°21, 00Â°40)",0,NLALM,0,0
3,0,NL,AER,Almere,Almere,FL,1-3--6--,AF,2007.0,0,"(52Â°22, 00Â°13)",0,NLAER,0,0
4,0,NL,APN,Alphen aan den Rijn,Alphen aan den Rijn,ZH,123-----,AF,1607.0,0,"(52Â°08, 00Â°40)",0,NLAPN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,0,NL,WBR,Westerbroek,Westerbroek,GR,--3-----,RL,701.0,0,"(53Â°11, 00Â°41)",0,NLWBR,0,0
65,0,NL,WTE,West-Terschelling,West-Terschelling,0,1-------,AF,9602.0,0,0,0,NLWTE,0,0
66,0,NL,WMO,Wormer,Wormer,0,1-3-----,AF,1101.0,0,"(52Â°30, 00Â°49)",0,NLWMO,0,0
67,0,NL,ZAA,Zaandam,Zaandam,0,123-----,AF,9602.0,0,0,0,NLZAA,0,0
68,0,NL,ZWO,Zwolle,Zwolle,0,-23-----,AF,9602.0,0,0,0,NLZWO,0,0