In [1]:
from first_stage_frlm import first_stage_frlm
from second_stage_frlm import second_stage_frlm
import networkx as nx
import pickle

In [2]:


G = pickle.load( open('data/network_digital_twin_v0.2.pickle','rb'))

In [3]:
a = nx.shortest_path(G,"8864461", "8860547", weight='length_m')
harbour_exits = pickle.load( open("data/harbour_exits.p", "rb") )

In [4]:
harbour_exits[:5]

['8861581', '8860954', '8865802', '8864595', '8866901']

In [5]:
# Let's see whether the program works for the route from Brielle to Schwinhaven (near Zwijndrecht)
#now also added
df_b, df_g, df_eq_fq = first_stage_frlm(G, 40000, [("8864461", "8860547", 30)])

In [6]:
df_b

,"(8864235, 8867784, 8863810)","(8864235, 8867784, 8866899)","(8864235, 8867784, 8867023)"
q,,,
"(8864461, 8860547)",1,1,1

In [7]:
df_g

                                                8863810  8866899  8864235  \
q                  h
(8864461, 8860547) (8864235, 8867784, 8867023)        0        0        1
                   (8864235, 8867784, 8863810)        2        0        1
                   (8864235, 8867784, 8866899)        0        1        1

                                                8867784  8867023
q                  h
(8864461, 8860547) (8864235, 8867784, 8867023)        2        2
                   (8864235, 8867784, 8863810)        2        0
                   (8864235, 8867784, 8866899)        2        0

In [8]:
df_eq_fq

                    e_q  f_q
q
(8864461, 8860547)  1.0   30

In [9]:
optimal_facilities, optimal_flows = second_stage_frlm(6, 20, df_g, df_b, df_eq_fq)

CFRLM:
MAXIMIZE
30*Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8863810')) + 30*Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8866899')) + 30*Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8867023')) + 0
SUBJECT TO
_C1: - 20 Facilities_8863810
 + 60 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8863810'))
 <= 0

_C2: - 20 Facilities_8866899
 + 30 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8866899'))
 <= 0

_C3: - 20 Facilities_8864235
 + 30 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8863810'))
 + 30 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8866899'))
 + 30 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8867023'))
 <= 0

_C4: - 20 Facilities_8867784
 + 60 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8863810'))
 + 60 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8866899'))
 + 60 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8867023'))
 <= 0

_C5: - 20 Facilities_8867023
 + 60 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8867023'))
 <= 0

_C6: Facilities_8863810 + Facilities_8864235 + Facilities_8866899
 + Facilities_8867023 + Facilities_8867784 <= 6

_C7: Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8863810'))
 + Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8866899'))
 + Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8867023'))
 <= 1

VARIABLES
0 <= Facilities_8863810 Integer
0 <= Facilities_8864235 Integer
0 <= Facilities_8866899 Integer
0 <= Facilities_8867023 Integer
0 <= Facilities_8867784 Integer
Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8863810')) <= 1 Continuous
Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8866899')) <= 1 Continuous
Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8867023')) <= 1 Continuous

Optimal
Variable Facilities_8863810 is equal to 1.0
Variable Facilities_8864235 is equal to 1.0
Variable Facilities_8866899 is equal to 1.0
Variable Facilities_8867023 is equal to 0.0
Variable Facilities_8867784 is equal to 3.0
Variable Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8863810')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8866899')) is equal to 0.66666667
Variable Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8867023')) is equal to 0.0
Total supported flow is equal to 20.0000001

In [10]:
optimal_flows

{Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8863810')): 0.0,
 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8866899')): 0.66666667,
 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867784',_'8867023')): 0.0}

## Seems to go quite okay!
Also try with multiple OD sets for illustration

In [11]:
#now also added: Brielle to Middelharnis and Brielle to Ridderkerk
%time df_b, df_g, df_eq_fq = first_stage_frlm(G, 60000, [("8864461", "8860547", 30), ("8864461", "8862620", 20), ("8864461", "8860687", 10)])

CPU times: total: 7.14 s
Wall time: 7.14 s

In [12]:
df_b

,"(8864235, 8865086)","(8867784, 8866899)","(8863988, 8865803)","(8865803, 8865818)","(8863988, 8864482)","(8864009, 8864482)","(8867588, 8864482)","(8864009, 8861736)","(8863988, 8864235)","(8865803, 8867528)",...,"(8865086, 8861736)","(8860968, 8867784)","(8865818, 8864482)","(8866686, 8861736)","(8866686, 8864235)","(8865086, 8862585)","(8865803, 8864009)","(8865818, 8861736)","(8866686, 8862585)","(8864235, 8867588)"
q,,,,,,,,,,,,,,,,,,,,,
"(8864461, 8860547)",0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"(8864461, 8862620)",0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
"(8864461, 8860687)",1,0,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,1

In [13]:
df_g

                                       8865086  8862585  8864482  8863810  \
q                  h
(8864461, 8860547) (8864235, 8867023)        0        0        0        0
                   (8864235, 8863810)        0        0        0        2
                   (8864235, 8866899)        0        0        0        0
                   (8867784, 8867023)        0        0        0        0
                   (8863810, 8867784)        0        0        0        2
                   (8867784, 8866899)        0        0        0        0
(8864461, 8862620) (8860968, 8867784)        0        0        0        0
(8864461, 8860687) (8863988, 8864235)        0        0        0        0
                   (8864235, 8865086)        2        0        0        0
                   (8864235, 8865818)        0        0        0        0
                   (8864235, 8867528)        0        0        0        0
                   (8864235, 8864009)        0        0        0        0
                   (8864235, 8867588)        0        0        0        0
                   (8866686, 8864235)        0        0        0        0
                   (8863988, 8865803)        0        0        0        0
                   (8865803, 8865086)        2        0        0        0
                   (8865803, 8865818)        0        0        0        0
                   (8865803, 8867528)        0        0        0        0
                   (8865803, 8864009)        0        0        0        0
                   (8865803, 8867588)        0        0        0        0
                   (8866686, 8865803)        0        0        0        0
                   (8863988, 8862585)        0        2        0        0
                   (8865086, 8862585)        2        2        0        0
                   (8862585, 8865818)        0        2        0        0
                   (8862585, 8867528)        0        2        0        0
                   (8864009, 8862585)        0        2        0        0
                   (8867588, 8862585)        0        2        0        0
                   (8866686, 8862585)        0        2        0        0
                   (8863988, 8864482)        0        0        2        0
                   (8865086, 8864482)        2        0        2        0
                   (8865818, 8864482)        0        0        2        0
                   (8867528, 8864482)        0        0        2        0
                   (8864009, 8864482)        0        0        2        0
                   (8867588, 8864482)        0        0        2        0
                   (8866686, 8864482)        0        0        2        0
                   (8863988, 8861736)        0        0        0        0
                   (8865086, 8861736)        2        0        0        0
                   (8865818, 8861736)        0        0        0        0
                   (8867528, 8861736)        0        0        0        0
                   (8864009, 8861736)        0        0        0        0
                   (8867588, 8861736)        0        0        0        0
                   (8866686, 8861736)        0        0        0        0

                                       8864009  8865818  8866899  8863988  \
q                  h
(8864461, 8860547) (8864235, 8867023)        0        0        0        0
                   (8864235, 8863810)        0        0        0        0
                   (8864235, 8866899)        0        0        1        0
                   (8867784, 8867023)        0        0        0        0
                   (8863810, 8867784)        0        0        0        0
                   (8867784, 8866899)        0        0        1        0
(8864461, 8862620) (8860968, 8867784)        0        0        0        0
(8864461, 8860687) (8863988, 8864235)        0        0        0        2
                   (8864235, 8865086)        0        0        0        0
                   (8864235, 8865818)        0        2        0        0
                   (8864235, 8867528)        0        0        0        0
                   (8864235, 8864009)        2        0        0        0
                   (8864235, 8867588)        0        0        0        0
                   (8866686, 8864235)        0        0        0        0
                   (8863988, 8865803)        0        0        0        2
                   (8865803, 8865086)        0        0        0        0
                   (8865803, 8865818)        0        2        0        0
                   (8865803, 8867528)        0        0        0        0
                   (8865803, 8864009)        2        0        0        0
                   (8865803, 8867588)        0        0        0        0
                   (8866686, 8865803)        0        0        0        0
                   (8863988, 8862585)        0        0        0        2
                   (8865086, 8862585)        0        0        0        0
                   (8862585, 8865818)        0        2        0        0
                   (8862585, 8867528)        0        0        0        0
                   (8864009, 8862585)        2        0        0        0
                   (8867588, 8862585)        0        0        0        0
                   (8866686, 8862585)        0        0        0        0
                   (8863988, 8864482)        0        0        0        2
                   (8865086, 8864482)        0        0        0        0
                   (8865818, 8864482)        0        2        0        0
                   (8867528, 8864482)        0        0        0        0
                   (8864009, 8864482)        2        0        0        0
                   (8867588, 8864482)        0        0        0        0
                   (8866686, 8864482)        0        0        0        0
                   (8863988, 8861736)        0        0        0        2
                   (8865086, 8861736)        0        0        0        0
                   (8865818, 8861736)        0        2        0        0
                   (8867528, 8861736)        0        0        0        0
                   (8864009, 8861736)        2        0        0        0
                   (8867588, 8861736)        0        0        0        0
                   (8866686, 8861736)        0        0        0        0

                                       8864235  8865803  8867588  8867784  \
q                  h
(8864461, 8860547) (8864235, 8867023)        1        0        0        0
                   (8864235, 8863810)        1        0        0        0
                   (8864235, 8866899)        1        0        0        0
                   (8867784, 8867023)        0        0        0        2
                   (8863810, 8867784)        0        0        0        2
                   (8867784, 8866899)        0        0        0        2
(8864461, 8862620) (8860968, 8867784)        0        0        0        2
(8864461, 8860687) (8863988, 8864235)        1        0        0        0
                   (8864235, 8865086)        1        0        0        0
                   (8864235, 8865818)        1        0        0        0
                   (8864235, 8867528)        1        0        0        0
                   (8864235, 8864009)        1        0        0        0
                   (8864235, 8867588)        1        0        2        0
                   (8866686, 8864235)        1        0        0        0
                   (8863988, 8865803)        0        2        0        0
                   (8865803, 8865086)        0        2        0        0
                   (8865803, 8865818)        0        2        0        0
                   (8865803, 8867528)        0        2        0        0
                   (8865803, 8864009)        0        2        0        0
                   (8865803, 8867588)        0        2        2        0
                   (8866686, 8865803)        0        2        0        0
                   (8863988, 8862585)        0        0        0        0
                   (8865086, 8862585)        0        0        0        0
                   (8862585, 8865818)        0        0        0        0
                   (8862585, 8867528)        0        0        0        0
                   (8864009, 8862585)        0        0        0        0
                   (8867588, 8862585)        0        0        2        0
                   (8866686, 8862585)        0        0        0        0
                   (8863988, 8864482)        0        0        0        0
                   (8865086, 8864482)        0        0        0        0
                   (8865818, 8864482)        0        0        0        0
                   (8867528, 8864482)        0        0        0        0
                   (8864009, 8864482)        0        0        0        0
                   (8867588, 8864482)        0        0        2        0
                   (8866686, 8864482)        0        0        0        0
                   (8863988, 8861736)        0        0        0        0
                   (8865086, 8861736)        0        0        0        0
                   (8865818, 8861736)        0        0        0        0
                   (8867528, 8861736)        0        0        0        0
                   (8864009, 8861736)        0        0        0        0
                   (8867588, 8861736)        0        0        2        0
                   (8866686, 8861736)        0        0        0        0

                                       8861736  8866686  8860968  8867528  \
q                  h
(8864461, 8860547) (8864235, 8867023)        0        0        0        0
                   (8864235, 8863810)        0        0        0        0
                   (8864235, 8866899)        0        0        0        0
                   (8867784, 8867023)        0        0        0        0
                   (8863810, 8867784)        0        0        0        0
                   (8867784, 8866899)        0        0        0        0
(8864461, 8862620) (8860968, 8867784)        0        0        1        0
(8864461, 8860687) (8863988, 8864235)        0        0        0        0
                   (8864235, 8865086)        0        0        0        0
                   (8864235, 8865818)        0        0        0        0
                   (8864235, 8867528)        0        0        0        2
                   (8864235, 8864009)        0        0        0        0
                   (8864235, 8867588)        0        0        0        0
                   (8866686, 8864235)        0        1        0        0
                   (8863988, 8865803)        0        0        0        0
                   (8865803, 8865086)        0        0        0        0
                   (8865803, 8865818)        0        0        0        0
                   (8865803, 8867528)        0        0        0        2
                   (8865803, 8864009)        0        0        0        0
                   (8865803, 8867588)        0        0        0        0
                   (8866686, 8865803)        0        1        0        0
                   (8863988, 8862585)        0        0        0        0
                   (8865086, 8862585)        0        0        0        0
                   (8862585, 8865818)        0        0        0        0
                   (8862585, 8867528)        0        0        0        2
                   (8864009, 8862585)        0        0        0        0
                   (8867588, 8862585)        0        0        0        0
                   (8866686, 8862585)        0        1        0        0
                   (8863988, 8864482)        0        0        0        0
                   (8865086, 8864482)        0        0        0        0
                   (8865818, 8864482)        0        0        0        0
                   (8867528, 8864482)        0        0        0        2
                   (8864009, 8864482)        0        0        0        0
                   (8867588, 8864482)        0        0        0        0
                   (8866686, 8864482)        0        1        0        0
                   (8863988, 8861736)        2        0        0        0
                   (8865086, 8861736)        2        0        0        0
                   (8865818, 8861736)        2        0        0        0
                   (8867528, 8861736)        2        0        0        2
                   (8864009, 8861736)        2        0        0        0
                   (8867588, 8861736)        2        0        0        0
                   (8866686, 8861736)        2        1        0        0

                                       8867023
q                  h
(8864461, 8860547) (8864235, 8867023)        2
                   (8864235, 8863810)        0
                   (8864235, 8866899)        0
                   (8867784, 8867023)        2
                   (8863810, 8867784)        0
                   (8867784, 8866899)        0
(8864461, 8862620) (8860968, 8867784)        0
(8864461, 8860687) (8863988, 8864235)        0
                   (8864235, 8865086)        0
                   (8864235, 8865818)        0
                   (8864235, 8867528)        0
                   (8864235, 8864009)        0
                   (8864235, 8867588)        0
                   (8866686, 8864235)        0
                   (8863988, 8865803)        0
                   (8865803, 8865086)        0
                   (8865803, 8865818)        0
                   (8865803, 8867528)        0
                   (8865803, 8864009)        0
                   (8865803, 8867588)        0
                   (8866686, 8865803)        0
                   (8863988, 8862585)        0
                   (8865086, 8862585)        0
                   (8862585, 8865818)        0
                   (8862585, 8867528)        0
                   (8864009, 8862585)        0
                   (8867588, 8862585)        0
                   (8866686, 8862585)        0
                   (8863988, 8864482)        0
                   (8865086, 8864482)        0
                   (8865818, 8864482)        0
                   (8867528, 8864482)        0
                   (8864009, 8864482)        0
                   (8867588, 8864482)        0
                   (8866686, 8864482)        0
                   (8863988, 8861736)        0
                   (8865086, 8861736)        0
                   (8865818, 8861736)        0
                   (8867528, 8861736)        0
                   (8864009, 8861736)        0
                   (8867588, 8861736)        0
                   (8866686, 8861736)        0

In [14]:
%time optimal_facilities, optimal_flows = second_stage_frlm(10, 20, df_g, df_b, df_eq_fq)

CFRLM:
MAXIMIZE
30*Flow_captured_(('8864461',_'8860547'),_('8863810',_'8867784')) + 30*Flow_captured_(('8864461',_'8860547'),_('8864235',_'8863810')) + 30*Flow_captured_(('8864461',_'8860547'),_('8864235',_'8866899')) + 30*Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867023')) + 30*Flow_captured_(('8864461',_'8860547'),_('8867784',_'8866899')) + 30*Flow_captured_(('8864461',_'8860547'),_('8867784',_'8867023')) + 10*Flow_captured_(('8864461',_'8860687'),_('8862585',_'8865818')) + 10*Flow_captured_(('8864461',_'8860687'),_('8862585',_'8867528')) + 10*Flow_captured_(('8864461',_'8860687'),_('8863988',_'8861736')) + 10*Flow_captured_(('8864461',_'8860687'),_('8863988',_'8862585')) + 10*Flow_captured_(('8864461',_'8860687'),_('8863988',_'8864235')) + 10*Flow_captured_(('8864461',_'8860687'),_('8863988',_'8864482')) + 10*Flow_captured_(('8864461',_'8860687'),_('8863988',_'8865803')) + 10*Flow_captured_(('8864461',_'8860687'),_('8864009',_'8861736')) + 10*Flow_captured_(('8864461',_'8860687'),_('8864009',_'8862585')) + 10*Flow_captured_(('8864461',_'8860687'),_('8864009',_'8864482')) + 10*Flow_captured_(('8864461',_'8860687'),_('8864235',_'8864009')) + 10*Flow_captured_(('8864461',_'8860687'),_('8864235',_'8865086')) + 10*Flow_captured_(('8864461',_'8860687'),_('8864235',_'8865818')) + 10*Flow_captured_(('8864461',_'8860687'),_('8864235',_'8867528')) + 10*Flow_captured_(('8864461',_'8860687'),_('8864235',_'8867588')) + 10*Flow_captured_(('8864461',_'8860687'),_('8865086',_'8861736')) + 10*Flow_captured_(('8864461',_'8860687'),_('8865086',_'8862585')) + 10*Flow_captured_(('8864461',_'8860687'),_('8865086',_'8864482')) + 10*Flow_captured_(('8864461',_'8860687'),_('8865803',_'8864009')) + 10*Flow_captured_(('8864461',_'8860687'),_('8865803',_'8865086')) + 10*Flow_captured_(('8864461',_'8860687'),_('8865803',_'8865818')) + 10*Flow_captured_(('8864461',_'8860687'),_('8865803',_'8867528')) + 10*Flow_captured_(('8864461',_'8860687'),_('8865803',_'8867588')) + 10*Flow_captured_(('8864461',_'8860687'),_('8865818',_'8861736')) + 10*Flow_captured_(('8864461',_'8860687'),_('8865818',_'8864482')) + 10*Flow_captured_(('8864461',_'8860687'),_('8866686',_'8861736')) + 10*Flow_captured_(('8864461',_'8860687'),_('8866686',_'8862585')) + 10*Flow_captured_(('8864461',_'8860687'),_('8866686',_'8864235')) + 10*Flow_captured_(('8864461',_'8860687'),_('8866686',_'8864482')) + 10*Flow_captured_(('8864461',_'8860687'),_('8866686',_'8865803')) + 10*Flow_captured_(('8864461',_'8860687'),_('8867528',_'8861736')) + 10*Flow_captured_(('8864461',_'8860687'),_('8867528',_'8864482')) + 10*Flow_captured_(('8864461',_'8860687'),_('8867588',_'8861736')) + 10*Flow_captured_(('8864461',_'8860687'),_('8867588',_'8862585')) + 10*Flow_captured_(('8864461',_'8860687'),_('8867588',_'8864482')) + 20*Flow_captured_(('8864461',_'8862620'),_('8860968',_'8867784')) + 0
SUBJECT TO
_C1: - 20 Facilities_8865086
 + 20 Flow_captured_(('8864461',_'8860687'),_('8864235',_'8865086'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865086',_'8861736'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865086',_'8862585'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865086',_'8864482'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865803',_'8865086')) <= 0

_C2: - 20 Facilities_8862585
 + 20 Flow_captured_(('8864461',_'8860687'),_('8862585',_'8865818'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8862585',_'8867528'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8863988',_'8862585'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8864009',_'8862585'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865086',_'8862585'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8866686',_'8862585'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8867588',_'8862585')) <= 0

_C3: - 20 Facilities_8864482
 + 20 Flow_captured_(('8864461',_'8860687'),_('8863988',_'8864482'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8864009',_'8864482'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865086',_'8864482'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865818',_'8864482'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8866686',_'8864482'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8867528',_'8864482'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8867588',_'8864482')) <= 0

_C4: - 20 Facilities_8863810
 + 60 Flow_captured_(('8864461',_'8860547'),_('8863810',_'8867784'))
 + 60 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8863810')) <= 0

_C5: - 20 Facilities_8864009
 + 20 Flow_captured_(('8864461',_'8860687'),_('8864009',_'8861736'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8864009',_'8862585'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8864009',_'8864482'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8864235',_'8864009'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865803',_'8864009')) <= 0

_C6: - 20 Facilities_8865818
 + 20 Flow_captured_(('8864461',_'8860687'),_('8862585',_'8865818'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8864235',_'8865818'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865803',_'8865818'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865818',_'8861736'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865818',_'8864482')) <= 0

_C7: - 20 Facilities_8866899
 + 30 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8866899'))
 + 30 Flow_captured_(('8864461',_'8860547'),_('8867784',_'8866899')) <= 0

_C8: - 20 Facilities_8863988
 + 20 Flow_captured_(('8864461',_'8860687'),_('8863988',_'8861736'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8863988',_'8862585'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8863988',_'8864235'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8863988',_'8864482'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8863988',_'8865803')) <= 0

_C9: - 20 Facilities_8864235
 + 30 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8863810'))
 + 30 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8866899'))
 + 30 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867023'))
 + 10 Flow_captured_(('8864461',_'8860687'),_('8863988',_'8864235'))
 + 10 Flow_captured_(('8864461',_'8860687'),_('8864235',_'8864009'))
 + 10 Flow_captured_(('8864461',_'8860687'),_('8864235',_'8865086'))
 + 10 Flow_captured_(('8864461',_'8860687'),_('8864235',_'8865818'))
 + 10 Flow_captured_(('8864461',_'8860687'),_('8864235',_'8867528'))
 + 10 Flow_captured_(('8864461',_'8860687'),_('8864235',_'8867588'))
 + 10 Flow_captured_(('8864461',_'8860687'),_('8866686',_'8864235')) <= 0

_C10: - 20 Facilities_8865803
 + 20 Flow_captured_(('8864461',_'8860687'),_('8863988',_'8865803'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865803',_'8864009'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865803',_'8865086'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865803',_'8865818'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865803',_'8867528'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865803',_'8867588'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8866686',_'8865803')) <= 0

_C11: - 20 Facilities_8867588
 + 20 Flow_captured_(('8864461',_'8860687'),_('8864235',_'8867588'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865803',_'8867588'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8867588',_'8861736'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8867588',_'8862585'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8867588',_'8864482')) <= 0

_C12: - 20 Facilities_8867784
 + 60 Flow_captured_(('8864461',_'8860547'),_('8863810',_'8867784'))
 + 60 Flow_captured_(('8864461',_'8860547'),_('8867784',_'8866899'))
 + 60 Flow_captured_(('8864461',_'8860547'),_('8867784',_'8867023'))
 + 40 Flow_captured_(('8864461',_'8862620'),_('8860968',_'8867784')) <= 0

_C13: - 20 Facilities_8861736
 + 20 Flow_captured_(('8864461',_'8860687'),_('8863988',_'8861736'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8864009',_'8861736'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865086',_'8861736'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865818',_'8861736'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8866686',_'8861736'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8867528',_'8861736'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8867588',_'8861736')) <= 0

_C14: - 20 Facilities_8866686
 + 10 Flow_captured_(('8864461',_'8860687'),_('8866686',_'8861736'))
 + 10 Flow_captured_(('8864461',_'8860687'),_('8866686',_'8862585'))
 + 10 Flow_captured_(('8864461',_'8860687'),_('8866686',_'8864235'))
 + 10 Flow_captured_(('8864461',_'8860687'),_('8866686',_'8864482'))
 + 10 Flow_captured_(('8864461',_'8860687'),_('8866686',_'8865803')) <= 0

_C15: - 20 Facilities_8860968
 + 20 Flow_captured_(('8864461',_'8862620'),_('8860968',_'8867784')) <= 0

_C16: - 20 Facilities_8867528
 + 20 Flow_captured_(('8864461',_'8860687'),_('8862585',_'8867528'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8864235',_'8867528'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8865803',_'8867528'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8867528',_'8861736'))
 + 20 Flow_captured_(('8864461',_'8860687'),_('8867528',_'8864482')) <= 0

_C17: - 20 Facilities_8867023
 + 60 Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867023'))
 + 60 Flow_captured_(('8864461',_'8860547'),_('8867784',_'8867023')) <= 0

_C18: Facilities_8860968 + Facilities_8861736 + Facilities_8862585
 + Facilities_8863810 + Facilities_8863988 + Facilities_8864009
 + Facilities_8864235 + Facilities_8864482 + Facilities_8865086
 + Facilities_8865803 + Facilities_8865818 + Facilities_8866686
 + Facilities_8866899 + Facilities_8867023 + Facilities_8867528
 + Facilities_8867588 + Facilities_8867784 <= 10

_C19: Flow_captured_(('8864461',_'8860547'),_('8863810',_'8867784'))
 + Flow_captured_(('8864461',_'8860547'),_('8864235',_'8863810'))
 + Flow_captured_(('8864461',_'8860547'),_('8864235',_'8866899'))
 + Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867023'))
 + Flow_captured_(('8864461',_'8860547'),_('8867784',_'8866899'))
 + Flow_captured_(('8864461',_'8860547'),_('8867784',_'8867023')) <= 1

_C20: Flow_captured_(('8864461',_'8862620'),_('8860968',_'8867784')) <= 1

_C21: Flow_captured_(('8864461',_'8860687'),_('8862585',_'8865818'))
 + Flow_captured_(('8864461',_'8860687'),_('8862585',_'8867528'))
 + Flow_captured_(('8864461',_'8860687'),_('8863988',_'8861736'))
 + Flow_captured_(('8864461',_'8860687'),_('8863988',_'8862585'))
 + Flow_captured_(('8864461',_'8860687'),_('8863988',_'8864235'))
 + Flow_captured_(('8864461',_'8860687'),_('8863988',_'8864482'))
 + Flow_captured_(('8864461',_'8860687'),_('8863988',_'8865803'))
 + Flow_captured_(('8864461',_'8860687'),_('8864009',_'8861736'))
 + Flow_captured_(('8864461',_'8860687'),_('8864009',_'8862585'))
 + Flow_captured_(('8864461',_'8860687'),_('8864009',_'8864482'))
 + Flow_captured_(('8864461',_'8860687'),_('8864235',_'8864009'))
 + Flow_captured_(('8864461',_'8860687'),_('8864235',_'8865086'))
 + Flow_captured_(('8864461',_'8860687'),_('8864235',_'8865818'))
 + Flow_captured_(('8864461',_'8860687'),_('8864235',_'8867528'))
 + Flow_captured_(('8864461',_'8860687'),_('8864235',_'8867588'))
 + Flow_captured_(('8864461',_'8860687'),_('8865086',_'8861736'))
 + Flow_captured_(('8864461',_'8860687'),_('8865086',_'8862585'))
 + Flow_captured_(('8864461',_'8860687'),_('8865086',_'8864482'))
 + Flow_captured_(('8864461',_'8860687'),_('8865803',_'8864009'))
 + Flow_captured_(('8864461',_'8860687'),_('8865803',_'8865086'))
 + Flow_captured_(('8864461',_'8860687'),_('8865803',_'8865818'))
 + Flow_captured_(('8864461',_'8860687'),_('8865803',_'8867528'))
 + Flow_captured_(('8864461',_'8860687'),_('8865803',_'8867588'))
 + Flow_captured_(('8864461',_'8860687'),_('8865818',_'8861736'))
 + Flow_captured_(('8864461',_'8860687'),_('8865818',_'8864482'))
 + Flow_captured_(('8864461',_'8860687'),_('8866686',_'8861736'))
 + Flow_captured_(('8864461',_'8860687'),_('8866686',_'8862585'))
 + Flow_captured_(('8864461',_'8860687'),_('8866686',_'8864235'))
 + Flow_captured_(('8864461',_'8860687'),_('8866686',_'8864482'))
 + Flow_captured_(('8864461',_'8860687'),_('8866686',_'8865803'))
 + Flow_captured_(('8864461',_'8860687'),_('8867528',_'8861736'))
 + Flow_captured_(('8864461',_'8860687'),_('8867528',_'8864482'))
 + Flow_captured_(('8864461',_'8860687'),_('8867588',_'8861736'))
 + Flow_captured_(('8864461',_'8860687'),_('8867588',_'8862585'))
 + Flow_captured_(('8864461',_'8860687'),_('8867588',_'8864482')) <= 1

VARIABLES
0 <= Facilities_8860968 Integer
0 <= Facilities_8861736 Integer
0 <= Facilities_8862585 Integer
0 <= Facilities_8863810 Integer
0 <= Facilities_8863988 Integer
0 <= Facilities_8864009 Integer
0 <= Facilities_8864235 Integer
0 <= Facilities_8864482 Integer
0 <= Facilities_8865086 Integer
0 <= Facilities_8865803 Integer
0 <= Facilities_8865818 Integer
0 <= Facilities_8866686 Integer
0 <= Facilities_8866899 Integer
0 <= Facilities_8867023 Integer
0 <= Facilities_8867528 Integer
0 <= Facilities_8867588 Integer
0 <= Facilities_8867784 Integer
Flow_captured_(('8864461',_'8860547'),_('8863810',_'8867784')) <= 1 Continuous
Flow_captured_(('8864461',_'8860547'),_('8864235',_'8863810')) <= 1 Continuous
Flow_captured_(('8864461',_'8860547'),_('8864235',_'8866899')) <= 1 Continuous
Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867023')) <= 1 Continuous
Flow_captured_(('8864461',_'8860547'),_('8867784',_'8866899')) <= 1 Continuous
Flow_captured_(('8864461',_'8860547'),_('8867784',_'8867023')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8862585',_'8865818')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8862585',_'8867528')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8863988',_'8861736')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8863988',_'8862585')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8863988',_'8864235')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8863988',_'8864482')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8863988',_'8865803')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8864009',_'8861736')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8864009',_'8862585')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8864009',_'8864482')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8864235',_'8864009')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8864235',_'8865086')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8864235',_'8865818')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8864235',_'8867528')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8864235',_'8867588')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8865086',_'8861736')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8865086',_'8862585')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8865086',_'8864482')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8865803',_'8864009')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8865803',_'8865086')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8865803',_'8865818')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8865803',_'8867528')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8865803',_'8867588')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8865818',_'8861736')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8865818',_'8864482')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8866686',_'8861736')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8866686',_'8862585')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8866686',_'8864235')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8866686',_'8864482')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8866686',_'8865803')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8867528',_'8861736')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8867528',_'8864482')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8867588',_'8861736')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8867588',_'8862585')) <= 1 Continuous
Flow_captured_(('8864461',_'8860687'),_('8867588',_'8864482')) <= 1 Continuous
Flow_captured_(('8864461',_'8862620'),_('8860968',_'8867784')) <= 1 Continuous

Optimal
Variable Facilities_8860968 is equal to 1.0
Variable Facilities_8861736 is equal to 0.0
Variable Facilities_8862585 is equal to 0.0
Variable Facilities_8863810 is equal to 0.0
Variable Facilities_8863988 is equal to 0.0
Variable Facilities_8864009 is equal to 0.0
Variable Facilities_8864235 is equal to 0.0
Variable Facilities_8864482 is equal to 1.0
Variable Facilities_8865086 is equal to 0.0
Variable Facilities_8865803 is equal to 0.0
Variable Facilities_8865818 is equal to 0.0
Variable Facilities_8866686 is equal to 0.0
Variable Facilities_8866899 is equal to 2.0
Variable Facilities_8867023 is equal to 0.0
Variable Facilities_8867528 is equal to 1.0
Variable Facilities_8867588 is equal to 0.0
Variable Facilities_8867784 is equal to 5.0
Variable Flow_captured_(('8864461',_'8860547'),_('8863810',_'8867784')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860547'),_('8864235',_'8863810')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860547'),_('8864235',_'8866899')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860547'),_('8864235',_'8867023')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860547'),_('8867784',_'8866899')) is equal to 1.0
Variable Flow_captured_(('8864461',_'8860547'),_('8867784',_'8867023')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8862585',_'8865818')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8862585',_'8867528')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8863988',_'8861736')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8863988',_'8862585')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8863988',_'8864235')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8863988',_'8864482')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8863988',_'8865803')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8864009',_'8861736')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8864009',_'8862585')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8864009',_'8864482')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8864235',_'8864009')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8864235',_'8865086')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8864235',_'8865818')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8864235',_'8867528')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8864235',_'8867588')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8865086',_'8861736')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8865086',_'8862585')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8865086',_'8864482')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8865803',_'8864009')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8865803',_'8865086')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8865803',_'8865818')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8865803',_'8867528')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8865803',_'8867588')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8865818',_'8861736')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8865818',_'8864482')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8866686',_'8861736')) is equal to 0.0
Variable Flow_captured_(('8864461',_'8860687'),_('8866686',_'8862585')) is equal to 0.0