In [1]:
import pandas as pd
import pickle
import numpy as np
import networkx as nx
import re
import time

In [2]:
df_ivs = pickle.load(open('data/ivs_exploded_100.p', 'rb'))
agent_data = pickle.load(open('data/agent_data.p', 'rb'))
model_data = pickle.load(open('data/model_data.p', 'rb'))
batch_data = pickle.load(open('data/batch_run_result.p', 'rb'))

In [22]:
df_ivs

,origin,destination,trip_count,hour,M12,M8,BII-6b,M10,BIIa-1,M9,...,B04,M0,C2l,BII-2L,B02,C1b,C2b,B01,C1l,route_v
0,NLRTM,NLAMS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NLRTM,NLAMS,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NLRTM,NLAMS,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NLRTM,NLAMS,1,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NLRTM,NLAMS,6,4,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907,NLAMS,NLZWI,1,19,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3908,NLAMS,NLZWI,0,20,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3909,NLAMS,NLZWI,0,21,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3910,NLAMS,NLZWI,1,22,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3911,NLAMS,NLZWI,0,23,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

## Functions to process data single run

In [3]:
def process_cs_data(df_cs=agent_data):
    df_cs = df_cs.reset_index()
    df_cs = df_cs.loc[df_cs.Step == (8*24*60)]
    df_cs = df_cs.dropna(subset=['charging_stations'])
    return df_cs

def process_vessel_data(df_vessel=model_data):
    df_vessel = pd.DataFrame(df_vessel.iloc[(60*24*8)]['data_completed_trips'])
    df_vessel = df_vessel.loc[df_vessel.time_departed > (60*24)]
    return df_vessel

In [4]:
df_charging_stations_single_run = process_cs_data()

In [5]:
df_charging_stations_single_run

,Step,AgentID,occupation,max_occupation,avg_line,max_line,charging_stations
2632219,11520,8866889,0.083929,1.0,0.013095,1.0,1.0
2632220,11520,30984595,0.397718,2.0,0.007242,1.0,2.0
2632223,11520,8863818,0.308433,2.0,0.000397,1.0,2.0
2632225,11520,8864005,0.313095,2.0,0.000198,1.0,2.0
2632232,11520,8862663,0.344147,2.0,0.001488,1.0,2.0
2632235,11520,8866775,0.062500,1.0,0.000000,0.0,1.0
2632244,11520,8864566,0.055952,1.0,0.000000,0.0,1.0
2632246,11520,8865003,0.342857,2.0,0.003869,1.0,2.0
2632247,11520,8867240,0.093155,1.0,0.000000,0.0,1.0
2632251,11520,8863709,0.025298,1.0,0.000000,0.0,1.0
2632254,11520,22638146,0.042659,1.0,0.000000,0.0,1.0
2632262,11520,8863306,0.225595,2.0,0.004762,1.0,2.0
2632266,11520,8866686,0.274504,2.0,0.000794,1.0,2.0
2632277,11520,8863360,0.137897,1.0,0.012897,1.0,1.0
2632280,11520,8867538,0.265873,2.0,0.017956,2.0,2.0
2632290,11520,8866893,0.225198,1.0,0.009325,1.0,1.0
2632296,11520,8865412,0.012103,1.0,0.000000,0.0,1.0
2632300,11520,8866763,0.352381,2.0,0.012798,3.0,2.0
2632301,11520,22638327,0.139385,1.0,0.027976,2.0,1.0
2632302,11520,8863019,0.057738,1.0,0.000000,0.0,1.0
2632303,11520,8862801,0.087401,1.0,0.007143,1.0,1.0
2632304,11520,8863469,0.056548,1.0,0.002083,1.0,1.0
2632315,11520,8864837,0.396032,2.0,0.014683,2.0,2.0
2632316,11520,104,0.497817,2.0,0.023710,1.0,2.0
2632317,11520,107,0.241865,2.0,0.002579,1.0,2.0
2632319,11520,113,0.226587,2.0,0.000000,0.0,2.0
2632320,11520,122,0.092956,1.0,0.009524,1.0,1.0

In [6]:
df_vessels_single_run = process_vessel_data()

In [7]:
df_vessels_single_run

,id,route,combi,time_departed,travel_time,time_in_line,time_charging,battery_size
53,68,"(NLAMS, NLZAA, 0)",[8866889],1472,30,0,48,3220
62,71,"(NLUTC, NLTIE, 0)","[8867240, 22638146]",1527,195,0,35,2031
63,83,"(NLKGZ, NLZAA, 0)",[8866889],1740,22,0,0,6650
64,80,"(NLAMS, NLWMO, 0)",[8866889],1722,30,0,21,1400
66,67,"(NLDOR, NLRTM, 1)",[8862663],1457,130,0,219,9404
...,...,...,...,...,...,...,...,...
506,510,"(NLRTM, NLMOE, 0)",[8866686],11189,188,0,57,3220
507,508,"(NLOOS, NLTLB, 0)",[8863818],11164,127,0,153,6650
508,501,"(NLHAR, NLWTE, 0)",[113],11026,208,0,214,9404
509,506,"(NLRTM, NLMOE, 0)",[8865003],11119,188,0,148,6650
510,521,"(NLKGZ, NLZAA, 0)",[8866889],11394,22,0,93,6650

## Process batch data

### Vessel data

In [8]:
def get_vessel_data_batch(df_batch):
    df_batch = pd.DataFrame(df_batch)
    df_batch = df_batch.loc[df_batch.Step>0]
    df_vessels = df_batch.groupby('RunId').first()
    vessel_df = pd.DataFrame(df_vessels['data_completed_trips'][0])
    for i in range(2, len(df_vessels['data_completed_trips'])):
        df_temp = pd.DataFrame(df_vessels['data_completed_trips'][0])
        vessel_df = pd.concat([vessel_df, df_temp])
    return vessel_df

In [9]:
vessel_df = get_vessel_data_batch(batch_data)

In [10]:
vessel_df = vessel_df.groupby(['route']).mean()

In [11]:
vessel_df.sort_values('time_in_line', ascending=False)

,id,time_departed,travel_time,time_in_line,time_charging,battery_size
route,,,,,,
"(NLTNZ, NLBRS, 0)",337.571429,7458.000000,121.000000,20.285714,65.142857,4743.714286
"(NLAMS, NLMOE, 3)",185.700000,4116.500000,654.000000,17.500000,390.500000,6650.000000
"(NLBZM, NLRTM, 0)",304.000000,6816.000000,414.000000,17.250000,255.500000,5792.500000
"(NLAMS, NLZWI, 1)",379.500000,8371.000000,501.000000,15.500000,104.500000,2031.000000
"(NLRTM, NLWLK, 1)",281.142857,6201.285714,361.000000,11.571429,87.571429,2031.000000
"(NLRTM, NLMOE, 1)",301.300000,6671.900000,188.000000,11.500000,196.500000,9404.000000
"(NLMOE, NLAPN, 1)",233.083333,5138.750000,317.000000,9.916667,173.083333,6078.333333
"(NLAER, NLNIE, 0)",265.727273,5871.545455,474.454545,9.363636,194.272727,4467.272727
"(NLHTB, NLBZM, 0)",222.750000,4945.916667,553.000000,8.583333,315.666667,6212.500000
"(NLNIJ, NLDRU, 0)",270.833333,5990.333333,143.000000,7.416667,71.916667,5220.833333
"(NLRTM, NLMOE, 0)",242.255814,5392.837209,187.837209,5.093023,122.697674,5984.209302
"(NLUTC, NLRTM, 0)",117.500000,2597.000000,322.000000,2.166667,198.833333,7109.000000
"(NLWSP, NLAER, 0)",314.166667,6945.388889,183.000000,1.611111,59.500000,3659.555556
"(NLAER, NLLEY, 0)",347.000000,7583.714286,158.000000,1.428571,29.642857,2050.571429
"(NLALK, NLIJM, 0)",337.222222,7473.666667,258.000000,0.888889,47.888889,2031.000000
"(NLRTM, NLAPN, 0)",229.523810,5057.285714,184.000000,0.857143,53.714286,3297.142857
"(NLDOR, NLRTM, 0)",264.058824,5849.764706,130.000000,0.823529,100.529412,5439.411765
"(NLKGZ, NLZAA, 0)",260.750000,5795.250000,22.000000,0.750000,28.833333,4620.250000
"(NLTNZ, NLVLI, 0)",330.157895,7238.894737,110.000000,0.368421,36.736842,3734.631579
"(NLAMS, NLAER, 0)",268.083333,5941.333333,228.000000,0.354167,55.104167,2788.625000
"(NLRTM, NLOOS, 1)",272.333333,6050.533333,286.000000,0.000000,173.200000,6650.000000
"(NLRTM, NLAMS, 0)",341.800000,7564.800000,438.000000,0.000000,78.000000,2031.000000
"(NLTLB, NLMOE, 0)",240.500000,5359.875000,277.000000,0.000000,67.187500,2897.062500
"(NLRTM, NLGTB, 1)",224.454545,5067.818182,262.000000,0.000000,94.454545,4174.545455
"(NLUTC, NLTIE, 0)",292.222222,6448.555556,195.000000,0.000000,103.444444,6136.777778
"(NLSWI, NLLEY, 0)",200.625000,4436.625000,99.000000,0.000000,10.500000,2757.000000
"(NLABL, NLRTM, 0)",240.933333,5338.933333,65.000000,0.000000,53.666667,6757.466667
"(NLOOS, NLTLB, 0)",268.095238,5959.523810,127.000000,0.000000,74.428571,6150.000000
"(NLNIJ, NLWAS, 0)",212.500000,4737.416667,228.000000,0.000000,131.000000,6650.000000
"(NLMOE, NLOOS, 0)",230.111111,5088.666667,148.000000,0.000000,85.000000,6650.000000
"(NLHAR, NLWTE, 0)",282.250000,6201.333333,208.000000,0.000000,188.416667,8789.583333
"(NLGOR, NLRTM, 0)",217.285714,4795.714286,237.000000,0.000000,96.714286,4726.857143
"(NLFAR, NLEEM, 0)",351.500000,7661.166667,157.000000,0.000000,80.500000,4328.333333
"(NLDOR, NLRTM, 1)",398.333333,8658.333333,130.000000,0.000000,0.333333,6269.333333
"(NLDOR, NLAMS, 3)",170.100000,3817.600000,597.000000,0.000000,340.000000,6650.000000
"(NLAMS, NLZAA, 0)",262.250000,5847.125000,30.000000,0.000000,12.500000,2144.125000
"(NLAMS, NLWMO, 0)",255.307692,5672.461538,30.000000,0.000000,8.769231,1448.538462
"(NLAMS, NLUTC, 1)",334.833333,7447.500000,279.000000,0.000000,141.000000,5853.000000
"(NLAMS, NLMOE, 4)",339.666667,7366.000000,656.000000,0.000000,178.000000,3134.666667
"(NLAER, NLRTM, 0)",258.166667,5720.000000,563.000000,0.000000,303.277778,5965.666667
"(NLKGZ, NLAMS, 0)",204.312500,4542.187500,13.000000,0.000000,5.250000,1885.875000

## Charging station data

In [14]:
def get_cs_data_batch(df_batch):
    df_batch = pd.DataFrame(df_batch)
    df_batch = df_batch.loc[df_batch.Step>0]
    df_charging_stations = df_batch.groupby(['AgentID']).mean()
    df_charging_stations = df_charging_stations.loc[df_charging_stations.charging_stations>0].sort_values('occupation')
    df_charging_stations = df_charging_stations.drop(columns=['RunId', 'iteration', 'Step', 'seed'])
    return df_charging_stations

In [15]:
get_cs_data_batch(batch_data)

          occupation  max_occupation  avg_line  max_line  charging_stations
AgentID
8865412     0.026300             1.0  0.000159       0.1                1.0
8863709     0.030129             1.0  0.000645       0.2                1.0
22638146    0.036161             1.0  0.000635       0.1                1.0
8866775     0.048512             1.0  0.000000       0.0                1.0
122         0.071052             1.0  0.001786       0.3                1.0
8867240     0.087480             1.0  0.005149       0.6                1.0
8864566     0.088373             1.0  0.010456       0.8                1.0
8866889     0.092232             1.0  0.005040       1.1                1.0
8863019     0.096379             1.0  0.012669       0.6                1.0
22638327    0.101349             1.0  0.005149       0.8                1.0
8863360     0.121310             1.0  0.007778       1.1                1.0
8863469     0.127817             1.0  0.009077       0.6                1.0
8866893     0.164831             1.0  0.013750       1.0                1.0
8862801     0.169901             1.0  0.014206       0.9                1.0
30984595    0.242024             2.0  0.003234       0.5                2.0
113         0.245526             1.9  0.000000       0.0                2.0
107         0.251964             2.0  0.000992       0.4                2.0
8864837     0.265228             2.0  0.005188       0.7                2.0
8866763     0.282639             2.0  0.002887       0.7                2.0
8867538     0.306518             2.0  0.003988       0.6                2.0
8863818     0.312183             2.0  0.001329       0.4                2.0
104         0.314861             2.0  0.007460       0.9                2.0
8863306     0.332093             2.0  0.006071       1.1                2.0
8864005     0.332133             2.0  0.007897       1.0                2.0
8862663     0.349127             2.0  0.007530       0.8                2.0
8865003     0.361637             2.0  0.005605       0.5                2.0
8866686     0.363710             2.0  0.004276       0.5                2.0

# OLD

In [ ]:
# df_ivs_old = pickle.load(open('data/ivs_exploded_100_old.p', 'rb'))
# routes_dests = pickle.load(open('data/users_ship_specific_routes.p', 'rb'))
# df_ships = pd.read_excel('data/ship_types.xlsx')

# G = pickle.load(open("data/network.p", "rb"))
# paths = pickle.load(open("data/paths.p", "rb"))
# df_random = pickle.load(open("data/df_random.p", "rb"))
# df_abm = pickle.load(open("data/df_abm.p", "rb"))
# non_zero_flows = pickle.load(open("data/non_zero_flows.p", "rb"))
# feasible_combinations = pickle.load(open('data/feasible_comb.p', 'rb'))
# optimal_flows = pickle.load(open('data/optimal_flows.p', 'rb'))
# path_lengths = pickle.load(open('data/path_lengths_ship_specific_routes.p', 'rb'))

## Process agent data

### Vessel data

In [43]:
agent_data = agent_data.reset_index()

In [44]:
agent_data = agent_data.loc[agent_data.Step>(24*60)]

In [45]:
vessel_data = agent_data.loc[agent_data.vessel_status.notnull()]
vessel_data = vessel_data.drop(columns=['removed_at'])
vessel_data['status'] = 0
vessel_data['at_station'] = 0
vessel_data.status = vessel_data.vessel_status.apply(lambda x: x[0] if type(x) == list else x)
vessel_data.at_station = vessel_data.vessel_status.apply(lambda x: x[1] if type(x) == list else x)

In [46]:
vessel_data_dict = {}
def process_vessel_data(x):
    if not x.AgentID in vessel_data_dict.keys():
        vessel_data_dict[x.AgentID] = {"charging":{}, "inline":{}, "driving":0}
    if x.status == 'driving':
        vessel_data_dict[x.AgentID]['driving'] += 1
    else:
        if not x.at_station in vessel_data_dict[x.AgentID][x.status].keys():
            vessel_data_dict[x.AgentID][x.status][x.at_station] = 1
        else:
            vessel_data_dict[x.AgentID][x.status][x.at_station] += 1

In [48]:
vessel_data.apply(lambda x: process_vessel_data(x), axis=1)

328196     None
328197     None
328198     None
328199     None
328200     None
           ...
2622303    None
2622304    None
2622305    None
2622306    None
2622307    None
Length: 157364, dtype: object

In [49]:
df = pd.DataFrame(vessel_data_dict)
df = df.transpose()

In [50]:
df['total_charging'] = 0
df.total_charging = df.charging.apply(lambda x: sum(x.values()))
df['total_inline'] = 0
df.total_inline = df.inline.apply(lambda x: sum(x.values()))

In [51]:
df1 = vessel_data.loc[vessel_data.status != 0].loc[:,['AgentID','Step','vessel_route','departed_from', 'combi','battery_size', 'generated_at']].groupby('AgentID').first()
vessel_data = pd.merge(df1, df, left_index=True, right_index=True)

In [52]:
60*24

1440

In [53]:
vessel_data = vessel_data.loc[vessel_data.generated_at > (24*60)]
vessel_data
# looks okay! Final check with pycharm later

,Step,vessel_route,departed_from,combi,battery_size,generated_at,charging,inline,driving,total_charging,total_inline
AgentID,,,,,,,,,,,
74,1450,"(NLRTM, NLGTB, 1)",8866893,"[8866893, 8863306]",6650.0,1449.0,{'8863306': 150},{},262,150,0
75,1509,"(NLRTM, NLAPN, 0)",8863306,"[8863306, 8863360]",3220.0,1508.0,{'8863360': 51},{},184,51,0
76,1512,"(NLOOS, NLTLB, 0)",8867740,[8863818],6650.0,1511.0,{'8863818': 153},{},127,153,0
77,1522,"(NLRTM, NLMOE, 0)",8863306,[8862663],3220.0,1521.0,{'8862663': 75},{},186,75,0
78,1543,"(NLOOS, NLTLB, 0)",8863818,[8863818],6650.0,1542.0,{},{},127,0,0
...,...,...,...,...,...,...,...,...,...,...,...
523,11394,"(NLNIJ, NLWAS, 0)",8864566,"[8864566, 22638327]",6650.0,11393.0,{},{},127,0,0
524,11396,"(NLNIJ, NLDRU, 0)",22638327,"[22638327, 8865412]",6650.0,11395.0,{},{},125,0,0
525,11416,"(NLWSP, NLAER, 0)",8864005,"[8864837, 8864005]",3220.0,11415.0,{},{},105,0,0
526,11443,"(NLRTM, NLMOE, 0)",8863306,"[8863306, 30984595]",3220.0,11442.0,{},{},78,0,0
527,11495,"(NLAER, NLRTM, 0)",8863306,"[8864005, 8867538, 107]",6650.0,11494.0,{},{},26,0,0

In [28]:
vessel_data.groupby("vessel_route").mean()

,Step,battery_size,generated_at,total_charging,total_inline
vessel_route,,,,,
"(NLABL, NLRTM, 0)",5266.375000,6994.250000,5265.375000,73.750000,0.000000
"(NLAER, NLLEY, 0)",5933.400000,2142.600000,5932.400000,29.400000,0.000000
"(NLAER, NLNIE, 0)",4346.000000,5363.750000,4345.000000,231.250000,0.000000
"(NLAER, NLRTM, 0)",6919.714286,5376.714286,6918.714286,273.000000,0.000000
"(NLALK, NLIJM, 0)",6180.538462,1933.923077,6179.538462,44.769231,1.615385
"(NLAMS, NLAER, 0)",6780.807692,3324.230769,6779.807692,63.576923,0.807692
"(NLAMS, NLMOE, 3)",6692.583333,6650.000000,6691.583333,344.333333,0.000000
"(NLAMS, NLMOE, 4)",6076.500000,9404.000000,6075.500000,528.000000,0.000000
"(NLAMS, NLUTC, 1)",5871.400000,5278.000000,5870.400000,127.200000,0.000000
"(NLAMS, NLWMO, 0)",6317.600000,1463.100000,6316.600000,6.200000,0.600000
"(NLAMS, NLZAA, 0)",3502.285714,2360.285714,3501.285714,13.571429,2.714286
"(NLBZM, NLRTM, 0)",6519.571429,3940.000000,6518.571429,163.142857,3.285714
"(NLDOR, NLAMS, 0)",10726.000000,817.000000,10725.000000,36.000000,0.000000
"(NLDOR, NLAMS, 1)",9139.000000,2031.000000,9138.000000,91.000000,0.000000
"(NLDOR, NLAMS, 3)",6919.571429,6650.000000,6918.571429,258.000000,0.000000
"(NLDOR, NLRTM, 0)",7104.416667,5209.416667,7103.416667,89.500000,0.000000
"(NLDOR, NLRTM, 1)",8777.000000,9404.000000,8776.000000,87.600000,0.000000
"(NLFAR, NLEEM, 0)",6378.454545,5379.545455,6377.454545,101.454545,9.727273
"(NLGOR, NLRTM, 0)",5723.500000,6033.500000,5722.500000,123.375000,0.000000
"(NLHAR, NLWTE, 0)",5170.444444,8584.777778,5169.444444,183.777778,0.000000
"(NLHTB, NLBZM, 0)",6108.714286,5990.142857,6107.714286,240.285714,34.000000
"(NLKGZ, NLAMS, 0)",5292.250000,1715.500000,5291.250000,20.625000,0.000000
"(NLKGZ, NLZAA, 0)",7771.857143,5330.285714,7770.857143,30.714286,0.000000
"(NLMOE, NLAPN, 1)",5821.111111,6268.888889,5820.111111,178.666667,2.444444
"(NLMOE, NLOOS, 0)",6734.454545,6650.000000,6733.454545,84.909091,0.000000
"(NLNIJ, NLDRU, 0)",6183.125000,5792.500000,6182.125000,71.500000,0.000000
"(NLNIJ, NLWAS, 0)",7041.181818,6338.181818,7040.181818,124.909091,0.000000
"(NLOOS, NLTLB, 0)",5563.727273,6650.000000,5562.727273,27.818182,0.000000
"(NLRTM, NLAMS, 0)",7652.800000,1904.800000,7651.800000,58.000000,0.000000
"(NLRTM, NLAPN, 0)",6287.928571,3530.357143,6286.928571,55.571429,0.000000
"(NLRTM, NLGTB, 1)",8054.000000,4690.000000,8053.000000,84.571429,0.000000
"(NLRTM, NLMOE, 0)",6780.170732,6257.365854,6779.170732,116.195122,5.951220
"(NLRTM, NLMOE, 1)",7438.500000,9404.000000,7437.500000,195.666667,0.000000
"(NLRTM, NLOOS, 1)",6762.470588,5904.823529,6761.470588,171.705882,0.000000
"(NLRTM, NLWLK, 1)",6763.000000,2031.000000,6762.000000,56.500000,0.000000
"(NLSWI, NLLEY, 0)",7734.750000,2031.000000,7733.750000,21.000000,0.000000
"(NLTLB, NLMOE, 0)",6444.500000,3763.125000,6443.500000,98.125000,0.000000
"(NLTNZ, NLBRS, 0)",7135.000000,5130.625000,7134.000000,44.625000,0.000000
"(NLTNZ, NLVLI, 0)",7795.583333,5273.583333,7794.583333,46.500000,0.000000
"(NLUTC, NLRTM, 0)",6259.250000,5495.250000,6258.250000,152.250000,0.000000
"(NLUTC, NLTIE, 0)",5951.222222,4861.333333,5950.222222,82.000000,18.444444
"(NLWSP, NLAER, 0)",5835.222222,3659.555556,5834.222222,57.888889,0.000000

### Charging station data

In [68]:
df1 = pd.DataFrame(agent_data.loc[(agent_data.charging_stations>0)].groupby('AgentID').first().loc[:,'charging_stations'])

In [69]:
df2 = pd.DataFrame(agent_data.loc[(agent_data.charging_stations>0)].groupby('AgentID').station_status.mean())

In [70]:
cs_data = pd.merge(df1, df2, left_index=True, right_index=True)

In [71]:
cs_data
# TODO check why some are not visited at all within 7 days, seems off

          charging_stations  station_status
AgentID
104                     2.0        0.172173
107                     2.0        0.159573
113                     2.0        0.069097
122                     1.0        0.073611
22638146                1.0        0.057837
22638327                1.0        0.113889
30984595                2.0        0.118353
8862663                 2.0        0.170536
8862801                 1.0        0.266369
8863019                 1.0        0.120337
8863306                 2.0        0.179315
8863360                 1.0        0.117163
8863469                 1.0        0.181349
8863709                 1.0        0.048710
8863818                 2.0        0.156498
8864005                 2.0        0.115377
8864566                 1.0        0.051984
8864837                 2.0        0.148264
8865003                 2.0        0.173214
8865412                 1.0        0.028373
8866686                 2.0        0.183780
8866763                 2.0        0.182192
8866775                 1.0        0.059127
8866889                 1.0        0.072718
8866893                 1.0        0.266270
8867240                 1.0        0.076885
8867538                 2.0        0.120833

### Remark
Something seems off, a lot of stations are not used at all
Way forward:
1. Check whether this may be clarified based on input data
2. Recheck logic behind generation
3. Check whether the generation is going well and as expected