In [5]:
import pandas as pd
import pickle
import numpy as np
import networkx as nx
import time

In [6]:
df_ivs = pickle.load(open('data/ivs_exploded_100.p', 'rb'))
df_ivs_old = pickle.load(open('data/ivs_exploded_100_old.p', 'rb'))
routes_dests = pickle.load(open('data/users_ship_specific_routes.p', 'rb'))
df_ships = pd.read_excel('data/ship_types.xlsx')

G = pickle.load(open("data/network.p", "rb"))
paths = pickle.load(open("data/paths.p", "rb"))
df_random = pickle.load(open("data/df_random.p", "rb"))
df_abm = pickle.load(open("data/df_abm.p", "rb"))
non_zero_flows = pickle.load(open("data/non_zero_flows.p", "rb"))

In [21]:
schedule = pickle.load(open("data/schedule.p", "rb"))

In [28]:
a = [1]
a[0]

1

In [4]:
# extract data
df_links = nx.to_pandas_edgelist(G)
df_nodes = pd.DataFrame.from_dict(dict(G.nodes(data=True)), orient='index')

In [7]:
for _, row in df_abm.iterrows():  # index, row in ...
    # create agents according to model_type

    model_type = row['model_type']
    agent = None

    name = row['name']
    if pd.isna(name):
        name = ""
        print("error, nameless entry")
    else:
        name = name
    break

In [10]:
a =[1,3,34,6]
a[::-1]

[6, 34, 3, 1]

In [11]:
df_random

,origin,destination,trip_count,hour,M12,M8,BII-6b,M10,BIIa-1,M9,...,M0,C2l,BII-2L,B02,C1b,C2b,B01,C1l,route_v,key
2,NLRTM,NLMOE,52,0,0,37,0,0,0,8,...,0,0,0,0,0,0,0,0,0,"(NLRTM, NLMOE, 0)"
3,NLRTM,NLMOE,27,0,3,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,"(NLRTM, NLMOE, 1)"
7,NLLEY,NLAMS,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(NLLEY, NLAMS, 0)"
10,NLUTC,NLRTM,23,0,0,15,0,6,0,2,...,0,0,0,0,0,0,0,0,0,"(NLUTC, NLRTM, 0)"
19,NLRTM,NLAPN,7,0,0,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(NLRTM, NLAPN, 0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2842,NLRTM,NLGTB,21,23,0,17,0,0,0,0,...,0,0,0,0,0,0,0,0,1,"(NLRTM, NLGTB, 1)"
2846,NLAMS,NLUTC,1,23,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,"(NLAMS, NLUTC, 1)"
2848,NLVEN,NLBON,7,23,0,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(NLVEN, NLBON, 0)"
2852,NLNIJ,NLAMS,6,23,0,3,0,0,0,0,...,0,0,1,0,0,0,0,0,0,"(NLNIJ, NLAMS, 0)"
2858,NLHTB,NLBON,2,23,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(NLHTB, NLBON, 0)"

In [3]:
%%time
type_list = list(df_random.iloc[:, 4:-2])
for hour in range(24):
    df_1 = df_random.loc[(df_random.hour == hour)]
    for timestep in range(60):
        for harbour in list(set(list(df_1.origin.unique()) + list(df_1.destination.unique()))):
            a = df_1.loc[(df_1.origin==harbour)|(df_1.destination == harbour)]
            for i,j in enumerate(a.index):
                # chance that a vessel is generated is equal to 1/2 (either spawn at origin or dest) * trip_count/365
                # (because trip_count is yearly) *(time_step/hours)
                if 0.5 * (df_1.trip_count[j]/365) * (1/60) >= np.random.random():
                    # determine vessel type
                    prob = list(a.iloc[i, 4:-2].values / a.iloc[i, 4:-2].sum())
                    to_pick = type_list
                    ship_type = np.random.choice(a=to_pick, size=1, replace=True, p=prob)
                    # randomly draw ship types for each OD pair
                    print(ship_type, "Vessel departed at", df_1.origin[j], hour, ':', timestep, "heading to", df_1.destination[j], "via route", df_1.key[j])

['M10'] Vessel departed at NLTNZ 3 : 14 heading to NLVLI via route ('NLTNZ', 'NLVLI', 0)
['M8'] Vessel departed at NLOOS 3 : 44 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['M11'] Vessel departed at NLGOR 4 : 37 heading to NLRTM via route ('NLGOR', 'NLRTM', 0)
['M11'] Vessel departed at NLGOR 4 : 43 heading to NLRTM via route ('NLGOR', 'NLRTM', 0)
['M2'] Vessel departed at NLLEY 5 : 4 heading to NLAMS via route ('NLLEY', 'NLAMS', 0)
['M9'] Vessel departed at NLNIJ 5 : 43 heading to NLWAS via route ('NLNIJ', 'NLWAS', 0)
['M8'] Vessel departed at NLOOS 6 : 4 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['M8'] Vessel departed at NLUTC 6 : 47 heading to NLRTM via route ('NLUTC', 'NLRTM', 0)
['M12'] Vessel departed at NLHAR 7 : 3 heading to NLWTE via route ('NLHAR', 'NLWTE', 0)
['M8'] Vessel departed at NLDOR 7 : 28 heading to NLRTM via route ('NLDOR', 'NLRTM', 0)
['M0'] Vessel departed at NLTNZ 7 : 37 heading to NLVLI via route ('NLTNZ', 'NLVLI', 0)
['M3'] Vessel departed at NLTLB 7 : 50 heading to NLMOE via route ('NLTLB', 'NLMOE', 0)
['M2'] Vessel departed at NLAMS 8 : 0 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['BIIL-1'] Vessel departed at NLKGZ 8 : 5 heading to NLZAA via route ('NLKGZ', 'NLZAA', 0)
['M3'] Vessel departed at NLAER 8 : 42 heading to NLSWI via route ('NLAER', 'NLSWI', 0)
['M8'] Vessel departed at NLRTM 8 : 42 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M2'] Vessel departed at NLNRW 8 : 57 heading to NLBON via route ('NLNRW', 'NLBON', 0)
['M2'] Vessel departed at NLKGZ 9 : 6 heading to NLAMS via route ('NLKGZ', 'NLAMS', 0)
['M3'] Vessel departed at NLOOS 9 : 21 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['M2'] Vessel departed at NLAMS 9 : 34 heading to NLWMO via route ('NLAMS', 'NLWMO', 0)
['M6'] Vessel departed at NLNIJ 9 : 41 heading to NLDRU via route ('NLNIJ', 'NLDRU', 0)
['M4'] Vessel departed at NLAMS 10 : 12 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M0'] Vessel departed at NLKGZ 10 : 20 heading to NLZAA via route ('NLKGZ', 'NLZAA', 0)
['M2'] Vessel departed at NLALK 10 : 30 heading to NLIJM via route ('NLALK', 'NLIJM', 0)
['M4'] Vessel departed at NLAMS 10 : 44 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M10'] Vessel departed at NLLEY 10 : 51 heading to NLAMS via route ('NLLEY', 'NLAMS', 0)
['BIIa-1'] Vessel departed at NLKGZ 10 : 57 heading to NLZAA via route ('NLKGZ', 'NLZAA', 0)
['M5'] Vessel departed at NLRTM 11 : 0 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M6'] Vessel departed at NLRTM 12 : 14 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M8'] Vessel departed at NLDOR 12 : 17 heading to NLRTM via route ('NLDOR', 'NLRTM', 0)
['M5'] Vessel departed at NLAMS 12 : 22 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['M2'] Vessel departed at NLAMS 12 : 30 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M2'] Vessel departed at NLAMS 13 : 46 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M2'] Vessel departed at NLAMS 14 : 0 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M10'] Vessel departed at NLTNZ 14 : 0 heading to NLVLI via route ('NLTNZ', 'NLVLI', 0)
['M2'] Vessel departed at NLKGZ 14 : 1 heading to NLAMS via route ('NLKGZ', 'NLAMS', 0)
['M2'] Vessel departed at NLHAR 14 : 11 heading to NLWTE via route ('NLHAR', 'NLWTE', 0)
['BIIa-1'] Vessel departed at NLKGZ 14 : 12 heading to NLZAA via route ('NLKGZ', 'NLZAA', 0)
['M4'] Vessel departed at NLAER 14 : 20 heading to NLLEY via route ('NLAER', 'NLLEY', 0)
['M5'] Vessel departed at NLAMS 14 : 39 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['M8'] Vessel departed at NLTNZ 14 : 52 heading to NLBRS via route ('NLTNZ', 'NLBRS', 0)
['M8'] Vessel departed at NLKGZ 15 : 21 heading to NLAMS via route ('NLKGZ', 'NLAMS', 0)
['M8'] Vessel departed at NLGOR 15 : 25 heading to NLRTM via route ('NLGOR', 'NLRTM', 0)
['M9'] Vessel departed at NLDOR 15 : 30 heading to NLRTM via route ('NLDOR', 'NLRTM', 0)
['M2'] Vessel departed at NLKGZ 15 : 34 heading to NLAMS via route ('NLKGZ', 'NLAMS', 0)
['M8'] Vessel departed at NLRTM 16 : 0 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M8'] Vessel departed at NLOOS 16 : 15 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['M3'] Vessel departed at NLSWI 16 : 38 heading to NLLEY via route ('NLSWI', 'NLLEY', 0)
['M6'] Vessel departed at NLFAR 16 : 45 heading to NLEEM via route ('NLFAR', 'NLEEM', 0)
['M8'] Vessel departed at NLAER 16 : 58 heading to NLNIE via route ('NLAER', 'NLNIE', 0)
['M8'] Vessel departed at NLRTM 17 : 5 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M8'] Vessel departed at NLMOE 17 : 8 heading to NLOOS via route ('NLMOE', 'NLOOS', 0)
['BIIa-1'] Vessel departed at NLAMS 17 : 14 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['M2'] Vessel departed at NLHTB 17 : 50 heading to NLBON via route ('NLHTB', 'NLBON', 0)
['M8'] Vessel departed at NLNIJ 18 : 20 heading to NLAMS via route ('NLNIJ', 'NLAMS', 0)
['M2'] Vessel departed at NLAMS 18 : 39 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['BI'] Vessel departed at NLAMS 19 : 23 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M8'] Vessel departed at NLOOS 19 : 31 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['BII-1'] Vessel departed at NLUTC 19 : 52 heading to NLRTM via route ('NLUTC', 'NLRTM', 0)
['M4'] Vessel departed at NLAMS 20 : 19 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['M8'] Vessel departed at NLRTM 20 : 20 heading to NLOOS via route ('NLRTM', 'NLOOS', 1)
['M9'] Vessel departed at NLABL 20 : 35 heading to NLRTM via route ('NLABL', 'NLRTM', 0)
['M8'] Vessel departed at NLRTM 21 : 31 heading to NLGTB via route ('NLRTM', 'NLGTB', 1)
['M4'] Vessel departed at NLLEY 21 : 35 heading to NLAMS via route ('NLLEY', 'NLAMS', 0)
['BIIL-1'] Vessel departed at NLTNZ 22 : 3 heading to NLVLI via route ('NLTNZ', 'NLVLI', 0)
['C3b'] Vessel departed at NLRTM 23 : 29 heading to NLMOE via route ('NLRTM', 'NLMOE', 1)
CPU times: total: 26.4 s
Wall time: 26.3 s

In [18]:
type_list

['M12',
 'M8',
 'BII-6b',
 'M10',
 'BIIa-1',
 'M9',
 'BII-6l',
 'C3b',
 'BII-4',
 'M7',
 'M6',
 'BIIL-1',
 'C3l',
 'M5',
 'M11',
 'BI',
 'M3',
 'M2',
 'M1',
 'BII-1',
 'BII-2b',
 'M4',
 'B03',
 'C4',
 'B04',
 'M0',
 'C2l',
 'BII-2L',
 'B02',
 'C1b',
 'C2b',
 'B01',
 'C1l']

In [19]:
def random_vessel_generator(df_prob, load=1):
    """ Function to generate random vessel data.
    Parameters
    ----------
    df_prob: pd.DataFrame
    This dataframe must contain historical travel data
    load: float
    This float is equal to the simulated occupation of the network and may be read as the part of the traffic that is
    electric.
    """
    df_prob = df_prob.loc[df_prob.trip_count != 0]
    df_prob.reset_index(inplace=True, drop=True)
    df_prob = df_prob.fillna(0)

    # create dict to store random prob based values later on
    main_dict = {i: [] for i in df_prob.columns}

    # copy origin and destination from original df
    main_dict['origin'] = []
    main_dict['destination'] = []
    main_dict['route_v'] = []
    main_dict['hour'] = []
    main_dict['trip_count'] = []

    # fill nan values and create type list
    type_list = list(df_prob.iloc[:, 4:-1])
    for i in range(24):
        df_temp = df_prob.loc[df_prob.hour == i]
        df_temp = df_temp.reset_index(drop=True)
        total = df_temp.trip_count.sum()
        prob_r = [i / total for i in df_temp.trip_count]
        to_pick_r = list(np.arange(0, len(df_temp)))
        count_r = total * 1
        # randomly draw ODs
        rand_routes = np.random.choice(a=to_pick_r, size=round(count_r), replace=True, p=prob_r)
        unique_r, counts_r = np.unique(rand_routes, return_counts=True)
        temp_type_dict_r = dict(zip(unique_r, counts_r))

        for pair in df_temp.index:
            # store trip count data previous draw
            if pair in temp_type_dict_r.keys():
                main_dict['trip_count'].append(temp_type_dict_r[pair])
                main_dict['origin'].append(df_temp.origin[pair])
                main_dict['destination'].append(df_temp.destination[pair])
                main_dict['route_v'].append(df_temp.route_v[pair])
                main_dict['hour'].append(i)
                # print(main_dict['trip_count'])
                # determine parameters to randomly draw ship types for each OD pair
                prob = list(df_temp.iloc[pair, 4:-1].values / df_temp.iloc[pair, 4:-1].sum())
                to_pick = type_list
                # goes wrong now because may be zero ...
                count = temp_type_dict_r[pair]

                # randomly draw ship types for each OD pair
                rand_vessels = np.random.choice(a=to_pick, size=round(count), replace=True, p=prob)
                unique, counts = np.unique(rand_vessels, return_counts=True)
                temp_type_dict = dict(zip(unique, counts))
                for key in type_list:
                    if key in temp_type_dict.keys():
                        main_dict[key].append(temp_type_dict[key])
                    else:
                        main_dict[key].append(0)
    break

    df_return = pd.DataFrame.from_dict(main_dict)

    return df_return

In [4]:
a1 = random_vessel_generator(df_ivs, 1)

In [93]:
a1

,origin,destination,trip_count,actual,hour,M12,M8,BII-6b,M10,BIIa-1,...,B04,M0,C2l,BII-2L,B02,C1b,C2b,B01,C1l,route_v
0,NLRTM,NLAMS,155,155,0,0,94,0,0,2,...,0,0,0,0,0,0,0,0,0,1
1,NLRTM,NLAMS,161,161,0,98,0,0,14,0,...,0,0,0,3,0,0,0,0,0,1
2,NLRTM,NLAMS,55,55,0,0,39,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,NLRTM,NLAMS,25,25,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,NLRTM,NLAMS,80,80,0,9,20,0,3,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2850,NLTNZ,NLVLI,5,5,23,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2851,NLTNZ,NLVLI,3,3,23,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2852,NLTNZ,NLVLI,19,19,23,0,16,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2853,NLTNZ,NLVLI,3,3,23,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
2854,NLTNZ,NLVLI,4,4,23,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0