In [134]:
import pandas as pd
import pickle
import numpy as np
import networkx as nx
import re
import time

In [147]:
df_ivs = pickle.load(open('data/ivs_exploded_100.p', 'rb'))
df_ivs_old = pickle.load(open('data/ivs_exploded_100_old.p', 'rb'))
routes_dests = pickle.load(open('data/users_ship_specific_routes.p', 'rb'))
df_ships = pd.read_excel('data/ship_types.xlsx')

G = pickle.load(open("data/network.p", "rb"))
paths = pickle.load(open("data/paths.p", "rb"))
df_random = pickle.load(open("data/df_random.p", "rb"))
df_abm = pickle.load(open("data/df_abm.p", "rb"))
non_zero_flows = pickle.load(open("data/non_zero_flows.p", "rb"))
feasible_combinations = pickle.load(open('data/feasible_comb.p', 'rb'))
optimal_flows = pickle.load(open('data/optimal_flows.p', 'rb'))
agent_data = pickle.load(open('data/agent_data.p', 'rb'))
model_data = pickle.load(open('data/model_data.p', 'rb'))
path_lengths = pickle.load(open('data/path_lengths_ship_specific_routes.p', 'rb'))

In [144]:
for i,j in non_zero_flows.items():
    print(sum(j['flows']))

1.0
1.0
0.85196542
1.0
1.0
1.0
1.0
1.0
1.0
0.46720713
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
0.80761883
1.0
1.0
1.0
1.0
1.0
1.0
1.0
0.064032754
1.0
1.0
1.0
1.000000002
0.9999999970000001
1.0
1.0
1.0
0.45224712
1.0
1.0
1.0
1.0
1.0
1.0

In [148]:
a = pd.DataFrame.from_dict(model_data.loc[1440].item()).sort_values(by='id')
a

,id,route,time_departed,travel_time,time_in_line,time_charging,full_charging_info,distance_travelled
15,0,"(NLLEY, NLAMS, 0)",11,375,0,0.000,{},90500.000000
29,1,"(NLWGW, NLRTM, 0)",13,545,0,64.728,{'104': 64.728},117428.920330
0,2,"(NLKGZ, NLAMS, 0)",33,13,0,0.000,{},2750.000000
59,3,"(NLAER, NLRTM, 0)",40,805,0,328.890,{'8863360': 328.89},116634.027684
17,4,"(NLLEY, NLAMS, 0)",41,375,0,0.000,{},90500.000000
...,...,...,...,...,...,...,...,...
92,118,"(NLAMS, NLWMO, 0)",1107,30,0,0.000,{},6750.000000
103,119,"(NLRTM, NLMOE, 0)",1130,137,0,0.000,{},31250.000000
107,121,"(NLMOE, NLOOS, 0)",1153,148,0,0.000,{},36250.000000
112,122,"(NLUTC, NLTIE, 0)",1188,195,0,0.000,{},47000.000000
111,133,"(NLAMS, NLWMO, 0)",1336,30,0,0.000,{},6750.000000

In [149]:
a = agent_data.loc[agent_data.station_status==1].reset_index().sort_values(by='Step')
a.groupby(['AgentID']).count()

         Step  vessel_status  station_status
AgentID
104       534            534             534
113       676            676             676
116       381            381             381
8862663   463            463             463
8863360   674            674             674
8863818   696            696             696
8864837   398            398             398
8865003   386            386             386
8865600   625            625             625
8866686   456            456             456
8867538   840            840             840

In [129]:
non_zero_flows[('NLKGZ', 'NLAMS', 0)]

{'combinations': [['8866763']], 'flows': [1.0]}

In [101]:
paths.keys()

dict_keys([('NLRTM', 'NLAMS', 0), ('NLRTM', 'NLAMS', 1), ('NLRTM', 'NLAMS', 2), ('NLRTM', 'NLMOE', 0), ('NLRTM', 'NLMOE', 1), ('NLRTM', 'NLVLI', 0), ('NLAMS', 'NLAER', 0), ('NLVEG', 'NLRTM', 0), ('NLTLB', 'NLRTM', 0), ('NLTLB', 'NLRTM', 1), ('NLLEY', 'NLAMS', 0), ('NLOSS', 'NLRTM', 0), ('NLZWO', 'NLAMS', 0), ('NLUTC', 'NLRTM', 0), ('NLRTM', 'NLKAM', 0), ('NLRTM', 'NLKAM', 1), ('NLRTM', 'NLKAM', 2), ('NLHGL', 'NLRTM', 0), ('NLLMR', 'NLAMS', 0), ('NLRTM', 'NLWLK', 1), ('NLAMS', 'NLMOE', 0), ('NLAMS', 'NLMOE', 1), ('NLAMS', 'NLMOE', 2), ('NLAMS', 'NLMOE', 3), ('NLAMS', 'NLMOE', 4), ('NLAER', 'NLRTM', 0), ('NLRTM', 'NLAPN', 0), ('NLTNZ', 'NLVLI', 0), ('NLDOR', 'NLRTM', 0), ('NLDOR', 'NLRTM', 1), ('NLAMS', 'NLDEV', 0), ('NLGOR', 'NLRTM', 0), ('NLRTM', 'NLNIJ', 0), ('NLBZM', 'NLRTM', 0), ('NLBZM', 'NLRTM', 1), ('NLWSP', 'NLAER', 0), ('NLRTM', 'NLOOS', 1), ('NLRTM', 'NLTNZ', 0), ('NLVLI', 'NLAMS', 0), ('NLVLI', 'NLAMS', 1), ('NLRTM', 'NLMEP', 0), ('NLRTM', 'NLMEP', 1), ('NLRTM', 'NLMEP', 2), ('NLOOS', 'NLTLB', 0), ('NLNIJ', 'NLWAS', 0), ('NLKAM', 'NLAMS', 0), ('NLIJM', 'NLMOE', 0), ('NLIJM', 'NLMOE', 1), ('NLIJM', 'NLMOE', 2), ('NLIJM', 'NLMOE', 3), ('NLIJM', 'NLMOE', 4), ('NLHAR', 'NLWTE', 0), ('NLKGZ', 'NLAMS', 0), ('NLBON', 'NLRTM', 0), ('NLBON', 'NLRTM', 1), ('NLMOE', 'NLAPN', 1), ('NLDOR', 'NLAMS', 0), ('NLDOR', 'NLAMS', 1), ('NLDOR', 'NLAMS', 2), ('NLDOR', 'NLAMS', 3), ('NLDOR', 'NLAMS', 4), ('NLTIE', 'NLRTM', 0), ('NLHGL', 'NLAMS', 0), ('NLNIJ', 'NLABL', 0), ('NLMOE', 'NLOOS', 0), ('NLNKK', 'NLAMS', 0), ('NLAER', 'NLLEY', 0), ('NLMEP', 'NLAMS', 0), ('NLMEP', 'NLAMS', 1), ('NLIJM', 'NLRTM', 0), ('NLIJM', 'NLRTM', 1), ('NLIJM', 'NLRTM', 2), ('NLIJM', 'NLRTM', 3), ('NLIJM', 'NLRTM', 4), ('NLRTM', 'NLDZL', 0), ('NLRTM', 'NLDZL', 1), ('NLRTM', 'NLDZL', 2), ('NLHAR', 'NLAMS', 0), ('NLHAR', 'NLAMS', 1), ('NLAMS', 'NLWMO', 0), ('NLALK', 'NLIJM', 0), ('NLAMS', 'NLOSS', 0), ('NLABL', 'NLRTM', 0), ('NLHAS', 'NLAMS', 0), ('NLRTM', 'NLVEN', 0), ('NLRTM', 'NLZWO', 0), ('NLRTM', 'NLZWO', 1), ('NLRTM', 'NLZWO', 2), ('NLTNZ', 'NLBRS', 0), ('NLFAR', 'NLEEM', 0), ('NLRTM', 'NLARN', 0), ('NLAER', 'NLNIE', 0), ('NLUTC', 'NLTIE', 0), ('NLDRO', 'NLKAM', 0), ('NLAMS', 'NLTIE', 0), ('NLVEG', 'NLAMS', 0), ('NLGNM', 'NLAMS', 0), ('NLWBR', 'NLRTM', 2), ('NLNIJ', 'NLDRU', 0), ('NLTLB', 'NLMOE', 0), ('NLAMS', 'NLWGW', 0), ('NLAMS', 'NLZAA', 0), ('NLDST', 'NLAMS', 0), ('NLAER', 'NLSWI', 0), ('NLWGW', 'NLRTM', 0), ('NLSTI', 'NLRTM', 0), ('NLSTI', 'NLRTM', 1), ('NLCUY', 'NLRTM', 0), ('NLCUY', 'NLRTM', 1), ('NLSWI', 'NLLEY', 0), ('NLVEG', 'NLHEJ', 0), ('NLAMS', 'NLHEJ', 0), ('NLRTM', 'NLGTB', 1), ('NLMOE', 'NLTNZ', 0), ('NLTNZ', 'NLAMS', 0), ('NLTNZ', 'NLAMS', 1), ('NLTNZ', 'NLAMS', 2), ('NLTNZ', 'NLAMS', 3), ('NLHRD', 'NLAMS', 0), ('NLIJM', 'NLMST', 1), ('NLAMS', 'NLUTC', 1), ('NLHTB', 'NLBZM', 0), ('NLVEN', 'NLBON', 0), ('NLALM', 'NLAMS', 0), ('NLDRA', 'NLAMS', 0), ('NLNRW', 'NLBON', 0), ('NLOMD', 'NLRTM', 0), ('NLOMD', 'NLRTM', 1), ('NLLWR', 'NLRTM', 1), ('NLNIJ', 'NLAMS', 0), ('NLFAR', 'NLRTM', 1), ('NLFAR', 'NLRTM', 2), ('NLRTM', 'NLVSN', 0), ('NLRTM', 'NLVSN', 2), ('NLPER', 'NLAMS', 2), ('NLPER', 'NLAMS', 3), ('NLHRV', 'NLAMS', 0), ('NLHAR', 'NLDRA', 0), ('NLHTB', 'NLBON', 0), ('NLHTB', 'NLBON', 1), ('NLKGZ', 'NLZAA', 0), ('NLRTM', 'NLLID', 0), ('NLRTM', 'NLSLU', 0), ('NLRTM', 'NLSLU', 1), ('NLAMS', 'NLZWI', 0), ('NLAMS', 'NLZWI', 1), ('NLAMS', 'NLZWI', 2), ('NLAMS', 'NLZWI', 3), ('NLAMS', 'NLZWI', 4)])

In [130]:
b = paths[('NLKGZ', 'NLAMS', 0)]

In [131]:
b

['8863260', '8863656', '8866429', '8866763']

In [125]:
for i in range(len(b)-1):
    print(nx.dijkstra_path_length(G, b[i], b[i+1], weight='length_m'))

651.3288639667403
6345.434042802258
3010.574501261619
4548.7114559023
1910.6073697711045
4354.183792219703
2859.5103864259836
831.6178353275283
5168.968116762063
940.6613275976138
2036.6040649408299
7954.449370890448
6279.201490860038

In [128]:
path_lengths[('NLKGZ', 'NLAMS', 0)]

3458.9417007141014

In [69]:
a.route.unique()

array([('NLRTM', 'NLAMS', 2), ('NLUTC', 'NLTIE', 0),
       ('NLAMS', 'NLMOE', 1), ('NLUTC', 'NLRTM', 0),
       ('NLWSP', 'NLAER', 0), ('NLTLB', 'NLRTM', 1),
       ('NLRTM', 'NLMOE', 0), ('NLOSS', 'NLRTM', 0),
       ('NLAER', 'NLLEY', 0), ('NLRTM', 'NLAPN', 0),
       ('NLAMS', 'NLAER', 0), ('NLSWI', 'NLLEY', 0),
       ('NLOOS', 'NLTLB', 0), ('NLKGZ', 'NLAMS', 0),
       ('NLNIJ', 'NLWAS', 0), ('NLRTM', 'NLAMS', 0),
       ('NLNIJ', 'NLDRU', 0), ('NLMOE', 'NLAPN', 1),
       ('NLWGW', 'NLRTM', 0), ('NLDST', 'NLAMS', 0),
       ('NLGOR', 'NLRTM', 0), ('NLAMS', 'NLUTC', 1),
       ('NLLEY', 'NLAMS', 0), ('NLTLB', 'NLMOE', 0),
       ('NLAMS', 'NLWMO', 0), ('NLTNZ', 'NLBRS', 0),
       ('NLNIJ', 'NLABL', 0), ('NLRTM', 'NLMOE', 1),
       ('NLABL', 'NLRTM', 0), ('NLDOR', 'NLRTM', 0),
       ('NLRTM', 'NLGTB', 1), ('NLRTM', 'NLOOS', 1),
       ('NLAMS', 'NLHEJ', 0), ('NLTNZ', 'NLVLI', 0),
       ('NLNIJ', 'NLAMS', 0), ('NLAER', 'NLNIE', 0),
       ('NLAER', 'NLRTM', 0), ('NLMOE', 'NLOOS', 0),
       ('NLAMS', 'NLWGW', 0)], dtype=object)

In [28]:
agent_data.reset_index().loc[agent_data.reset_index().AgentID.str.len()<4]

        Step AgentID Vessel_status
112        0     113             0
133        0     104             0
138        0     116             0
153        0     130             0
170        0     132             0
...      ...     ...           ...
336812  1440     130             0
336829  1440     132             0
336834  1440     125             0
336845  1440     124             0
336862  1440     107             0

[11528 rows x 3 columns]

In [29]:
agent_data.reset_index(inplace=True)

In [37]:

agent_data.loc[agent_data.station_status == 1]

             vessel_status  station_status
Step AgentID
6    8865003             0             1.0
36   8863818             0             1.0
37   8863818             0             1.0
38   8863818             0             1.0
39   8863818             0             1.0
...                    ...             ...
1440 113                 0             1.0
     8866686             0             1.0
     104                 0             1.0
     8864837             0             1.0
     8865003             0             1.0

[8976 rows x 2 columns]

In [23]:
agent_data.loc[agent_data.Vessel_status!=0]

             Vessel_status
Step AgentID
7    0             driving
8    0             driving
10   1             driving
11   1            charging
     2             driving
...                    ...
1440 178            inline
     180           driving
     181          charging
     183            inline
     185           driving

[28901 rows x 1 columns]

In [5]:
df_abm.loc[df_abm.name]

,id,source,target,length_m,X,Y,name,charging_stations,model_type,range,capacity
0,1000,113,8867600,20435.805397,5.269204,53.215456,"(113, 8867600)",NaN,link,100000,2500
1,1001,113,8865605,20435.805397,5.151546,53.267585,"(113, 8865605)",NaN,link,100000,2500
2,1002,8865756,30986055,2481.139176,5.412350,53.178500,"(8865756, 30986055)",NaN,link,100000,2500
3,1003,8863630,8863818,7765.172161,4.835893,51.681540,"(8863630, 8863818)",NaN,link,100000,2500
4,1004,8863630,8868359,1034.856186,4.830372,51.711997,"(8863630, 8868359)",NaN,link,100000,2500
...,...,...,...,...,...,...,...,...,...,...,...
211,1211,NaN,NaN,NaN,5.536470,51.816354,8860920,0.0,intermediate_node,100000,2500
212,1212,NaN,NaN,NaN,4.846061,51.651560,8863818,1.0,harbour_with_charging,100000,2500
213,1213,NaN,NaN,NaN,3.705824,51.451397,8864111,0.0,harbour,100000,2500
214,1214,NaN,NaN,NaN,4.961690,51.824861,8864151,0.0,intermediate_node,100000,2500
215,1215,NaN,NaN,NaN,5.239614,52.403333,8864005,1.0,harbour_with_charging,100000,2500

In [8]:
o = {}
for key, item in optimal_flows.items():
    if item != 0:
        a = (re.sub('''["'_']''', "", key[16:35]).split(','))
        a = tuple([a[0], a[1], int(a[2])])
        o[a] = {'combinations':[], 'flows':[]}

for key, item in optimal_flows.items():
    if item != 0:
        a = (re.sub('''["'_']''', "", key[16:35]).split(','))
        a = tuple([a[0], a[1], int(a[2])])
        o[a]['combinations'].append(key[40:-4].split("',_'"))
        o[a]['flows'].append(item)
        print(a)
        print(key[40:-4].split("',_'"))

('NLABL', 'NLRTM', 0)
['8866686']
('NLAER', 'NLLEY', 0)
['8863709']
('NLAER', 'NLLEY', 0)
['8864005']
('NLAER', 'NLRTM', 0)
['8863360', '886400']
('NLAER', 'NLSWI', 0)
['8864005', '886826']
('NLALK', 'NLIJM', 0)
['8863260']
('NLALK', 'NLIJM', 0)
['8866889']
('NLAMS', 'NLAER', 0)
['8866763', '886400']
('NLAMS', 'NLTIE', 0)
['8864837', '2263814']
('NLAMS', 'NLUTC', 1)
['8864837']
('NLAMS', 'NLUTC', 1)
['8867240', '886676']
('NLAMS', 'NLWMO', 0)
['8866889']
('NLAMS', 'NLZAA', 0)
['8866889']
('NLDOR', 'NLRTM', 0)
['8862663']
('NLDOR', 'NLRTM', 1)
['8862663']
('NLDRO', 'NLKAM', 0)
['8868191']
('NLFAR', 'NLEEM', 0)
['8863614']
('NLGOR', 'NLRTM', 0)
['8866686']
('NLHAR', 'NLWTE', 0)
['113']
('NLHAR', 'NLWTE', 0)
['8865756', '886560']
('NLHTB', 'NLBON', 0)
['8865990', '886820']
('NLHTB', 'NLBZM', 0)
['112', '886677']
('NLIJM', 'NLRTM', 1)
['8863360', '886326']
('NLKGZ', 'NLAMS', 0)
['8863260']
('NLKGZ', 'NLZAA', 0)
['8866889']
('NLLEY', 'NLAMS', 0)
['8863709', '886676']
('NLMOE', 'NLOOS', 0)
['8863818']
('NLNIJ', 'NLAMS', 0)
['8865412', '886483']
('NLNIJ', 'NLDRU', 0)
['8865412']
('NLNIJ', 'NLWAS', 0)
['22638327', '886456']
('NLNIJ', 'NLWAS', 0)
['8865600']
('NLNRW', 'NLBON', 0)
['8868208']
('NLOOS', 'NLTLB', 0)
['8863818']
('NLOOS', 'NLTLB', 0)
['8867740']
('NLRTM', 'NLAPN', 0)
['8863360']
('NLRTM', 'NLGTB', 1)
['8865003']
('NLRTM', 'NLLID', 0)
['105']
('NLRTM', 'NLMOE', 0)
['30984595']
('NLRTM', 'NLMOE', 0)
['8863306']
('NLRTM', 'NLMOE', 1)
['30984595']
('NLRTM', 'NLMOE', 1)
['8865003']
('NLRTM', 'NLOOS', 1)
['8862663']
('NLSWI', 'NLLEY', 0)
['8868266']
('NLTLB', 'NLMOE', 0)
['8863818']
('NLTNZ', 'NLBRS', 0)
['8861528']
('NLTNZ', 'NLBRS', 0)
['8863469']
('NLTNZ', 'NLVLI', 0)
['8863469']
('NLTNZ', 'NLVLI', 0)
['8864111']
('NLUTC', 'NLRTM', 0)
['104']
('NLUTC', 'NLTIE', 0)
['22638146']
('NLUTC', 'NLTIE', 0)
['8867240']
('NLVEG', 'NLHEJ', 0)
['8865990', '886560']
('NLVEN', 'NLBON', 0)
['22637863', '886820']
('NLWSP', 'NLAER', 0)
['8864005']
('NLWSP', 'NLAER', 0)
['8864837']

In [9]:
o

{('NLABL', 'NLRTM', 0): {'combinations': [['8866686']], 'flows': [1.0]},
 ('NLAER', 'NLLEY', 0): {'combinations': [['8863709'], ['8864005']],
  'flows': [0.40542137, 0.59457863]},
 ('NLAER', 'NLRTM', 0): {'combinations': [['8863360', '886400']],
  'flows': [0.21725455]},
 ('NLAER', 'NLSWI', 0): {'combinations': [['8864005', '886826']],
  'flows': [1.0]},
 ('NLALK', 'NLIJM', 0): {'combinations': [['8863260'], ['8866889']],
  'flows': [0.56482298, 0.43517702]},
 ('NLAMS', 'NLAER', 0): {'combinations': [['8866763', '886400']],
  'flows': [0.5437747]},
 ('NLAMS', 'NLTIE', 0): {'combinations': [['8864837', '2263814']],
  'flows': [0.21140541]},
 ('NLAMS', 'NLUTC', 1): {'combinations': [['8864837'], ['8867240', '886676']],
  'flows': [0.96552342, 0.034476582]},
 ('NLAMS', 'NLWMO', 0): {'combinations': [['8866889']], 'flows': [1.0]},
 ('NLAMS', 'NLZAA', 0): {'combinations': [['8866889']], 'flows': [1.0]},
 ('NLDOR', 'NLRTM', 0): {'combinations': [['8862663']], 'flows': [1.0]},
 ('NLDOR', 'NLRTM', 1): {'combinations': [['8862663']], 'flows': [1.0]},
 ('NLDRO', 'NLKAM', 0): {'combinations': [['8868191']], 'flows': [1.0]},
 ('NLFAR', 'NLEEM', 0): {'combinations': [['8863614']], 'flows': [1.0]},
 ('NLGOR', 'NLRTM', 0): {'combinations': [['8866686']], 'flows': [0.60469325]},
 ('NLHAR', 'NLWTE', 0): {'combinations': [['113'], ['8865756', '886560']],
  'flows': [0.54177269, 0.43341815]},
 ('NLHTB', 'NLBON', 0): {'combinations': [['8865990', '886820']],
  'flows': [1.0]},
 ('NLHTB', 'NLBZM', 0): {'combinations': [['112', '886677']],
  'flows': [0.60835071]},
 ('NLIJM', 'NLRTM', 1): {'combinations': [['8863360', '886326']],
  'flows': [0.78052072]},
 ('NLKGZ', 'NLAMS', 0): {'combinations': [['8863260']], 'flows': [1.0]},
 ('NLKGZ', 'NLZAA', 0): {'combinations': [['8866889']], 'flows': [1.0]},
 ('NLLEY', 'NLAMS', 0): {'combinations': [['8863709', '886676']],
  'flows': [1.0]},
 ('NLMOE', 'NLOOS', 0): {'combinations': [['8863818']], 'flows': [1.0]},
 ('NLNIJ', 'NLAMS', 0): {'combinations': [['8865412', '886483']],
  'flows': [0.25477039]},
 ('NLNIJ', 'NLDRU', 0): {'combinations': [['8865412']], 'flows': [1.0]},
 ('NLNIJ', 'NLWAS', 0): {'combinations': [['22638327', '886456'], ['8865600']],
  'flows': [0.316878, 0.683122]},
 ('NLNRW', 'NLBON', 0): {'combinations': [['8868208']], 'flows': [0.67207657]},
 ('NLOOS', 'NLTLB', 0): {'combinations': [['8863818'], ['8867740']],
  'flows': [0.052299703, 0.9477003]},
 ('NLRTM', 'NLAPN', 0): {'combinations': [['8863360']], 'flows': [1.0]},
 ('NLRTM', 'NLGTB', 1): {'combinations': [['8865003']], 'flows': [0.55303197]},
 ('NLRTM', 'NLLID', 0): {'combinations': [['105']], 'flows': [1.0]},
 ('NLRTM', 'NLMOE', 0): {'combinations': [['30984595'], ['8863306']],
  'flows': [0.41361748, 0.58638252]},
 ('NLRTM', 'NLMOE', 1): {'combinations': [['30984595'], ['8865003']],
  'flows': [0.46235904, 0.53764096]},
 ('NLRTM', 'NLOOS', 1): {'combinations': [['8862663']], 'flows': [0.16791769]},
 ('NLSWI', 'NLLEY', 0): {'combinations': [['8868266']], 'flows': [1.0]},
 ('NLTLB', 'NLMOE', 0): {'combinations': [['8863818']], 'flows': [0.93958958]},
 ('NLTNZ', 'NLBRS', 0): {'combinations': [['8861528'], ['8863469']],
  'flows': [0.70712941, 0.19945754]},
 ('NLTNZ', 'NLVLI', 0): {'combinations': [['8863469'], ['8864111']],
  'flows': [0.46206676, 0.53793324]},
 ('NLUTC', 'NLRTM', 0): {'combinations': [['104']], 'flows': [0.58966401]},
 ('NLUTC', 'NLTIE', 0): {'combinations': [['22638146'], ['8867240']],
  'flows': [0.46566828, 0.53433172]},
 ('NLVEG', 'NLHEJ', 0): {'combinations': [['8865990', '886560']],
  'flows': [0.62698548]},
 ('NLVEN', 'NLBON', 0): {'combinations': [['22637863', '886820']],
  'flows': [1.0]},
 ('NLWSP', 'NLAER', 0): {'combinations': [['8864005'], ['8864837']],
  'flows': [0.37966186, 0.62033814]}}

In [55]:
a = o[('NLAMS', 'NLUTC', 1)]
combi = np.random.choice(a=np.arange(len(a)), size=1, replace=False, p=[0.5,0.5])

In [61]:
a = [1,2,3]
a = [i/sum(a) for i in a]

In [62]:
a

[0.16666666666666666, 0.3333333333333333, 0.5]

In [98]:
df_abm.loc[df_abm.name == '8864005']

,id,source,target,length_m,X,Y,name,charging_stations,model_type,range,capacity
143,1143,NaN,NaN,NaN,5.239614,52.403333,8864005,5.0,harbour_with_charging,100000,5

In [81]:
updated_feasible_combinations = {}
for key, combinations in feasible_combinations.items():
    updated_feasible_combinations[key] = []
    if len(combinations) > 1:
        for combi in combinations:
            # print(combi)
            feasible = True
            for node in combi:
                if not node in charging_points:
                    feasible = False
                    break
            if feasible:
                updated_feasible_combinations[key].append(combi)
    else:
        feasible = True
        for node in combinations:
            if not node in charging_points:
                feasible = False
                break
        if feasible:
            updated_feasible_combinations[key].append(combinations)

In [28]:
a = [1]
a[0]

1

In [4]:
# extract data
df_links = nx.to_pandas_edgelist(G)
df_nodes = pd.DataFrame.from_dict(dict(G.nodes(data=True)), orient='index')

In [7]:
for _, row in df_abm.iterrows():  # index, row in ...
    # create agents according to model_type

    model_type = row['model_type']
    agent = None

    name = row['name']
    if pd.isna(name):
        name = ""
        print("error, nameless entry")
    else:
        name = name
    break

In [10]:
a =[1,3,34,6]
a[::-1]

[6, 34, 3, 1]

In [36]:
df_random.trip_count.iloc[0]

54

In [3]:
%%time
type_list = list(df_random.iloc[:, 4:-2])
for hour in range(24):
    df_1 = df_random.loc[(df_random.hour == hour)]
    for timestep in range(60):
        for harbour in list(set(list(df_1.origin.unique()) + list(df_1.destination.unique()))):
            a = df_1.loc[(df_1.origin==harbour)|(df_1.destination == harbour)]
            for i,j in enumerate(a.index):
                # chance that a vessel is generated is equal to 1/2 (either spawn at origin or dest) * trip_count/365
                # (because trip_count is yearly) *(time_step/hours)
                if 0.5 * (df_1.trip_count[j]/365) * (1/60) >= np.random.random():
                    # determine vessel type
                    prob = list(a.iloc[i, 4:-2].values / a.iloc[i, 4:-2].sum())
                    to_pick = type_list
                    ship_type = np.random.choice(a=to_pick, size=1, replace=True, p=prob)
                    # randomly draw ship types for each OD pair
                    print(ship_type, "Vessel departed at", df_1.origin[j], hour, ':', timestep, "heading to", df_1.destination[j], "via route", df_1.key[j])

['M10'] Vessel departed at NLTNZ 3 : 14 heading to NLVLI via route ('NLTNZ', 'NLVLI', 0)
['M8'] Vessel departed at NLOOS 3 : 44 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['M11'] Vessel departed at NLGOR 4 : 37 heading to NLRTM via route ('NLGOR', 'NLRTM', 0)
['M11'] Vessel departed at NLGOR 4 : 43 heading to NLRTM via route ('NLGOR', 'NLRTM', 0)
['M2'] Vessel departed at NLLEY 5 : 4 heading to NLAMS via route ('NLLEY', 'NLAMS', 0)
['M9'] Vessel departed at NLNIJ 5 : 43 heading to NLWAS via route ('NLNIJ', 'NLWAS', 0)
['M8'] Vessel departed at NLOOS 6 : 4 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['M8'] Vessel departed at NLUTC 6 : 47 heading to NLRTM via route ('NLUTC', 'NLRTM', 0)
['M12'] Vessel departed at NLHAR 7 : 3 heading to NLWTE via route ('NLHAR', 'NLWTE', 0)
['M8'] Vessel departed at NLDOR 7 : 28 heading to NLRTM via route ('NLDOR', 'NLRTM', 0)
['M0'] Vessel departed at NLTNZ 7 : 37 heading to NLVLI via route ('NLTNZ', 'NLVLI', 0)
['M3'] Vessel departed at NLTLB 7 : 50 heading to NLMOE via route ('NLTLB', 'NLMOE', 0)
['M2'] Vessel departed at NLAMS 8 : 0 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['BIIL-1'] Vessel departed at NLKGZ 8 : 5 heading to NLZAA via route ('NLKGZ', 'NLZAA', 0)
['M3'] Vessel departed at NLAER 8 : 42 heading to NLSWI via route ('NLAER', 'NLSWI', 0)
['M8'] Vessel departed at NLRTM 8 : 42 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M2'] Vessel departed at NLNRW 8 : 57 heading to NLBON via route ('NLNRW', 'NLBON', 0)
['M2'] Vessel departed at NLKGZ 9 : 6 heading to NLAMS via route ('NLKGZ', 'NLAMS', 0)
['M3'] Vessel departed at NLOOS 9 : 21 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['M2'] Vessel departed at NLAMS 9 : 34 heading to NLWMO via route ('NLAMS', 'NLWMO', 0)
['M6'] Vessel departed at NLNIJ 9 : 41 heading to NLDRU via route ('NLNIJ', 'NLDRU', 0)
['M4'] Vessel departed at NLAMS 10 : 12 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M0'] Vessel departed at NLKGZ 10 : 20 heading to NLZAA via route ('NLKGZ', 'NLZAA', 0)
['M2'] Vessel departed at NLALK 10 : 30 heading to NLIJM via route ('NLALK', 'NLIJM', 0)
['M4'] Vessel departed at NLAMS 10 : 44 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M10'] Vessel departed at NLLEY 10 : 51 heading to NLAMS via route ('NLLEY', 'NLAMS', 0)
['BIIa-1'] Vessel departed at NLKGZ 10 : 57 heading to NLZAA via route ('NLKGZ', 'NLZAA', 0)
['M5'] Vessel departed at NLRTM 11 : 0 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M6'] Vessel departed at NLRTM 12 : 14 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M8'] Vessel departed at NLDOR 12 : 17 heading to NLRTM via route ('NLDOR', 'NLRTM', 0)
['M5'] Vessel departed at NLAMS 12 : 22 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['M2'] Vessel departed at NLAMS 12 : 30 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M2'] Vessel departed at NLAMS 13 : 46 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M2'] Vessel departed at NLAMS 14 : 0 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M10'] Vessel departed at NLTNZ 14 : 0 heading to NLVLI via route ('NLTNZ', 'NLVLI', 0)
['M2'] Vessel departed at NLKGZ 14 : 1 heading to NLAMS via route ('NLKGZ', 'NLAMS', 0)
['M2'] Vessel departed at NLHAR 14 : 11 heading to NLWTE via route ('NLHAR', 'NLWTE', 0)
['BIIa-1'] Vessel departed at NLKGZ 14 : 12 heading to NLZAA via route ('NLKGZ', 'NLZAA', 0)
['M4'] Vessel departed at NLAER 14 : 20 heading to NLLEY via route ('NLAER', 'NLLEY', 0)
['M5'] Vessel departed at NLAMS 14 : 39 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['M8'] Vessel departed at NLTNZ 14 : 52 heading to NLBRS via route ('NLTNZ', 'NLBRS', 0)
['M8'] Vessel departed at NLKGZ 15 : 21 heading to NLAMS via route ('NLKGZ', 'NLAMS', 0)
['M8'] Vessel departed at NLGOR 15 : 25 heading to NLRTM via route ('NLGOR', 'NLRTM', 0)
['M9'] Vessel departed at NLDOR 15 : 30 heading to NLRTM via route ('NLDOR', 'NLRTM', 0)
['M2'] Vessel departed at NLKGZ 15 : 34 heading to NLAMS via route ('NLKGZ', 'NLAMS', 0)
['M8'] Vessel departed at NLRTM 16 : 0 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M8'] Vessel departed at NLOOS 16 : 15 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['M3'] Vessel departed at NLSWI 16 : 38 heading to NLLEY via route ('NLSWI', 'NLLEY', 0)
['M6'] Vessel departed at NLFAR 16 : 45 heading to NLEEM via route ('NLFAR', 'NLEEM', 0)
['M8'] Vessel departed at NLAER 16 : 58 heading to NLNIE via route ('NLAER', 'NLNIE', 0)
['M8'] Vessel departed at NLRTM 17 : 5 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M8'] Vessel departed at NLMOE 17 : 8 heading to NLOOS via route ('NLMOE', 'NLOOS', 0)
['BIIa-1'] Vessel departed at NLAMS 17 : 14 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['M2'] Vessel departed at NLHTB 17 : 50 heading to NLBON via route ('NLHTB', 'NLBON', 0)
['M8'] Vessel departed at NLNIJ 18 : 20 heading to NLAMS via route ('NLNIJ', 'NLAMS', 0)
['M2'] Vessel departed at NLAMS 18 : 39 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['BI'] Vessel departed at NLAMS 19 : 23 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M8'] Vessel departed at NLOOS 19 : 31 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['BII-1'] Vessel departed at NLUTC 19 : 52 heading to NLRTM via route ('NLUTC', 'NLRTM', 0)
['M4'] Vessel departed at NLAMS 20 : 19 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['M8'] Vessel departed at NLRTM 20 : 20 heading to NLOOS via route ('NLRTM', 'NLOOS', 1)
['M9'] Vessel departed at NLABL 20 : 35 heading to NLRTM via route ('NLABL', 'NLRTM', 0)
['M8'] Vessel departed at NLRTM 21 : 31 heading to NLGTB via route ('NLRTM', 'NLGTB', 1)
['M4'] Vessel departed at NLLEY 21 : 35 heading to NLAMS via route ('NLLEY', 'NLAMS', 0)
['BIIL-1'] Vessel departed at NLTNZ 22 : 3 heading to NLVLI via route ('NLTNZ', 'NLVLI', 0)
['C3b'] Vessel departed at NLRTM 23 : 29 heading to NLMOE via route ('NLRTM', 'NLMOE', 1)
CPU times: total: 26.4 s
Wall time: 26.3 s

In [18]:
type_list

['M12',
 'M8',
 'BII-6b',
 'M10',
 'BIIa-1',
 'M9',
 'BII-6l',
 'C3b',
 'BII-4',
 'M7',
 'M6',
 'BIIL-1',
 'C3l',
 'M5',
 'M11',
 'BI',
 'M3',
 'M2',
 'M1',
 'BII-1',
 'BII-2b',
 'M4',
 'B03',
 'C4',
 'B04',
 'M0',
 'C2l',
 'BII-2L',
 'B02',
 'C1b',
 'C2b',
 'B01',
 'C1l']

In [19]:
def random_vessel_generator(df_prob, load=1):
    """ Function to generate random vessel data.
    Parameters
    ----------
    df_prob: pd.DataFrame
    This dataframe must contain historical travel data
    load: float
    This float is equal to the simulated occupation of the network and may be read as the part of the traffic that is
    electric.
    """
    df_prob = df_prob.loc[df_prob.trip_count != 0]
    df_prob.reset_index(inplace=True, drop=True)
    df_prob = df_prob.fillna(0)

    # create dict to store random prob based values later on
    main_dict = {i: [] for i in df_prob.columns}

    # copy origin and destination from original df
    main_dict['origin'] = []
    main_dict['destination'] = []
    main_dict['route_v'] = []
    main_dict['hour'] = []
    main_dict['trip_count'] = []

    # fill nan values and create type list
    type_list = list(df_prob.iloc[:, 4:-1])
    for i in range(24):
        df_temp = df_prob.loc[df_prob.hour == i]
        df_temp = df_temp.reset_index(drop=True)
        total = df_temp.trip_count.sum()
        prob_r = [i / total for i in df_temp.trip_count]
        to_pick_r = list(np.arange(0, len(df_temp)))
        count_r = total * 1
        # randomly draw ODs
        rand_routes = np.random.choice(a=to_pick_r, size=round(count_r), replace=True, p=prob_r)
        unique_r, counts_r = np.unique(rand_routes, return_counts=True)
        temp_type_dict_r = dict(zip(unique_r, counts_r))

        for pair in df_temp.index:
            # store trip count data previous draw
            if pair in temp_type_dict_r.keys():
                main_dict['trip_count'].append(temp_type_dict_r[pair])
                main_dict['origin'].append(df_temp.origin[pair])
                main_dict['destination'].append(df_temp.destination[pair])
                main_dict['route_v'].append(df_temp.route_v[pair])
                main_dict['hour'].append(i)
                # print(main_dict['trip_count'])
                # determine parameters to randomly draw ship types for each OD pair
                prob = list(df_temp.iloc[pair, 4:-1].values / df_temp.iloc[pair, 4:-1].sum())
                to_pick = type_list
                # goes wrong now because may be zero ...
                count = temp_type_dict_r[pair]

                # randomly draw ship types for each OD pair
                rand_vessels = np.random.choice(a=to_pick, size=round(count), replace=True, p=prob)
                unique, counts = np.unique(rand_vessels, return_counts=True)
                temp_type_dict = dict(zip(unique, counts))
                for key in type_list:
                    if key in temp_type_dict.keys():
                        main_dict[key].append(temp_type_dict[key])
                    else:
                        main_dict[key].append(0)
    break

    df_return = pd.DataFrame.from_dict(main_dict)

    return df_return

In [4]:
a1 = random_vessel_generator(df_ivs, 1)

In [93]:
a1

,origin,destination,trip_count,actual,hour,M12,M8,BII-6b,M10,BIIa-1,...,B04,M0,C2l,BII-2L,B02,C1b,C2b,B01,C1l,route_v
0,NLRTM,NLAMS,155,155,0,0,94,0,0,2,...,0,0,0,0,0,0,0,0,0,1
1,NLRTM,NLAMS,161,161,0,98,0,0,14,0,...,0,0,0,3,0,0,0,0,0,1
2,NLRTM,NLAMS,55,55,0,0,39,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,NLRTM,NLAMS,25,25,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,NLRTM,NLAMS,80,80,0,9,20,0,3,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2850,NLTNZ,NLVLI,5,5,23,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2851,NLTNZ,NLVLI,3,3,23,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2852,NLTNZ,NLVLI,19,19,23,0,16,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2853,NLTNZ,NLVLI,3,3,23,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
2854,NLTNZ,NLVLI,4,4,23,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0