In [1]:
import pandas as pd
import pickle
import numpy as np
import networkx as nx
import re
import time

In [7]:
df_ivs = pickle.load(open('data/ivs_exploded_100.p', 'rb'))
df_ivs_old = pickle.load(open('data/ivs_exploded_100_old.p', 'rb'))
routes_dests = pickle.load(open('data/users_ship_specific_routes.p', 'rb'))
df_ships = pd.read_excel('data/ship_types.xlsx')

G = pickle.load(open("data/network.p", "rb"))
paths = pickle.load(open("data/paths.p", "rb"))
df_random = pickle.load(open("data/df_random.p", "rb"))
df_abm = pickle.load(open("data/df_abm.p", "rb"))
non_zero_flows = pickle.load(open("data/non_zero_flows.p", "rb"))
feasible_combinations = pickle.load(open('data/feasible_comb.p', 'rb'))
optimal_flows = pickle.load(open('data/optimal_flows.p', 'rb'))
agent_data = pickle.load(open('data/agent_data.p', 'rb'))
model_data = pickle.load(open('data/model_data.p', 'rb'))
path_lengths = pickle.load(open('data/path_lengths_ship_specific_routes.p', 'rb'))

In [14]:
a = pd.DataFrame.from_dict(model_data.loc[1440].item()).sort_values(by='id')
b = a.loc[a.time_departed>(24*60)]
b = b.loc[b.route==('NLRTM', 'NLMOE', 0)]
b['pure_travel_time'] = b['travel_time'] - b['time_in_line'] - b['time_charging'] - b['time_charging_dest']

In [15]:
b

,id,route,time_departed,travel_time,time_in_line,time_charging,time_charging_dest,full_charging_info,distance_travelled,battery_size,pure_travel_time
118,114,"(NLRTM, NLMOE, 0)",1445,298,0,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,102.695264
129,141,"(NLRTM, NLMOE, 0)",1642,226,36,66.331874,28.236735,"{'8865003': 38.09513943927192, '8863306': 28.2...",31833.219456,2300.0,95.431391
144,148,"(NLRTM, NLMOE, 0)",1754,237,0,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,173.113650
152,150,"(NLRTM, NLMOE, 0)",1769,277,116,71.965654,26.186465,"{'8866686': 45.77918848200924, '30984595': 26....",36936.280437,2300.0,62.847881
147,156,"(NLRTM, NLMOE, 0)",1815,179,25,50.228595,0.000000,{'8866686': 50.22859536530241},35280.085687,4750.0,103.771405
183,182,"(NLRTM, NLMOE, 0)",2168,252,52,66.331874,28.236735,"{'8865003': 38.09513943927192, '8863306': 28.2...",31833.219456,2300.0,105.431391
185,185,"(NLRTM, NLMOE, 0)",2208,237,0,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,173.113650
193,196,"(NLRTM, NLMOE, 0)",2352,203,0,41.817921,17.801420,"{'8865003': 24.016500950845344, '8863306': 17....",31833.219456,1450.0,143.380659
214,216,"(NLRTM, NLMOE, 0)",2594,204,0,50.228595,0.000000,{'8866686': 50.22859536530241},35280.085687,4750.0,153.771405
241,248,"(NLRTM, NLMOE, 0)",2884,190,16,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,110.113650
248,251,"(NLRTM, NLMOE, 0)",2956,237,0,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,173.113650
260,264,"(NLRTM, NLMOE, 0)",3218,204,0,50.228595,0.000000,{'8866686': 50.22859536530241},35280.085687,4750.0,153.771405
279,282,"(NLRTM, NLMOE, 0)",3404,275,113,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,-33.304736
289,291,"(NLRTM, NLMOE, 0)",3485,298,0,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,102.695264
299,306,"(NLRTM, NLMOE, 0)",3644,204,0,30.934443,0.000000,{'8865003': 30.934443210113688},40270.328995,2300.0,173.065557
338,335,"(NLRTM, NLMOE, 0)",4085,309,0,148.624719,54.080743,"{'8866686': 94.54397621284517, '30984595': 54....",36936.280437,4750.0,106.294537
334,339,"(NLRTM, NLMOE, 0)",4169,204,0,50.228595,0.000000,{'8866686': 50.22859536530241},35280.085687,4750.0,153.771405
345,347,"(NLRTM, NLMOE, 0)",4257,303,88,148.624719,54.080743,"{'8866686': 94.54397621284517, '30984595': 54....",36936.280437,4750.0,12.294537
344,352,"(NLRTM, NLMOE, 0)",4370,185,11,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,110.113650
348,360,"(NLRTM, NLMOE, 0)",4428,226,52,19.502149,0.000000,{'8865003': 19.502148980289064},40270.328995,1450.0,154.497851
355,363,"(NLRTM, NLMOE, 0)",4451,298,0,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,102.695264
356,365,"(NLRTM, NLMOE, 0)",4470,280,118,66.331874,28.236735,"{'8865003': 38.09513943927192, '8863306': 28.2...",31833.219456,2300.0,67.431391
357,367,"(NLRTM, NLMOE, 0)",4532,237,0,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,173.113650
365,371,"(NLRTM, NLMOE, 0)",4599,190,36,50.228595,0.000000,{'8866686': 50.22859536530241},35280.085687,4750.0,103.771405
380,382,"(NLRTM, NLMOE, 0)",4738,229,9,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,24.695264
403,405,"(NLRTM, NLMOE, 0)",4965,298,0,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,102.695264
411,408,"(NLRTM, NLMOE, 0)",4998,309,0,148.624719,54.080743,"{'8866686': 94.54397621284517, '30984595': 54....",36936.280437,4750.0,106.294537
404,409,"(NLRTM, NLMOE, 0)",5002,262,100,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,-33.304736
420,420,"(NLRTM, NLMOE, 0)",5185,237,0,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,173.113650
425,432,"(NLRTM, NLMOE, 0)",5288,194,15,41.817921,17.801420,"{'8865003': 24.016500950845344, '8863306': 17....",31833.219456,1450.0,119.380659
438,441,"(NLRTM, NLMOE, 0)",5399,223,33,66.331874,28.236735,"{'8865003': 38.09513943927192, '8863306': 28.2...",31833.219456,2300.0,95.431391
442,447,"(NLRTM, NLMOE, 0)",5454,237,0,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,173.113650
454,457,"(NLRTM, NLMOE, 0)",5579,298,0,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,102.695264
459,462,"(NLRTM, NLMOE, 0)",5701,261,107,50.228595,0.000000,{'8866686': 50.22859536530241},35280.085687,4750.0,103.771405
462,469,"(NLRTM, NLMOE, 0)",5756,226,26,66.331874,28.236735,"{'8865003': 38.09513943927192, '8863306': 28.2...",31833.219456,2300.0,105.431391
482,483,"(NLRTM, NLMOE, 0)",5997,237,0,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,173.113650
489,495,"(NLRTM, NLMOE, 0)",6121,237,0,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,173.113650
490,497,"(NLRTM, NLMOE, 0)",6178,181,7,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,110.113650
494,498,"(NLRTM, NLMOE, 0)",6182,266,104,66.331874,28.236735,"{'8865003': 38.09513943927192, '8863306': 28.2...",31833.219456,2300.0,67.431391
504,507,"(NLRTM, NLMOE, 0)",6334,288,88,66.331874,28.236735,"{'8865003': 38.09513943927192, '8863306': 28.2...",31833.219456,2300.0,105.431391
526,530,"(NLRTM, NLMOE, 0)",6623,262,22,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,44.695264
527,532,"(NLRTM, NLMOE, 0)",6643,243,81,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,-33.304736
528,534,"(NLRTM, NLMOE, 0)",6653,234,72,41.817921,17.801420,"{'8865003': 24.016500950845344, '8863306': 17....",31833.219456,1450.0,102.380659
535,547,"(NLRTM, NLMOE, 0)",6751,211,32,41.817921,17.801420,"{'8865003': 24.016500950845344, '8863306': 17....",31833.219456,1450.0,119.380659
541,551,"(NLRTM, NLMOE, 0)",6781,237,0,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,173.113650
547,557,"(NLRTM, NLMOE, 0)",6842,277,57,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,24.695264
573,571,"(NLRTM, NLMOE, 0)",7088,237,0,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,173.113650
598,599,"(NLRTM, NLMOE, 0)",7440,251,31,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,24.695264
601,601,"(NLRTM, NLMOE, 0)",7472,237,0,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,173.113650
611,605,"(NLRTM, NLMOE, 0)",7526,284,64,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,24.695264
620,624,"(NLRTM, NLMOE, 0)",7782,217,43,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,110.113650
630,626,"(NLRTM, NLMOE, 0)",7799,298,0,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,102.695264
633,633,"(NLRTM, NLMOE, 0)",7883,237,0,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,173.113650
637,643,"(NLRTM, NLMOE, 0)",7978,237,0,63.886350,0.000000,{'8865003': 63.88635010784349},40270.328995,4750.0,173.113650
644,644,"(NLRTM, NLMOE, 0)",8011,309,0,148.624719,54.080743,"{'8866686': 94.54397621284517, '30984595': 54....",36936.280437,4750.0,106.294537
643,653,"(NLRTM, NLMOE, 0)",8109,204,0,50.228595,0.000000,{'8866686': 50.22859536530241},35280.085687,4750.0,153.771405
653,660,"(NLRTM, NLMOE, 0)",8202,204,0,50.228595,0.000000,{'8866686': 50.22859536530241},35280.085687,4750.0,153.771405
654,664,"(NLRTM, NLMOE, 0)",8237,170,16,50.228595,0.000000,{'8866686': 50.22859536530241},35280.085687,4750.0,103.771405
667,668,"(NLRTM, NLMOE, 0)",8263,298,0,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,102.695264
668,672,"(NLRTM, NLMOE, 0)",8322,240,78,136.989740,58.314996,"{'8865003': 78.67474449414854, '8863306': 58.3...",31833.219456,4750.0,-33.304736

In [15]:
a = agent_data.loc[agent_data.station_status==1].reset_index().sort_values(by='Step')
a.groupby(['AgentID']).count()

          Step  vessel_status  station_status
AgentID
103       2090           2090            2090
104       3478           3478            3478
113       3357           3357            3357
116       2809           2809            2809
124       3694           3694            3694
30984595  4117           4117            4117
8862663   2864           2864            2864
8863306   2727           2727            2727
8863360   5026           5026            5026
8863469   2730           2730            2730
8863709   1852           1852            1852
8863818   4259           4259            4259
8864005   3251           3251            3251
8864837   4041           4041            4041
8865003   3768           3768            3768
8865412   3408           3408            3408
8865600   3145           3145            3145
8866686   4459           4459            4459
8866763   3156           3156            3156
8867240   2648           2648            2648

In [7]:
df_abm.name.unique()

array([('113', '8867600'), ('113', '8865605'), ('8865756', '30986055'),
       ('8863630', '8863818'), ('8863630', '8868359'),
       ('8863630', '8861698'), ('8867785', '8862614'),
       ('8867785', '8863891'), ('8863272', '8863656'),
       ('8863272', '8866747'), ('8863272', '8866889'),
       ('8862202', '8862340'), ('8862202', '8861996'),
       ('8866747', '8863796'), ('8866747', '8865186'),
       ('8867910', '8865449'), ('8867910', '8864151'),
       ('8867910', '8863019'), ('8861718', '8866182'),
       ('8863656', '8866429'), ('8863656', '8863260'),
       ('8861528', '8863891'), ('8868457', '8864526'),
       ('8868457', '8861499'), ('8865846', '8861231'),
       ('8865846', '8866095'), ('8865846', '8867240'), ('8865846', '132'),
       ('8866686', '8865140'), ('8866686', '8863048'),
       ('8865449', '8862813'), ('8865449', '8861231'),
       ('8863709', '8862690'), ('8865600', '8861687'),
       ('8865600', '8864553'), ('22638029', '8864151'),
       ('22638029', '8867986'), ('8866182', '8866388'),
       ('30986055', '8867600'), ('8864384', '8865887'),
       ('8864384', '8862592'), ('8864384', '8867515'), ('104', '8865140'),
       ('104', '8861231'), ('8865735', '8865631'), ('8865735', '8865119'),
       ('8865735', '116'), ('8867829', '8867515'), ('8867829', '8865887'),
       ('8867374', '8863742'), ('8867374', '8867538'),
       ('8867374', '8867500'), ('8868359', '8866893'), ('116', '8865387'),
       ('8863710', '8866388'), ('8863710', '8863306'),
       ('8863710', '8864009'), ('8864566', '8863114'),
       ('8861996', '8865631'), ('8861996', '8865412'),
       ('8868222', '8864574'), ('8863469', '8863755'),
       ('22638146', '8865631'), ('8863665', '8865003'),
       ('8863665', '8862663'), ('8864553', '8863114'),
       ('8864553', '22638320'), ('8863048', '8866570'),
       ('8864574', '8863207'), ('8864574', '124'), ('130', '8861687'),
       ('130', '8865412'), ('8860631', '8862813'), ('8860631', '8866095'),
       ('8860631', '8862340'), ('8860631', '124'), ('8862614', '8864111'),
       ('8863131', '8866570'), ('8863131', '8867986'),
       ('8863131', '8865003'), ('8863891', '8863105'),
       ('8865186', '8863796'), ('8865186', '125'), ('8866763', '8866429'),
       ('8864009', '8863306'), ('8864009', '8863742'),
       ('8862813', '8866095'), ('8861687', '22638327'),
       ('132', '8864837'), ('8864837', '8865887'), ('8868266', '8862690'),
       ('8867515', '8864076'), ('125', '8862716'), ('8867538', '8863360'),
       ('8867740', '8863818'), ('8863742', '8867500'),
       ('8861698', '8860725'), ('8862570', '8860920'),
       ('8863360', '8862716'), ('8863360', '107'), ('8862592', '8863796'),
       ('8862592', '107'), ('30984595', '8860725'),
       ('8861499', '8864076'), ('8863105', '8863755'),
       ('8865140', '8867500'), ('8864076', '8864005'),
       ('8862663', '8860725'), ('8864526', '8862690'),
       ('8864526', '8864005'), ('8865119', '8860920'),
       ('8865387', '8864151'), '113', '8865756', '8863630', '8867785',
       '8863272', '8862202', '8866747', '8867910', '8861718', '8863656',
       '8861528', '8868457', '8865846', '8866686', '8865449', '8863709',
       '8865600', '22638029', '8866182', '30986055', '8864384', '104',
       '8865735', '8867829', '8867374', '8868359', '116', '8863710',
       '8861231', '8864566', '8861996', '8868222', '8863469', '8863019',
       '22638146', '8863665', '8867240', '8864553', '8866889', '8863048',
       '8864574', '130', '8860631', '8862614', '8863260', '8863131',
       '8865412', '8863891', '8865186', '22638320', '8866763', '8864009',
       '8866388', '8862813', '8865631', '8866570', '8863306', '8861687',
       '132', '8867600', '8864837', '8868266', '8867515', '125',
       '8865003', '8867538', '8867740', '22638327', '8863742', '8861698',
       '8862570', '8866095', '8866429', '8863360', '124', '8863207',
       '8862592', '8862716', '30984595', '8861499', '8865887', '8863105',
       '8862340', '8865140', '8864076', '8862663', '8863755', '8864526',
       '8865119', '8867986', '8867500', '107', '8863796', '8860725',
       '8863114', '8865387', '8865605', '8866893', '8862690', '8860920',
       '8863818', '8864111', '8864151', '8864005'], dtype=object)

In [6]:
non_zero_flows[('NLAMS', 'NLAER', 0)]

{'combinations': [['8866763', '8864005']], 'flows': [1.0]}

In [7]:
paths[('NLAMS', 'NLAER', 0)]

['8866763',
 '8866429',
 '8863656',
 '8863272',
 '8866747',
 '8863796',
 '8862592',
 '8864384',
 '8867515',
 '8864076',
 '8864005']

In [17]:
b = paths[('NLRTM', 'NLMOE', 0)]

In [18]:
b

['8863306',
 '8864009',
 '8863742',
 '8867500',
 '8865140',
 '8866686',
 '8863048',
 '8866570',
 '8863131',
 '8865003',
 '8863665',
 '8862663',
 '8860725',
 '30984595']

In [21]:
a1 =0
for i in range(len(b)-1):
    a= nx.dijkstra_path_length(G, b[i], b[i+1], weight='length_m')
    a1 += a
    print(a1)

651.3288639667403
6996.762906768998
10007.337408030617
14556.048863932916
16466.65623370402
20820.840025923724
23680.350412349708
24511.968247677236
29680.936364439298
30621.59769203691
32658.20175697774
40612.65112786819
46891.852618728226

In [20]:
a1

46891.852618728226

In [16]:
path_lengths['NLRTM', 'NLMOE', 0]

46891.852618728226

In [128]:
path_lengths[('NLKGZ', 'NLAMS', 0)]

3458.9417007141014

In [22]:
paths[('NLKGZ', 'NLAMS', 0)]

['8863260', '8863656', '8866429', '8866763']

In [28]:
agent_data.reset_index().loc[agent_data.reset_index().AgentID.str.len()<4]

        Step AgentID Vessel_status
112        0     113             0
133        0     104             0
138        0     116             0
153        0     130             0
170        0     132             0
...      ...     ...           ...
336812  1440     130             0
336829  1440     132             0
336834  1440     125             0
336845  1440     124             0
336862  1440     107             0

[11528 rows x 3 columns]

In [29]:
agent_data.reset_index(inplace=True)

In [37]:

agent_data.loc[agent_data.station_status == 1]

             vessel_status  station_status
Step AgentID
6    8865003             0             1.0
36   8863818             0             1.0
37   8863818             0             1.0
38   8863818             0             1.0
39   8863818             0             1.0
...                    ...             ...
1440 113                 0             1.0
     8866686             0             1.0
     104                 0             1.0
     8864837             0             1.0
     8865003             0             1.0

[8976 rows x 2 columns]

In [23]:
agent_data.loc[agent_data.Vessel_status!=0]

             Vessel_status
Step AgentID
7    0             driving
8    0             driving
10   1             driving
11   1            charging
     2             driving
...                    ...
1440 178            inline
     180           driving
     181          charging
     183            inline
     185           driving

[28901 rows x 1 columns]

In [5]:
df_abm.loc[df_abm.name]

,id,source,target,length_m,X,Y,name,charging_stations,model_type,range,capacity
0,1000,113,8867600,20435.805397,5.269204,53.215456,"(113, 8867600)",NaN,link,100000,2500
1,1001,113,8865605,20435.805397,5.151546,53.267585,"(113, 8865605)",NaN,link,100000,2500
2,1002,8865756,30986055,2481.139176,5.412350,53.178500,"(8865756, 30986055)",NaN,link,100000,2500
3,1003,8863630,8863818,7765.172161,4.835893,51.681540,"(8863630, 8863818)",NaN,link,100000,2500
4,1004,8863630,8868359,1034.856186,4.830372,51.711997,"(8863630, 8868359)",NaN,link,100000,2500
...,...,...,...,...,...,...,...,...,...,...,...
211,1211,NaN,NaN,NaN,5.536470,51.816354,8860920,0.0,intermediate_node,100000,2500
212,1212,NaN,NaN,NaN,4.846061,51.651560,8863818,1.0,harbour_with_charging,100000,2500
213,1213,NaN,NaN,NaN,3.705824,51.451397,8864111,0.0,harbour,100000,2500
214,1214,NaN,NaN,NaN,4.961690,51.824861,8864151,0.0,intermediate_node,100000,2500
215,1215,NaN,NaN,NaN,5.239614,52.403333,8864005,1.0,harbour_with_charging,100000,2500

In [8]:
o = {}
for key, item in optimal_flows.items():
    if item != 0:
        a = (re.sub('''["'_']''', "", key[16:35]).split(','))
        a = tuple([a[0], a[1], int(a[2])])
        o[a] = {'combinations':[], 'flows':[]}

for key, item in optimal_flows.items():
    if item != 0:
        a = (re.sub('''["'_']''', "", key[16:35]).split(','))
        a = tuple([a[0], a[1], int(a[2])])
        o[a]['combinations'].append(key[40:-4].split("',_'"))
        o[a]['flows'].append(item)
        print(a)
        print(key[40:-4].split("',_'"))

('NLABL', 'NLRTM', 0)
['8866686']
('NLAER', 'NLLEY', 0)
['8863709']
('NLAER', 'NLLEY', 0)
['8864005']
('NLAER', 'NLRTM', 0)
['8863360', '886400']
('NLAER', 'NLSWI', 0)
['8864005', '886826']
('NLALK', 'NLIJM', 0)
['8863260']
('NLALK', 'NLIJM', 0)
['8866889']
('NLAMS', 'NLAER', 0)
['8866763', '886400']
('NLAMS', 'NLTIE', 0)
['8864837', '2263814']
('NLAMS', 'NLUTC', 1)
['8864837']
('NLAMS', 'NLUTC', 1)
['8867240', '886676']
('NLAMS', 'NLWMO', 0)
['8866889']
('NLAMS', 'NLZAA', 0)
['8866889']
('NLDOR', 'NLRTM', 0)
['8862663']
('NLDOR', 'NLRTM', 1)
['8862663']
('NLDRO', 'NLKAM', 0)
['8868191']
('NLFAR', 'NLEEM', 0)
['8863614']
('NLGOR', 'NLRTM', 0)
['8866686']
('NLHAR', 'NLWTE', 0)
['113']
('NLHAR', 'NLWTE', 0)
['8865756', '886560']
('NLHTB', 'NLBON', 0)
['8865990', '886820']
('NLHTB', 'NLBZM', 0)
['112', '886677']
('NLIJM', 'NLRTM', 1)
['8863360', '886326']
('NLKGZ', 'NLAMS', 0)
['8863260']
('NLKGZ', 'NLZAA', 0)
['8866889']
('NLLEY', 'NLAMS', 0)
['8863709', '886676']
('NLMOE', 'NLOOS', 0)
['8863818']
('NLNIJ', 'NLAMS', 0)
['8865412', '886483']
('NLNIJ', 'NLDRU', 0)
['8865412']
('NLNIJ', 'NLWAS', 0)
['22638327', '886456']
('NLNIJ', 'NLWAS', 0)
['8865600']
('NLNRW', 'NLBON', 0)
['8868208']
('NLOOS', 'NLTLB', 0)
['8863818']
('NLOOS', 'NLTLB', 0)
['8867740']
('NLRTM', 'NLAPN', 0)
['8863360']
('NLRTM', 'NLGTB', 1)
['8865003']
('NLRTM', 'NLLID', 0)
['105']
('NLRTM', 'NLMOE', 0)
['30984595']
('NLRTM', 'NLMOE', 0)
['8863306']
('NLRTM', 'NLMOE', 1)
['30984595']
('NLRTM', 'NLMOE', 1)
['8865003']
('NLRTM', 'NLOOS', 1)
['8862663']
('NLSWI', 'NLLEY', 0)
['8868266']
('NLTLB', 'NLMOE', 0)
['8863818']
('NLTNZ', 'NLBRS', 0)
['8861528']
('NLTNZ', 'NLBRS', 0)
['8863469']
('NLTNZ', 'NLVLI', 0)
['8863469']
('NLTNZ', 'NLVLI', 0)
['8864111']
('NLUTC', 'NLRTM', 0)
['104']
('NLUTC', 'NLTIE', 0)
['22638146']
('NLUTC', 'NLTIE', 0)
['8867240']
('NLVEG', 'NLHEJ', 0)
['8865990', '886560']
('NLVEN', 'NLBON', 0)
['22637863', '886820']
('NLWSP', 'NLAER', 0)
['8864005']
('NLWSP', 'NLAER', 0)
['8864837']

In [9]:
o

{('NLABL', 'NLRTM', 0): {'combinations': [['8866686']], 'flows': [1.0]},
 ('NLAER', 'NLLEY', 0): {'combinations': [['8863709'], ['8864005']],
  'flows': [0.40542137, 0.59457863]},
 ('NLAER', 'NLRTM', 0): {'combinations': [['8863360', '886400']],
  'flows': [0.21725455]},
 ('NLAER', 'NLSWI', 0): {'combinations': [['8864005', '886826']],
  'flows': [1.0]},
 ('NLALK', 'NLIJM', 0): {'combinations': [['8863260'], ['8866889']],
  'flows': [0.56482298, 0.43517702]},
 ('NLAMS', 'NLAER', 0): {'combinations': [['8866763', '886400']],
  'flows': [0.5437747]},
 ('NLAMS', 'NLTIE', 0): {'combinations': [['8864837', '2263814']],
  'flows': [0.21140541]},
 ('NLAMS', 'NLUTC', 1): {'combinations': [['8864837'], ['8867240', '886676']],
  'flows': [0.96552342, 0.034476582]},
 ('NLAMS', 'NLWMO', 0): {'combinations': [['8866889']], 'flows': [1.0]},
 ('NLAMS', 'NLZAA', 0): {'combinations': [['8866889']], 'flows': [1.0]},
 ('NLDOR', 'NLRTM', 0): {'combinations': [['8862663']], 'flows': [1.0]},
 ('NLDOR', 'NLRTM', 1): {'combinations': [['8862663']], 'flows': [1.0]},
 ('NLDRO', 'NLKAM', 0): {'combinations': [['8868191']], 'flows': [1.0]},
 ('NLFAR', 'NLEEM', 0): {'combinations': [['8863614']], 'flows': [1.0]},
 ('NLGOR', 'NLRTM', 0): {'combinations': [['8866686']], 'flows': [0.60469325]},
 ('NLHAR', 'NLWTE', 0): {'combinations': [['113'], ['8865756', '886560']],
  'flows': [0.54177269, 0.43341815]},
 ('NLHTB', 'NLBON', 0): {'combinations': [['8865990', '886820']],
  'flows': [1.0]},
 ('NLHTB', 'NLBZM', 0): {'combinations': [['112', '886677']],
  'flows': [0.60835071]},
 ('NLIJM', 'NLRTM', 1): {'combinations': [['8863360', '886326']],
  'flows': [0.78052072]},
 ('NLKGZ', 'NLAMS', 0): {'combinations': [['8863260']], 'flows': [1.0]},
 ('NLKGZ', 'NLZAA', 0): {'combinations': [['8866889']], 'flows': [1.0]},
 ('NLLEY', 'NLAMS', 0): {'combinations': [['8863709', '886676']],
  'flows': [1.0]},
 ('NLMOE', 'NLOOS', 0): {'combinations': [['8863818']], 'flows': [1.0]},
 ('NLNIJ', 'NLAMS', 0): {'combinations': [['8865412', '886483']],
  'flows': [0.25477039]},
 ('NLNIJ', 'NLDRU', 0): {'combinations': [['8865412']], 'flows': [1.0]},
 ('NLNIJ', 'NLWAS', 0): {'combinations': [['22638327', '886456'], ['8865600']],
  'flows': [0.316878, 0.683122]},
 ('NLNRW', 'NLBON', 0): {'combinations': [['8868208']], 'flows': [0.67207657]},
 ('NLOOS', 'NLTLB', 0): {'combinations': [['8863818'], ['8867740']],
  'flows': [0.052299703, 0.9477003]},
 ('NLRTM', 'NLAPN', 0): {'combinations': [['8863360']], 'flows': [1.0]},
 ('NLRTM', 'NLGTB', 1): {'combinations': [['8865003']], 'flows': [0.55303197]},
 ('NLRTM', 'NLLID', 0): {'combinations': [['105']], 'flows': [1.0]},
 ('NLRTM', 'NLMOE', 0): {'combinations': [['30984595'], ['8863306']],
  'flows': [0.41361748, 0.58638252]},
 ('NLRTM', 'NLMOE', 1): {'combinations': [['30984595'], ['8865003']],
  'flows': [0.46235904, 0.53764096]},
 ('NLRTM', 'NLOOS', 1): {'combinations': [['8862663']], 'flows': [0.16791769]},
 ('NLSWI', 'NLLEY', 0): {'combinations': [['8868266']], 'flows': [1.0]},
 ('NLTLB', 'NLMOE', 0): {'combinations': [['8863818']], 'flows': [0.93958958]},
 ('NLTNZ', 'NLBRS', 0): {'combinations': [['8861528'], ['8863469']],
  'flows': [0.70712941, 0.19945754]},
 ('NLTNZ', 'NLVLI', 0): {'combinations': [['8863469'], ['8864111']],
  'flows': [0.46206676, 0.53793324]},
 ('NLUTC', 'NLRTM', 0): {'combinations': [['104']], 'flows': [0.58966401]},
 ('NLUTC', 'NLTIE', 0): {'combinations': [['22638146'], ['8867240']],
  'flows': [0.46566828, 0.53433172]},
 ('NLVEG', 'NLHEJ', 0): {'combinations': [['8865990', '886560']],
  'flows': [0.62698548]},
 ('NLVEN', 'NLBON', 0): {'combinations': [['22637863', '886820']],
  'flows': [1.0]},
 ('NLWSP', 'NLAER', 0): {'combinations': [['8864005'], ['8864837']],
  'flows': [0.37966186, 0.62033814]}}

In [55]:
a = o[('NLAMS', 'NLUTC', 1)]
combi = np.random.choice(a=np.arange(len(a)), size=1, replace=False, p=[0.5,0.5])

In [61]:
a = [1,2,3]
a = [i/sum(a) for i in a]

In [62]:
a

[0.16666666666666666, 0.3333333333333333, 0.5]

In [98]:
df_abm.loc[df_abm.name == '8864005']

,id,source,target,length_m,X,Y,name,charging_stations,model_type,range,capacity
143,1143,NaN,NaN,NaN,5.239614,52.403333,8864005,5.0,harbour_with_charging,100000,5

In [81]:
updated_feasible_combinations = {}
for key, combinations in feasible_combinations.items():
    updated_feasible_combinations[key] = []
    if len(combinations) > 1:
        for combi in combinations:
            # print(combi)
            feasible = True
            for node in combi:
                if not node in charging_points:
                    feasible = False
                    break
            if feasible:
                updated_feasible_combinations[key].append(combi)
    else:
        feasible = True
        for node in combinations:
            if not node in charging_points:
                feasible = False
                break
        if feasible:
            updated_feasible_combinations[key].append(combinations)

In [28]:
a = [1]
a[0]

1

In [4]:
# extract data
df_links = nx.to_pandas_edgelist(G)
df_nodes = pd.DataFrame.from_dict(dict(G.nodes(data=True)), orient='index')

In [7]:
for _, row in df_abm.iterrows():  # index, row in ...
    # create agents according to model_type

    model_type = row['model_type']
    agent = None

    name = row['name']
    if pd.isna(name):
        name = ""
        print("error, nameless entry")
    else:
        name = name
    break

In [10]:
a =[1,3,34,6]
a[::-1]

[6, 34, 3, 1]

In [36]:
df_random.trip_count.iloc[0]

54

In [3]:
%%time
type_list = list(df_random.iloc[:, 4:-2])
for hour in range(24):
    df_1 = df_random.loc[(df_random.hour == hour)]
    for timestep in range(60):
        for harbour in list(set(list(df_1.origin.unique()) + list(df_1.destination.unique()))):
            a = df_1.loc[(df_1.origin==harbour)|(df_1.destination == harbour)]
            for i,j in enumerate(a.index):
                # chance that a vessel is generated is equal to 1/2 (either spawn at origin or dest) * trip_count/365
                # (because trip_count is yearly) *(time_step/hours)
                if 0.5 * (df_1.trip_count[j]/365) * (1/60) >= np.random.random():
                    # determine vessel type
                    prob = list(a.iloc[i, 4:-2].values / a.iloc[i, 4:-2].sum())
                    to_pick = type_list
                    ship_type = np.random.choice(a=to_pick, size=1, replace=True, p=prob)
                    # randomly draw ship types for each OD pair
                    print(ship_type, "Vessel departed at", df_1.origin[j], hour, ':', timestep, "heading to", df_1.destination[j], "via route", df_1.key[j])

['M10'] Vessel departed at NLTNZ 3 : 14 heading to NLVLI via route ('NLTNZ', 'NLVLI', 0)
['M8'] Vessel departed at NLOOS 3 : 44 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['M11'] Vessel departed at NLGOR 4 : 37 heading to NLRTM via route ('NLGOR', 'NLRTM', 0)
['M11'] Vessel departed at NLGOR 4 : 43 heading to NLRTM via route ('NLGOR', 'NLRTM', 0)
['M2'] Vessel departed at NLLEY 5 : 4 heading to NLAMS via route ('NLLEY', 'NLAMS', 0)
['M9'] Vessel departed at NLNIJ 5 : 43 heading to NLWAS via route ('NLNIJ', 'NLWAS', 0)
['M8'] Vessel departed at NLOOS 6 : 4 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['M8'] Vessel departed at NLUTC 6 : 47 heading to NLRTM via route ('NLUTC', 'NLRTM', 0)
['M12'] Vessel departed at NLHAR 7 : 3 heading to NLWTE via route ('NLHAR', 'NLWTE', 0)
['M8'] Vessel departed at NLDOR 7 : 28 heading to NLRTM via route ('NLDOR', 'NLRTM', 0)
['M0'] Vessel departed at NLTNZ 7 : 37 heading to NLVLI via route ('NLTNZ', 'NLVLI', 0)
['M3'] Vessel departed at NLTLB 7 : 50 heading to NLMOE via route ('NLTLB', 'NLMOE', 0)
['M2'] Vessel departed at NLAMS 8 : 0 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['BIIL-1'] Vessel departed at NLKGZ 8 : 5 heading to NLZAA via route ('NLKGZ', 'NLZAA', 0)
['M3'] Vessel departed at NLAER 8 : 42 heading to NLSWI via route ('NLAER', 'NLSWI', 0)
['M8'] Vessel departed at NLRTM 8 : 42 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M2'] Vessel departed at NLNRW 8 : 57 heading to NLBON via route ('NLNRW', 'NLBON', 0)
['M2'] Vessel departed at NLKGZ 9 : 6 heading to NLAMS via route ('NLKGZ', 'NLAMS', 0)
['M3'] Vessel departed at NLOOS 9 : 21 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['M2'] Vessel departed at NLAMS 9 : 34 heading to NLWMO via route ('NLAMS', 'NLWMO', 0)
['M6'] Vessel departed at NLNIJ 9 : 41 heading to NLDRU via route ('NLNIJ', 'NLDRU', 0)
['M4'] Vessel departed at NLAMS 10 : 12 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M0'] Vessel departed at NLKGZ 10 : 20 heading to NLZAA via route ('NLKGZ', 'NLZAA', 0)
['M2'] Vessel departed at NLALK 10 : 30 heading to NLIJM via route ('NLALK', 'NLIJM', 0)
['M4'] Vessel departed at NLAMS 10 : 44 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M10'] Vessel departed at NLLEY 10 : 51 heading to NLAMS via route ('NLLEY', 'NLAMS', 0)
['BIIa-1'] Vessel departed at NLKGZ 10 : 57 heading to NLZAA via route ('NLKGZ', 'NLZAA', 0)
['M5'] Vessel departed at NLRTM 11 : 0 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M6'] Vessel departed at NLRTM 12 : 14 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M8'] Vessel departed at NLDOR 12 : 17 heading to NLRTM via route ('NLDOR', 'NLRTM', 0)
['M5'] Vessel departed at NLAMS 12 : 22 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['M2'] Vessel departed at NLAMS 12 : 30 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M2'] Vessel departed at NLAMS 13 : 46 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M2'] Vessel departed at NLAMS 14 : 0 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M10'] Vessel departed at NLTNZ 14 : 0 heading to NLVLI via route ('NLTNZ', 'NLVLI', 0)
['M2'] Vessel departed at NLKGZ 14 : 1 heading to NLAMS via route ('NLKGZ', 'NLAMS', 0)
['M2'] Vessel departed at NLHAR 14 : 11 heading to NLWTE via route ('NLHAR', 'NLWTE', 0)
['BIIa-1'] Vessel departed at NLKGZ 14 : 12 heading to NLZAA via route ('NLKGZ', 'NLZAA', 0)
['M4'] Vessel departed at NLAER 14 : 20 heading to NLLEY via route ('NLAER', 'NLLEY', 0)
['M5'] Vessel departed at NLAMS 14 : 39 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['M8'] Vessel departed at NLTNZ 14 : 52 heading to NLBRS via route ('NLTNZ', 'NLBRS', 0)
['M8'] Vessel departed at NLKGZ 15 : 21 heading to NLAMS via route ('NLKGZ', 'NLAMS', 0)
['M8'] Vessel departed at NLGOR 15 : 25 heading to NLRTM via route ('NLGOR', 'NLRTM', 0)
['M9'] Vessel departed at NLDOR 15 : 30 heading to NLRTM via route ('NLDOR', 'NLRTM', 0)
['M2'] Vessel departed at NLKGZ 15 : 34 heading to NLAMS via route ('NLKGZ', 'NLAMS', 0)
['M8'] Vessel departed at NLRTM 16 : 0 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M8'] Vessel departed at NLOOS 16 : 15 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['M3'] Vessel departed at NLSWI 16 : 38 heading to NLLEY via route ('NLSWI', 'NLLEY', 0)
['M6'] Vessel departed at NLFAR 16 : 45 heading to NLEEM via route ('NLFAR', 'NLEEM', 0)
['M8'] Vessel departed at NLAER 16 : 58 heading to NLNIE via route ('NLAER', 'NLNIE', 0)
['M8'] Vessel departed at NLRTM 17 : 5 heading to NLMOE via route ('NLRTM', 'NLMOE', 0)
['M8'] Vessel departed at NLMOE 17 : 8 heading to NLOOS via route ('NLMOE', 'NLOOS', 0)
['BIIa-1'] Vessel departed at NLAMS 17 : 14 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['M2'] Vessel departed at NLHTB 17 : 50 heading to NLBON via route ('NLHTB', 'NLBON', 0)
['M8'] Vessel departed at NLNIJ 18 : 20 heading to NLAMS via route ('NLNIJ', 'NLAMS', 0)
['M2'] Vessel departed at NLAMS 18 : 39 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['BI'] Vessel departed at NLAMS 19 : 23 heading to NLAER via route ('NLAMS', 'NLAER', 0)
['M8'] Vessel departed at NLOOS 19 : 31 heading to NLTLB via route ('NLOOS', 'NLTLB', 0)
['BII-1'] Vessel departed at NLUTC 19 : 52 heading to NLRTM via route ('NLUTC', 'NLRTM', 0)
['M4'] Vessel departed at NLAMS 20 : 19 heading to NLTIE via route ('NLAMS', 'NLTIE', 0)
['M8'] Vessel departed at NLRTM 20 : 20 heading to NLOOS via route ('NLRTM', 'NLOOS', 1)
['M9'] Vessel departed at NLABL 20 : 35 heading to NLRTM via route ('NLABL', 'NLRTM', 0)
['M8'] Vessel departed at NLRTM 21 : 31 heading to NLGTB via route ('NLRTM', 'NLGTB', 1)
['M4'] Vessel departed at NLLEY 21 : 35 heading to NLAMS via route ('NLLEY', 'NLAMS', 0)
['BIIL-1'] Vessel departed at NLTNZ 22 : 3 heading to NLVLI via route ('NLTNZ', 'NLVLI', 0)
['C3b'] Vessel departed at NLRTM 23 : 29 heading to NLMOE via route ('NLRTM', 'NLMOE', 1)
CPU times: total: 26.4 s
Wall time: 26.3 s

In [18]:
type_list

['M12',
 'M8',
 'BII-6b',
 'M10',
 'BIIa-1',
 'M9',
 'BII-6l',
 'C3b',
 'BII-4',
 'M7',
 'M6',
 'BIIL-1',
 'C3l',
 'M5',
 'M11',
 'BI',
 'M3',
 'M2',
 'M1',
 'BII-1',
 'BII-2b',
 'M4',
 'B03',
 'C4',
 'B04',
 'M0',
 'C2l',
 'BII-2L',
 'B02',
 'C1b',
 'C2b',
 'B01',
 'C1l']

In [19]:
def random_vessel_generator(df_prob, load=1):
    """ Function to generate random vessel data.
    Parameters
    ----------
    df_prob: pd.DataFrame
    This dataframe must contain historical travel data
    load: float
    This float is equal to the simulated occupation of the network and may be read as the part of the traffic that is
    electric.
    """
    df_prob = df_prob.loc[df_prob.trip_count != 0]
    df_prob.reset_index(inplace=True, drop=True)
    df_prob = df_prob.fillna(0)

    # create dict to store random prob based values later on
    main_dict = {i: [] for i in df_prob.columns}

    # copy origin and destination from original df
    main_dict['origin'] = []
    main_dict['destination'] = []
    main_dict['route_v'] = []
    main_dict['hour'] = []
    main_dict['trip_count'] = []

    # fill nan values and create type list
    type_list = list(df_prob.iloc[:, 4:-1])
    for i in range(24):
        df_temp = df_prob.loc[df_prob.hour == i]
        df_temp = df_temp.reset_index(drop=True)
        total = df_temp.trip_count.sum()
        prob_r = [i / total for i in df_temp.trip_count]
        to_pick_r = list(np.arange(0, len(df_temp)))
        count_r = total * 1
        # randomly draw ODs
        rand_routes = np.random.choice(a=to_pick_r, size=round(count_r), replace=True, p=prob_r)
        unique_r, counts_r = np.unique(rand_routes, return_counts=True)
        temp_type_dict_r = dict(zip(unique_r, counts_r))

        for pair in df_temp.index:
            # store trip count data previous draw
            if pair in temp_type_dict_r.keys():
                main_dict['trip_count'].append(temp_type_dict_r[pair])
                main_dict['origin'].append(df_temp.origin[pair])
                main_dict['destination'].append(df_temp.destination[pair])
                main_dict['route_v'].append(df_temp.route_v[pair])
                main_dict['hour'].append(i)
                # print(main_dict['trip_count'])
                # determine parameters to randomly draw ship types for each OD pair
                prob = list(df_temp.iloc[pair, 4:-1].values / df_temp.iloc[pair, 4:-1].sum())
                to_pick = type_list
                # goes wrong now because may be zero ...
                count = temp_type_dict_r[pair]

                # randomly draw ship types for each OD pair
                rand_vessels = np.random.choice(a=to_pick, size=round(count), replace=True, p=prob)
                unique, counts = np.unique(rand_vessels, return_counts=True)
                temp_type_dict = dict(zip(unique, counts))
                for key in type_list:
                    if key in temp_type_dict.keys():
                        main_dict[key].append(temp_type_dict[key])
                    else:
                        main_dict[key].append(0)
    break

    df_return = pd.DataFrame.from_dict(main_dict)

    return df_return

In [4]:
a1 = random_vessel_generator(df_ivs, 1)

In [93]:
a1

,origin,destination,trip_count,actual,hour,M12,M8,BII-6b,M10,BIIa-1,...,B04,M0,C2l,BII-2L,B02,C1b,C2b,B01,C1l,route_v
0,NLRTM,NLAMS,155,155,0,0,94,0,0,2,...,0,0,0,0,0,0,0,0,0,1
1,NLRTM,NLAMS,161,161,0,98,0,0,14,0,...,0,0,0,3,0,0,0,0,0,1
2,NLRTM,NLAMS,55,55,0,0,39,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,NLRTM,NLAMS,25,25,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,NLRTM,NLAMS,80,80,0,9,20,0,3,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2850,NLTNZ,NLVLI,5,5,23,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2851,NLTNZ,NLVLI,3,3,23,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2852,NLTNZ,NLVLI,19,19,23,0,16,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2853,NLTNZ,NLVLI,3,3,23,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
2854,NLTNZ,NLVLI,4,4,23,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0