In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/df_road_N1andN2.csv')

In [3]:
df

,Unnamed: 0,length,condition,lat,lon,intersection,model_type,id,road,name
0,0,4.0,NaN,23.706028,90.443333,NaN,sourcesink,10000,N1,NaN
1,1,1800.0,NaN,23.702383,90.451097,0,link,10001,N1,NaN
2,2,11.3,A,23.698739,90.458861,NaN,bridge,10002,N1,NaN
3,3,3125.0,NaN,23.696701,90.473318,0,link,10003,N1,NaN
4,4,6.6,A,23.694664,90.487775,NaN,bridge,10004,N1,NaN
...,...,...,...,...,...,...,...,...,...,...
3036,3036,4.0,NaN,24.916306,91.949583,N2,intersection,12147,N210,NaN
3037,3037,10844.0,NaN,24.882139,91.923152,0,link,13037,N210,NaN
3038,3038,4.0,NaN,24.848000,91.896750,N208,intersection,13038,N210,NaN
3039,3039,10844.0,NaN,24.848000,91.896750,0,link,13039,N210,NaN
3040,3040,4.0,NaN,24.848000,91.896750,NaN,sourcesink,13040,N210,NaN